/*
Buttons
===================================================================
######Basic button layout

Creates a basic button. Button type classes can be added by using multiple classes on the `.btn` element.

Adding the class `is--disabled` changes the element to a disabled button.
```
<button class="btn">
    Basic button
</button>

<button class="btn is--disabled">
    Disabled button
</button>
```
*/
.btn {
    .unitize-padding(2, 10);
	.unitize(line-height, 26);
    .unitize(height, 40);
    .border-radius(0px);
    .appearance();
    .unitize(font-size, 16);
	.unitize(border, 0);
	font-weight: 400;
    -webkit-font-smoothing: inherit;
    display: inline-block;
    position: relative;
	font-size: 16px;
	color: #FFF;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
	width: 296px;
	background-color: #846140;
	margin-bottom: 15px;
    /** Button icon font size */
    [class^="icon--"] {
        .unitize(font-size, 16);
    }

    /** Larger icon */
    .is--large {
        @largeFontSize: 14 + 2;
        .unitize(font-size, 16);
    }
	
    &:hover {
        background: #E8712D;
        color: #FFF;
    }
	
    &:focus {
        outline: none;
    }

/*
######Icon alignment

To work properly the button needs the class `is--icon-left` or `is--icon-right` and an `icon` inside it.
```
<button class="btn is--icon-left">
    <i class="icon--account"></i>
    Icon left
</button>

<button class="btn is--icon-right">
    <i class="icon--account"></i>
    Icon right
</button>
```
*/
    &.is--icon-right {
        .unitize(padding-right, 36);

        [class^="icon--"] {
            .unitize-height(16);
            .unitize(line-height, 32);
            .unitize-margin(-16, 0, 0, 0);
            .unitize(right, 12);
            font-weight: normal;
            display: block;
            position: absolute;
            top: 50%;
        }
    }

    &.is--icon-left {
        .unitize(padding-left, 36);

        [class^="icon--"] {
            .unitize-height(16);
            .unitize(line-height, 32);
            .unitize-margin(-16, 0, 0, 0);
            .unitize(left, 12);
            font-weight: normal;
            display: block;
            position: absolute;
            top: 50%;
        }
    }

    &:disabled,
    &:disabled:hover,
    &.is--disabled,
    &.is--disabled:hover {
        .opacity(0.5);
        border: 0;
        color: #FFF;;
        cursor: not-allowed;
    }    

/*
######Button size class
Adding a button-size class creates a larger or smaller button or changes the button properies.

Options: `is--large`, `is--small`, `is--full`, `is--center`
```
<button class="btn is--large">
    Large button
</button>

<button class="btn is--small">
    Small button
</button>
```
*/

    /** State: Small button */
    &.is--small {
        .unitize(line-height, 28);
	    .unitize(height, 28);
    }

    /** State: Medium button */
    &.is--medium {
        .unitize(line-height, 32);
        .unitize(height, 32);
    }

    /** State: Large button */
    &.is--large {
        .unitize(line-height, 36);
        .unitize(height, 36);
    }

    /** State: Button with 100% width */
    &.is--full {
        display: block;
    }

    /** State: Button with text align center */
    &.is--center {
        text-align: center;
    }
	
	
}

/*
######Button type class

Options: `is--primary`, `is--secondary`
```
<button class="btn is--primary">
    Primary
</button>

<button class="btn is--secondary">
    Secondary
</button>
```
*/
.is--primary {
    .unitize-padding(2, 12);
    .unitize(line-height, 34);
    /*.linear-gradient(@btn-primary-top-bg, @btn-primary-bottom-bg);*/
    border: 0 none;
   /* color: @btn-primary-text-color;*/
/*
    &:hover {
        background: @btn-primary-hover-bg;
        color: @btn-primary-hover-text-color;
    }
*/
    /** State: Small button */
    &.is--small {
        .unitize(line-height, 30);
    }

    /** State: Large button */
    &.is--large {
        .unitize(line-height, 38);
    }
}

.is--secondary {
    .unitize-padding(2, 12);
    .unitize(line-height, 34);
    /*.linear-gradient(@btn-secondary-top-bg, @btn-secondary-bottom-bg);*/
    border: 0 none;
   /* color: @btn-secondary-text-color;*/
/*
    &:hover {
        background: @btn-secondary-hover-bg;
        color: @btn-secondary-hover-text-color;
    }
*/
    /** State: Small button */
    &.is--small {
        .unitize(line-height, 30);
    }

    /** State: Large button */
    &.is--large {
        .unitize(line-height, 38);
    }
}

.is--link {
    .unitize-padding(2, 12);
    .unitize(line-height, 34);

    border: 0 none;
    background: transparent;

    /** State: Small button */
    &.is--small {
        .unitize(line-height, 30);
    }

    /** State: Large button */
    &.is--large {
        .unitize(line-height, 38);
    }
}
.buybox--button-container .buy{
	background: #846140;
	color: #FFF;
	font-size: 16px;
	border: none;
	cursor: pointer;
	.unitize-margin(15, 0, 10, 0);
	.unitize(line-height, 30);
	.unitize-width(296);
	.unitize-height(40);
	.border-radius(0);
	.unitize(font-size, 16);
	&:disabled,
	&:disabled:hover,
	&.is--disabled,
	&.is--disabled:hover {
		.opacity(0.5);
		cursor: not-allowed;
	}
	&:hover,
	&:focus {
		background: #FF6600;
		color: #FFF;
	}
}