// out: null
// font-family: 'Raleway', sans-serif;
@btn-font-size: 16px;
@shoe-size: 75px;
@brown: #846140;
@brown-2: #6c4118;
@box_bg: #F2F0EB;
@white: #fff;
@header: #ded9cd;
@white-grey: #E4E4E4;
@white-grey-2: #D3D3D3;
@white-grey-3: #CCCCCC;
@white-grey-4: #F2F2F2;
@white-grey-5: #F3F2EE;
@white-grey-6: #E7E8E7;
@white-grey-7: #D7D7D7;
@white-grey-8: #E9E9E9;
@white-grey-9: #d2cdc6;
@white-grey-10: #EBE9E3;
@white-grey-11: #e6e6e6;
@white-grey-12: #dfdacf;
@white-grey-13: #BDBDBD;
@white-grey-14: #EDEDED;
@grey-1: #999;
@orange: #ff6c00;
@orange-2: #E8712D;
@red: #CC3300;
@orange-light: #D3A86D;
@light-fluo-yellow: #FEFCA6;
@fluo-yellow: #F9F450;
@green: #76A41B;
@dark-grey: #424242;
@light-grey: #717171;
@light-grey-2: #666;
@dark-grey-2: #333333;
@black: #000;
@line-height-base: .unitize(line-height, 24);

@text-color-dark: #000;
@btn-secondary-text-color: #000;
@adv-menu-text-color: #000;
@link-color: #000;
@border-color: #000;

@color0: #ffffff; // white color 2 times
@color1: #ff6600; // Orange 2 times

// Width variables (appears count calculates by raw css)
@width4: 92%; // border-size 1 times
@width5: 95%; // border-size 1 times

@color0: #ff6600; // Appears 5 times
@color1: #f2f0eb; // Appears 3 times

// Color variables (appears count calculates by raw css)
@color0: #000000; // Appears 9 times
@color1: #aaaaaa; // Appears 9 times
@color2: #777777; // Appears 8 times
@color3: #ffffff; // Appears 7 times

// Width variables (appears count calculates by raw css)
@width12: 14px; // Appears 7 times

// Height variables (appears count calculates by raw css)
@height8: 14px; // Appears 8 times

// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 22 times
@color1: #846341; // Appears 13 times
@color2: #ff6600; // Appears 11 times
@color3: #846140; // Appears 11 times
@color4: #999999; // Appears 6 times

// Width variables (appears count calculates by raw css)
@width10: 100%; // Appears 16 times

// Height variables (appears count calculates by raw css)
@height5: 36px; // Appears 8 times

