a.bottom-button-white {
  background-clip: padding-box;
  background-color: #f2f0eb;
  border-radius: 0;
  border: none;
  color: #846341;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.5rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
}
a.bottom-button-white:hover {
  background-color: #ff6600;
  color: #ffffff;
}
a.bottom-button-white:hover::before {
  border-left-color: #ff6600;
  border-right-color: #ff6600;
}
a.bottom-button-white:hover::after {
  border-left-color: #ff6600;
  border-right-color: #ff6600;
}
a.bottom-button-white::before {
  border-left-color: transparent;
  border-right-color: transparent;
}
a.bottom-button-white::before {
  border-bottom: 18px solid transparent;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  color: #f2f0eb;
  content: "";
  left: -14px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
}
a.bottom-button-white::after {
  border-bottom: 18px solid transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  color: #f2f0eb;
  content: "";
  left: -14px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  z-index: 2;
}
.top-12 {
  top: 12px !important;
}
