// Color variables (appears count calculates by raw css)
@color0: #ff6600; // Appears 5 times
@color1: #f2f0eb; // Appears 3 times



a.bottom-button-white {
	background-clip: padding-box;
	background-color: @color1;
	border-radius: 0;
	border: none;
	color: #846341;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 2.5rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @color0;
		color: #ffffff;
		&::before {
			border-left-color: @color0;
			border-right-color: @color0;
		}
		&::after {
			border-left-color: @color0;
			border-right-color: @color0;
		}
	}
	&::before {
		border-left-color: transparent;
		border-right-color: transparent;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-bottom: 18px solid transparent;
		border-right: 1em solid;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		border-top: 18px solid transparent;
		color: @color1;
		content: "";
		content: "";
		left: -14px;
		left: -14px;
		margin-top: -18px;
		margin-top: -18px;
		position: absolute;
		position: absolute;
		top: 50%;
		top: 50%;
	}
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		color: @color1;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
}
.top-12 {
	top: 12px !important;
}