/*
Internet Explorer fixes
====================================
The `ie.less` contains the required specific internet explorer fixes.

More precise designations are commented inside the document.
*/
.forms--inner-form textarea:required,
.forms--inner-form input:required {
  outline: none;
}
/*
    * Fixing the IE rem-based line-height issue on :after and :before elements
    * http://bit.ly/1ybSEei
    */
.checkbox .checkbox--state:checked ~ .checkbox--state:before {
  line-height: 12px;
}
.checkbox.is--active .checkbox--state:before,
a:hover .checkbox .checkbox--state:before {
  line-height: 12px;
}
.filter-panel--checkbox input[type="checkbox"]:checked ~ .checkbox--state:before {
  line-height: 12px;
}
