.jcf-radio {
  background: #ffffff;
  border-radius: 9px;
  border: 0;
  cursor: default;
  display: inline-block;
  height: 16px;
  margin: 0 3px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 16px;
}
.jcf-radio span {
  background: none;
  border-radius: 100%;
  bottom: 3px;
  display: none;
  left: 3px;
  position: absolute;
  right: 3px;
  top: 3px;
}
.jcf-radio input[type="radio"] {
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.konfigurator--variant .jcf-radio {
  background: none;
  border: 0;
}
.configurator--variant .jcf-radio {
  background: none;
  border: 0;
  height: 50px;
  left: 10px;
  position: absolute;
  top: 0;
  width: 50px;
}
.jcf-radio.jcf-checked span {
  display: block;
}
.jcf-checkbox {
  background: #ffffff;
  border: 1px solid #777777;
  cursor: default;
  display: inline-block;
  height: 16px;
  margin: 0 3px 0 0;
  overflow: hidden;
  position: relative;
  vertical-align: middle;
  width: 16px;
}
.jcf-checkbox span {
  -moz-transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 0 3px 3px;
  border: 3px solid #777777;
  display: none;
  height: 4px;
  left: 50%;
  margin: -7px 0 0 -6px;
  position: absolute;
  top: 50%;
  transform: rotate(-45deg);
  width: 8px;
}
.jcf-checkbox input[type="checkbox"] {
  border: 0;
  height: 100%;
  left: 0;
  margin: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
:root .jcf-checkbox span {
  margin: -4px 0 0 -5px;
}
.jcf-checkbox.jcf-checked span {
  display: block;
}
.jcf-button {
  background: #ffffff;
  border: 1px solid #777777;
  display: inline-block;
  margin: 0 10px 10px 0;
  overflow: hidden;
  padding: 5px 10px;
  position: relative;
  vertical-align: top;
}
.jcf-button .jcf-real-element {
  border: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0;
  outline: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.jcf-file {
  background: #ffffff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
}
.jcf-file .jcf-real-element {
  font-size: 200px;
  height: 200px;
  margin: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.jcf-file .jcf-fake-input {
  border: 1px solid #777777;
  display: inline-block;
  font-size: 13px;
  height: 28px;
  line-height: 28px;
  overflow: hidden;
  padding: 0 8px;
  text-overflow: ellipsis;
  vertical-align: top;
  white-space: nowrap;
  width: 125px;
}
.jcf-file .jcf-upload-button {
  border: 1px solid #777777;
  display: inline-block;
  height: 28px;
  line-height: 28px;
  margin: 0 0 0 -1px;
  overflow: hidden;
  padding: 0 10px;
  vertical-align: top;
  white-space: nowrap;
}
.jcf-scrollable-wrapper {
  box-sizing: content-box;
  position: relative;
}
.jcf-scrollbar-vertical {
  background: #e3e3e3;
  bottom: 0;
  cursor: default;
  position: absolute;
  right: 0;
  top: 0;
  width: 14px;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec {
  background: #bbbbbb;
  height: 14px;
  left: 0;
  top: 0;
  width: 14px;
}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
  background: #bbbbbb;
  bottom: 0;
  height: 14px;
  left: 0;
  top: 0;
  top: auto;
  width: 14px;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
  background: #888888;
  height: 1px;
  width: 14px;
}
.jcf-scrollbar-horizontal {
  background: #e3e3e3;
  bottom: 0;
  height: 14px;
  left: 0;
  position: absolute;
  right: auto;
  top: auto;
  width: 1px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec {
  background: #bbbbbb;
  display: inline-block;
  height: 14px;
  overflow: hidden;
  vertical-align: top;
  width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
  background: #bbbbbb;
  display: inline-block;
  height: 14px;
  left: auto;
  overflow: hidden;
  right: 0;
  vertical-align: top;
  width: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
  display: inline-block;
  height: 14px;
  position: relative;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
  background: #888888;
  height: 14px;
  position: absolute;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
  visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec {
  background: #e3e3e3;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
  background: #e3e3e3;
}
.jcf-select {
  background: #ffffff;
  border: 1px solid #777777;
  display: inline-block;
  height: 26px;
  margin: 0 0 12px;
  min-width: 150px;
  position: relative;
  vertical-align: top;
}
.jcf-select select {
  left: 0;
  top: 0;
  z-index: 1;
}
.jcf-select .jcf-select-text {
  cursor: default;
  display: block;
  font-size: 13px;
  line-height: 26px;
  margin: 0 35px 0 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.jcf-select .jcf-select-opener {
  background: #aaaaaa;
  bottom: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 26px;
}
.jcf-select .jcf-select-drop {
  left: -1px;
  margin-top: 0px;
  position: absolute;
  right: -1px;
  top: 100%;
  z-index: 9999;
}
.jcf-select .jcf-drop-flipped {
  bottom: 100%;
  top: auto;
}
body > .jcf-select-drop {
  margin: -1px 0 0;
  position: absolute;
  z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
  margin: 1px 0 0;
}
.jcf-select.jcf-compact-multiple {
  max-width: 220px;
}
.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
  content: '...';
  display: inline-block;
  padding-top: 2px;
}
.jcf-select-drop .jcf-select-drop-content {
  border: 1px solid #ff0000;
}
.jcf-select-drop .jcf-hover {
  background: #e6e6e6;
  color: #000000;
}
.jcf-select-drop.jcf-compact-multiple .jcf-hover {
  background: none;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected {
  background: #e6e6e6;
  color: #000000;
}
.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
  -moz-transform: rotate(-45deg);
  -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  border-width: 0 0 3px 3px;
  border: 3px solid #777777;
  content: '';
  display: inline-block;
  height: 4px;
  margin: -7px 5px 0 -3px;
  transform: rotate(-45deg);
  width: 8px;
}
.jcf-list-box {
  border: 1px solid #b8c3c9;
  display: inline-block;
  margin: 0 15px;
  min-width: 200px;
  overflow: hidden;
}
.jcf-list-box .jcf-selected {
  background: #e6e6e6;
  color: #000000;
}
.jcf-list {
  background: #ffffff;
  display: inline-block;
  font-size: 12px;
  line-height: 14px;
  position: relative;
  vertical-align: top;
  width: 100%;
}
.jcf-list .jcf-list-content {
  display: inline-block;
  overflow: auto;
  vertical-align: top;
  width: 100%;
}
.jcf-list ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.jcf-list ul li {
  display: block;
  overflow: hidden;
}
.jcf-list .jcf-overflow {
  overflow: auto;
}
.jcf-list .jcf-option {
  color: #656565;
  cursor: default;
  display: block;
  height: 1%;
  min-height: 14px;
  overflow: hidden;
  padding: 5px 9px;
  white-space: nowrap;
}
.jcf-list .jcf-disabled {
  background: #ffffff !important;
  color: #aaaaaa !important;
}
.jcf-list .jcf-optgroup-caption {
  color: #000000;
  cursor: default;
  display: block;
  font-weight: bold;
  padding: 5px 9px;
  white-space: nowrap;
}
.jcf-list .jcf-optgroup .jcf-option {
  padding-left: 30px;
}
.jcf-textarea {
  border: 1px solid #b8c3c9;
  box-sizing: content-box;
  display: inline-block;
  position: relative;
}
.jcf-textarea .jcf-scrollbar-horizontal {
  display: none;
  height: 0;
}
.jcf-textarea textarea {
  border: none;
  margin: 0;
  padding: 8px 10px;
}
.jcf-textarea .jcf-resize {
  background: #e3e3e3;
  bottom: 0;
  cursor: se-resize;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  position: absolute;
  right: 0;
  text-align: center;
  text-indent: 1px;
  width: 14px;
}
.jcf-textarea .jcf-resize:before {
  border-width: 0 1px 1px 0;
  border: 1px solid #000000;
  content: '';
  display: block;
  height: 6px;
  margin: 4px 0 0 3px;
  width: 6px;
}
.jcf-number {
  display: inline-block;
  height: 32px;
  position: relative;
}
.jcf-number input {
  -moz-appearance: textfield;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: 1px solid #777777;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 3px 27px 3px 7px;
}
.jcf-number input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
.jcf-number input::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
.jcf-number .jcf-btn-dec {
  background: #aaaaaa;
  bottom: 1px;
  height: 15px;
  position: absolute;
  right: 1px;
  top: 1px;
  top: auto;
  width: 20px;
}
.jcf-number .jcf-btn-dec:hover {
  background: #e6e6e6;
}
.jcf-number .jcf-btn-dec:before {
  border-color: #000000 transparent transparent transparent;
  border-color: transparent transparent #000000 transparent;
  border: 4px solid #aaaaaa;
  content: '';
  height: 0;
  left: 50%;
  margin: -1px 0 0 -4px;
  margin: -6px 0 0 -4px;
  position: absolute;
  top: 50%;
  width: 0;
}
.jcf-number .jcf-btn-inc {
  background: #aaaaaa;
  height: 15px;
  position: absolute;
  right: 1px;
  top: 1px;
  width: 20px;
}
.jcf-number .jcf-btn-inc:hover {
  background: #e6e6e6;
}
.jcf-number .jcf-btn-inc:before {
  border-color: transparent transparent #000000 transparent;
  border: 4px solid #aaaaaa;
  content: '';
  height: 0;
  left: 50%;
  margin: -6px 0 0 -4px;
  position: absolute;
  top: 50%;
  width: 0;
}
.jcf-number .jcf-btn-dec.jcf-disabled:before {
  opacity: 0.3;
}
.jcf-number .jcf-btn-inc.jcf-disabled:before {
  opacity: 0.3;
}
.jcf-number.jcf-disabled .jcf-btn-dec:hover {
  background: #aaaaaa;
}
.jcf-number.jcf-disabled .jcf-btn-dec:before {
  opacity: 0.3;
}
.jcf-number.jcf-disabled .jcf-btn-inc:hover {
  background: #aaaaaa;
}
.jcf-number.jcf-disabled .jcf-btn-inc:before {
  opacity: 0.3;
}
.jcf-number.jcf-disabled input {
  background: #dddddd;
}
.jcf-range {
  display: inline-block;
  margin: 0 10px;
  min-width: 200px;
  width: 130px;
}
.jcf-range .jcf-range-track {
  display: block;
  height: 10px;
  margin: 0 20px 0 0;
  position: relative;
}
.jcf-range .jcf-range-wrapper {
  background: #e5e5e5;
  border-radius: 5px;
  display: block;
  margin: 5px 0;
  position: relative;
}
.jcf-range .jcf-range-display-wrapper {
  left: 10px;
  min-height: 10px;
  min-width: 10px;
  position: absolute;
  right: 10px;
}
.jcf-range .jcf-range-display {
  background: #888888;
  border-radius: 5px;
  height: 10px;
  position: absolute;
  width: 10px;
}
.jcf-range .jcf-range-display.jcf-range-min {
  margin: 0 0 0 -10px;
  padding: 0 0 0 10px;
}
.jcf-range .jcf-range-display.jcf-range-max {
  margin: 0 -10px 0 0;
  padding: 0 10px 0 0;
}
.jcf-range .jcf-range-handle {
  background: #aaaaaa;
  border-radius: 19px;
  height: 19px;
  left: 0;
  margin: -4px 0 0;
  position: absolute;
  top: 0;
  width: 19px;
  z-index: 1;
}
.jcf-range .jcf-range-mark {
  background: #000000;
  height: 3px;
  margin: 0 0 0 9px;
  overflow: hidden;
  position: absolute;
  top: -7px;
  width: 1px;
}
.jcf-range .jcf-active-handle {
  z-index: 2;
}
.jcf-range.jcf-vertical {
  min-width: 0;
  width: auto;
}
.jcf-range.jcf-vertical .jcf-range-wrapper {
  height: auto;
  margin: 0;
  padding: 20px 0 0;
  width: 10px;
}
.jcf-range.jcf-vertical .jcf-range-track {
  height: 180px;
  width: 10px;
}
.jcf-range.jcf-vertical .jcf-range-handle {
  left: -5px;
  top: auto;
}
.jcf-range.jcf-vertical .jcf-range-display-wrapper {
  bottom: 10px;
  left: auto;
  right: auto;
  top: 10px;
}
.jcf-range.jcf-vertical .jcf-range-display.jcf-range-min {
  margin: 0 0 -10px;
  padding: 0 0 10px;
}
.jcf-range.jcf-vertical .jcf-range-display.jcf-range-max {
  margin: -10px 0 0;
  padding: 10px 0 0;
}
.jcf-range.jcf-vertical .jcf-range-mark {
  height: 1px;
  left: 14px;
  margin: 0 0 9px;
  top: auto;
  width: 3px;
}
.jcf-range.jcf-focus .jcf-active-handle {
  border: 1px solid #ff0000;
  margin: -5px 0 0 -1px;
}
.jcf-range.jcf-disabled {
  background: none !important;
  opacity: 0.3;
}
.jcf-disabled {
  background: #dddddd !important;
}
