
@color0: #ffffff; // white color 2 times
@color1: #ff6600; // Orange 2 times

// Width variables (appears count calculates by raw css)
@width4: 92%; // border-size 1 times
@width5: 95%; // border-size 1 times



.other_models{
	.container{
		.item{
			.product--image{
				.product_icon_letter{
					display: none;
				}
			}
		}
	}
}
section.models_list{
	&.section{
		&.configurator{
			.container{
				.row{
					h2{
						margin-top: 60px;
						margin-bottom: 60px;

					}
				}
			}
		}
	}
}
#mobile {
	.margin-bottom-10{
		margin-bottom: 10px;
	}
	.warenkorb{
		.article-1 {
			ul li form{
				margin-top:0px;
			}
		}
	}
	.article-1 ul li p{
		position: relative;
		top: 10px;
	}
	.text-align-right{
			text-align: right;
		}
	.text-align-left{
		text-align: left;
	}
	.warenkorb-article-head {
		line-height: 30px;
		padding-top: 15px;
		span {
			float: left;
			font-size: 16px;
			font-weight: 300;
		}
	}
	.paypal-button{ 
		padding-bottom: 100px !important;
		img{
			margin: 0px auto;
		}
	}
	.article-1{
		margin: 20px 0px;
	}
	.warenkorb-border {
		bottom: 0px;
		width: @width5;
		margin-left: 15px;
	}
	.warenkorb-border-top {
		bottom: 5px;
		top:10px;
		width: @width5;
		margin-left: 15px;
	}
	.warenkorb-article-body {
		.warenkorb-border {
			margin-left: 0px;
			width: 100%;
		}
		ul {
			li {
				input.navbar-text {
					border-radius: 5px;
					color: #333333;
					float: right;
					text-align: center;
					width: 53px;
				}
			}
		}
	}
	.navbar-text {
		font-size: 16px;
		font-weight: 400;
		margin: 0px;
	}
	p.navbar-text{
		float:right;
	}
	.margin-top-10 {
		margin-top: 10px;
	}
	a.button {
		background: #e4e4e4;
		float: right;
		font-size: 15px;
		font-size: 18px;
		height: 30px;
		height: 40px;
		padding-top: 7px !important;
		text-align: center;
		text-decoration: none;
		width: 37px;
		width: 47px;
		&:hover {
			background-color: @color1;
			color:@color0;
		}
	}
	.padding-top-left-15 {
		padding-top: 15px;
		padding-top: 7px;
	}
	.warenkorb-article-summe {
		padding-right: 7px;
		padding-top: 10px;
	}
	form.warenkorb-forma {
		input[type="submit"] {
			background-color: #f2f2f2;
			&:focus {
				background-color: @color1;
				color: @color0;
			}
		}
	}
	.total-price {
		top: 20px;
		ul {
			&:last-of-type {
				color: #666666;
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
	}
	a.total-price-button {
		text-align: center;
		&::after {
			border-bottom: 20px solid transparent;
			border-top: 20px solid transparent;
			margin-top: -20px;
			right: -14px;
		}
	}
	.margin-auto {
		float: initial;
		margin: auto;
	}
}
a.total-price-button {
	&::before {
		border-bottom: 20px solid transparent;
		border-top: 20px solid transparent;
		margin-top: -20px;
		right: -14px;
	}
}


@media (max-width:767px)	{
	.row{
		&.items-row{
			margin-left: -10px;
			margin-right: -10px;
			.v_list{
				padding-left: 8px;
				padding-right: 8px;
			}
		}
	}
	#configurator{
		.form{
			.form_price_and_submit{
				.form_submit{
					margin: 10px 0px;
				}
			}
		}
	}
	
	section.section{
		&.articles{
			&.configurator{
				margin-top: 40px;
			}
		}
	}
	.narrow .container{
		padding: 0px 15px;
	}
	.product--details{
		.configurator--form{
			width: 100%;
		}
		.buybox--form{
			width: 100%;
			padding: 0rem 0rem 0rem 0rem !important;
		}
	}

	
	
	.other_models{
		.container{
			padding: 0px;
			.item{
				img{
					width: 100%;
					margin-bottom: 20px;
				}
				.product--image{
					.product_icon_letter{
						display: none;
					}
				}
			}
		}
	}

	#product_slider{
		.container{
			.row{
				.slider{
					padding:0px;
					
					button.slick-next{
						right: 0px;
					}
					button.slick-prev{
						left: 0px;
					}
				}
			}
		}
	}
	
	#product_top{
		.decoration{
			margin: 0px 0px;
			padding-bottom: 10px;
		}
		.gallery_wrapper{
			padding: 0px 0px;
			h1{
				margin-top: 0px;
				text-align: left;
			}
			p.highlight{
				margin-bottom: 20px;
			}
		}
		.gallery{ 
			.thumbs {
				    margin: 20px -1px 30px -3px;
				a {
					padding: 0px 7px;
				}
				img{
					margin-right: 0px;
					max-width: 23%;
				}
			}
		}
		.product_info{
			form{
				button{
					width: 100%;
					margin-top: 0px;
				}
			}
		}
	}
	
	
	#mobile {
		padding: 0px;
		.warenkorb {
			padding-left: 15px;
			.paypal-express--container > .paypal-express{
				float: none;
				padding: 35px 0px 90px 10px;
				margin: 0px auto;
				display: inline-block;
				width: 100%;
				.paypal-express--btn{
					float: none;
					margin: auto;
				}
			}
		}
		
		.article-1 ul li a.content--title{
			font-size: 16px;
			font-weight: 400;
		}
		 
	}
	
}

@media (max-width:600px)	{
	#product_top{
		.gallery{ 
			.thumbs {
				a {
					padding: 0px 5px;
				}
			}
		}
	}
}

@media (max-width:510px)	{
	#product_top{
		.gallery{ 
			.thumbs {
				a {
					padding: 0px 4px;
				}
			}
		}
	}
}


@media (max-width:570px)	{
	#mobile {
		
		.warenkorb-article-body {
			padding: 0px;
		}
		.warenkorb-article-head{
			padding-left: 0px;
		}
		.warenkorb-article-summe{
			padding-right: 0px;
			padding-left: 0px;
		}
		.warenkorb-border-top, .warenkorb-border {
			width: 100%;
			margin-left: 0px;
		}
		.total-price{
			padding-left: 0px;
			
			li.price {
				padding-right: 0px;
			}
		}
		.warenkorb-article-total{
			padding: 0px;
		}
		
	}
}





@media (max-width:460px)	{
	#product_top{
		.gallery{ 
			.thumbs {
				    margin: 20px -1px 20px -1px;
				a {
					padding: 0px 3px;
				}
				img{
					margin-right: 0px;
					max-width: 23%;
				}
			}
		}
	}
}

@media (max-width:420px) {
	#mobile {
		.article-1 {
			p.navbar-text{
				font-size: 12px;
			}
			a.button {
				font-size: 15px;
				height: 30px;
				width: 37px;
			}
		}
		input.form-warenkorb{
		    width: inherit;
		}
	}
}

@media (max-width:360px) {
	#product_top{
		.gallery{ 
			.thumbs {
				a {
					padding: 0px 2px;
				}
			}
		}
	}
}