@shoe-size: 50px;
@shoe-size: 50px;
#configurator {
	width: 100%;
	height: auto;
	overflow: hidden;
	.top {
		margin-bottom: 100px;
		h1 {
			text-align: center;
			color: #666666;
			margin-bottom: 40px;
		}
		p {
			width: 50%;
			float: left;
			padding-right: 15px;
			&:last-of-type {
				padding: 0 0 0 15px;
			}
		}
	}
	.form {
		text-align: center;
		vertical-align: top;
		.filters {
			width: auto;
			overflow: hidden;
			margin: 0 auto;
			display: inline-block;
			margin-bottom: 60px;

			h2 {
				.unitize(font-size, 24);
				color: #333333;
				text-align: center;
				.unitize(line-height, 36);
				margin-bottom: 20px;
			}

			.radio_wrapper {
				float: left;
				overflow: hidden;
				.input {
					width: 100%;
					height: auto;
					position: relative;
					text-align: center;
					overflow: hidden;

					.jcf-radio,
					.input {
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 10;
						cursor: pointer;
					}
					.jcf-checked::before {
						display: block;
						content: "\f058";
						width: 75px;
						height: 75px;
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 10;
						margin: -38px 0 0 -42px;
						font-family: 'FontAwesome';
						.unitize(font-size, 75);
						color: #FFF;
						cursor: pointer;
						.unitize(line-height, 75);
					}
				}
				img {
					display: inline-block;
				}
				label {
					display: block;
					font-weight: normal;
					padding: 5px 5px;
					overflow: hidden;
					cursor: pointer;
					margin-top: 10px;
					opacity: 1;
					position: relative;
					.unitize(font-size, 14);
					color: #333333;
					span {
						.name {
							margin-bottom: 0;
						}
						.description {
							.unitize(font-size, 16);
							color: #b1b1b1;
							margin-bottom: 0;
						}
					}
				}
				&:hover {
					.jcf-radio::before {
						display: block;
						content: "\f058";
						width: 75px;
						height: 75px;
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 10;
						margin: -38px 0 0 -42px;
						font-family: 'FontAwesome';
						.unitize(font-size, 75);
						color: #FFF;
						cursor: pointer;
						.unitize(line-height, 75);
					}
					label {
						background: #FFF;
					}
				}
				&.active label {
					background: #FFF;
				}
			}
		}

		#filters_1 .radio_wrapper {
			max-width: 274px;
			margin: 0 10px;
		}
		#filters_2 .radio_wrapper {
			max-width: 180px;
			margin: 0 10px;
		}
		#filters_3 .radio_wrapper {
			width: 229px;
			max-width: 20%;
			padding: 0 5px;
		}
		#filters_4 .radio_wrapper {
			max-width: 214px;
			margin: 0 10px;
		}
		#filters_5 .radio_wrapper {
			width: 140px;
			max-width: 14%;
			padding: 0 10px;
		}
		.tailor_made_trigger {
			display: none;
		}
		#filters_6 .radio_wrapper {
			display: block;
		}
		#filters_6 .radio_wrapper,
		.tailor_made_trigger {
			width: @shoe-size;
			height: @shoe-size;
			margin: 5px;
			position: relative;
			.input,
			span {
				width: @shoe-size;
				height: @shoe-size;
				.border-radius(50% 50%);
			}
			label {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 20;
				display: block;
				width: @shoe-size;
				height: @shoe-size;
				.border-radius(50% 50%);
				background: #333333;
				padding: 0;
				margin: 0;
				text-align: center;
				line-height: @shoe-size;
				color: #FFF;
				.unitize(font-size, 20);
				font-weight: bold;
			}
			&.active,
			&:hover {
				label {
					border: 3px solid #333;
					background: #FFF;
					color: #333;
					line-height: @shoe-size * 0.9;
				}
			}
			&.auto_width {
				width: 160px;
				.input,
				span,
				label {
					width: 100%;
					border-radius: @shoe-size @shoe-size;
					.unitize(font-size, 18);
					font-weight: normal;
				}
			}
		}

		.tailor_made_info {
			width: 100%;
			padding: 30px 60px 80px;
			background: #fff;
			display: table;
			text-align: left;
			color: #333333;
			.unitize(line-height, 24);
			margin-bottom: 20px;
			margin-top: 20px;
			.text_left,
			.text_right {
				float: left;
				width: 50%
			}
			.text_right {
			}
			h3 {
				.unitize(font-size, 20);
				text-align: center;
				margin-bottom: 40px;
				margin-top: 0;
				color: #666666;
			}
		}
		.form_price_and_submit {
			width: 100%;
			.unitize-padding(20, 0);
			background: #F2F0EB;
			vertical-align: top;
			h2 {
				width: 100%;
				.unitize-margin(0, 0, 20, 0);
				.unitize(font-size, 24);
				.unitize(line-height, 36);
				color: #333333;
				text-align: center;
			}
			p.price {
				display: inline-block;
				.unitize(font-size, 28);
				color: #333333;
				text-align: right;
				margin: 0 10px;
				vertical-align: top;
				position: relative;
				top: -3px;
			}
			.form_submit {
				display: inline-block;
				width: 270px;
				margin: 0 10px;
				p {
					.unitize(font-size, 12);
					color: #999999;
					.unitize(line-height, 20);
					text-align: left;
					margin: 0;
					a {
						color: #999999;
						text-decoration: underline;
					}
				}
				form {
					margin: 0
				}
				.buybox--button-container .buy {
					.unitize-margin(0, 0, 15, 0);
				}
			}
		}
	}
	.configurator {
		&.models_list {
			h2 {
				.unitize(line-height, 36);
				.unitize(height, 36);
				.unitize(font-size, 24);
				.unitize-margin(95, 0, 100, 0);
			}
		}
		.v_list .text {
			padding: 15px 15px;
			h3 {
				padding-left: 50px;
				.unitize(font-size, 16);
				.unitize(line-height, 20);
				&::before {
					width: 40px;
					height: 40px;
					.unitize(line-height, 40);
					.unitize(font-size, 26);
					top: -2px;
				}
			}
		}
	}
}

@media (max-width: 1100px) {
	#configurator .form #filters_6 .radio_wrapper {
		margin-bottom: 10px;
	}
}

@media (max-width: 800px) {
	#configurator .form #filters_1 .radio_wrapper {
		& + .radio_wrapper {
			margin-top: 20px;
		}
		width: 100%;
		max-width: 100%;
		.input {
			width: auto;
			float: left;
			overflow: hidden;
		}
	}

	#configurator .form #filters_2 .radio_wrapper {
		width: 25%;
		margin: 0;
		padding: 0 10px;
	}

	#configurator .form .filters .radio_wrapper label span p {
		.unitize(font-size, 16);
	}
}

@media (max-width: 767px) {
	#configurator {
		.form {
			.form_price_and_submit {
				.unitize-padding(20, 15);
				.form_submit {
					width: 95%;
				}
			}
		}

	}
}

@media (max-width: 700px) {
	#configurator .top,
	#configurator .form .filters {
		margin-bottom: 20px;
	}

	#configurator .top p {
		width: 100%;
		padding: 0 15px !important;
	}

	.radio_wrapper {
		padding: 0 15px;
	}

	#configurator .form .filters#filters_1 .radio_wrapper {
		+ .radio_wrapper {
			margin-top: 20px;
		}
		margin: 0;
		.input {
			padding-right: 15px;
			width: 50%;
		}
		label {
			text-align: left;
		}
	}

	#configurator .form .filters .radio_wrapper:hover .jcf-radio::before,
	#configurator .form .filters .radio_wrapper .input .jcf-checked::before {
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
		.unitize(font-size, 30);
		.unitize(line-height, 40);
	}

	#configurator .form #filters_3 .radio_wrapper {
		width: 33.3%;
		max-width: 33.3%;
		margin-bottom: 10px;
	}

	#configurator .form #filters_4 .radio_wrapper {
		width: 50%;
		margin: 0;
	}

	#configurator .form #filters_5 .radio_wrapper {
		width: 25%;
		max-width: 25%;
		margin-bottom: 10px;
	}

	#configurator .form #filters_6 {
		padding: 0 10px;
		margin-bottom: 0;
	}

	#configurator .form #filters_6 .radio_wrapper {
		margin: 0 4px 10px 4px;
	}

	.configurator.models_list h3.model::after {
		display: none;
		a {
			.unitize(font-size, 18);
			.unitize(line-height, 28);
		}
	}

	.configurator.models_list .item > a {
		overflow: visible;
		position: relative;
		display: block;
		margin-bottom: 20px;
		.product_icon_letter {
			display: block;
			content: '';
			width: 35px;
			height: 45px;
			position: absolute;
			right: 0;
			bottom: -55px;
			z-index: -10;
			padding: 10px 5px 5px;
		}
		.product_icon_background {
			display: block;
			content: '';
			width: 100%;
			height: 10px;
			position: absolute;
			right: 0;
			bottom: -10px;
			z-index: -10;
		}
	}

	.configurator.models_list .item.classic > a::before {
		background: #D3A86D;
		background-image: url(../img/model_headline_logo/c.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.classic > a::after {
		background: #D3A86D;
	}

	.configurator.models_list .item.run > a::before {
		background: #F9F450;
		background-image: url(../img/model_headline_logo/r.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.run > a::after {
		background: #F9F450;
	}

	.configurator.models_list .item.evo > a::before {
		background: #424242;
		background-image: url(../img/model_headline_logo/e.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.evo > a::after {
		background: #424242;
	}

	#configurator .form .configurator--form {
		padding-bottom: 0;
	}

	#configurator .form #filters_6 .tailor_made_trigger.auto_width {
		width: 100%;
	}

	#configurator .form .tailor_made_trigger label {
		display: block;
		.unitize-height(50);
		background: #333333;
		padding: 0;
		margin: 0;
		text-align: center;
		.unitize(line-height, 50);
		color: #FFF;
		border-radius: 50px 50px;
		.unitize(font-size, 18);
		font-weight: normal;
		&:hover {
			cursor: pointer;
			border: 3px solid #333;
			background: #FFF;
			color: #333;
		}
	}

	#configurator .form .tailor_made_info {
		width: 100%;
		padding: 15px;
		background: #fff;
		display: table;
		text-align: left;
		color: #333333;
		.unitize(line-height, 24);
		margin-top: 0;
		margin-bottom: 20px;
		.text_left,
		.text_right {
			float: none;
			width: 100%
		}
		.text_right {
			display: none;
		}
		h3 {
			.unitize(font-size, 20);
			text-align: center;
			.unitize-margin(0, 10, 0);
			color: #666666;
			font-weight: 400;
		}
	}
	.form_price_and_submit {
		.unitize-padding(20, 20);
		h2 {
			.unitize-margin(0, 0, 10);
		}
		.price{
			.unitize-margin(0, 0, 15);
		}
		.form_submit{
			width: 100%;
			.unitize(font-size, 20);
		}
	}
}