@media (max-width: 1200px) {
	.v_list .text h3 {
		font-size: 18px;
	}

	#press_images .list .item .description h3 br {
		display: none;
	}

	a.total-price-button{
		padding: 10px 40px 10px 41px;
	}
	.paypal-express--container > .paypal-express {
		float: right;
		padding: 10px 50px 0px 0px;
	}
}

@media (min-width:1200px){
	.button-head {
		width: 1170px;
	}
}

@media (min-width: 1100px) {
	#press_overview,
	#service_overview,
	#service_faq,
	#service_faq #top .col-lg-6 {
		.row .left {
			padding-right: 80px;
		}
		.row .right {
			padding-left: 80px;
		}
	}

	#service_faq #top .col-lg-6 {
		padding-right: 80px;
	}

	#configurator .form #filters_6 .radio_wrapper {
		margin-bottom: 10px;
	}
}

@media (min-width: 1000px) {
	.no_drop {
		#header {
			height: 70px;
			background-color: #E7E4DF;
			border-bottom: 2px solid #D0C7BB;
			#user_nav,
			#main_menu {
				height: 68px;
				padding-top: 20px;
				a:hover {
					color: #E8712D;
				}
			}
			#header_logo {
				margin-left: -77px;
				img {
					height: 48px;
				}
			}
		}
	}

	#header {
		#user_nav {
			li {
				&:hover .drop {
					display: block;
				}
			}
		}
	}

}

@media (min-width:992px){
	.button-head {
		width: 970px;
	}
}

@media (min-width:768px){
	.button-head {
		width: 750px;
	}
}




// Tablet Landscape
@media (min-width: 780px) and (max-width: 1024px) {

	.no_drop #header #header_logo {
		margin-left: -50px;
		top: 12px;
	}

	.h_list .text {
		font-size: 13px;
		line-height: 17px;
		h3 {
			font-size: 18px;
			line-height: 22px;
			padding-left: 60px;
			margin-bottom: 25px;
			&::before {
				width: 50px;
				height: 50px;
				line-height: 50px;
				font-size: 30px;
				top: -3px;
			}
		}
	}

	.h_list.stories p.date {
		padding-left: 60px;
		top: -25px;
		font-size: 11px;
	}

	.h_list.leaf .text h3,
	.h_list.support .text h3 {
		margin-top: 0;
	}

	.h_list.leaf h3::before,
	.h_list.support h3::before {
		top: -15px;
	}

	.v_list .text h3 {
		font-size: 18px;
	}

	.section.product_top_description .description p {
		margin-bottom: 30px;
	}
}

@media (max-width: 1024px) {
	#header #header_logo {
		top: 22px;
		margin-left: -50px;
		img {
			max-width: 150px;
		}
	}
}

@media (max-width: 991px) {
	.navbar-toggle {
		float: left;
		display: block !important;
		padding: 0;
		margin: 32px 0 0 0;
		width: 30px;
		.icon-bar {
			background-color: @brown;
			width: 30px;
			height: 5px;
		}
		.fa-bars {
			.unitize(font-size, 35);
			color: #846140;
		}
	}
	.entries-article-body ul li span,
	.entries-article-body ul li a{
		font-size: 12px;
	}
}

@media (max-width: 800px) {
	#configurator .form #filters_1 .radio_wrapper {
		& + .radio_wrapper {
			margin-top: 20px;
		}
		width: 100%;
		max-width: 100%;
		.input {
			width: auto;
			float: left;
			overflow: hidden;
		}
	}

	#configurator .form #filters_2 .radio_wrapper {
		width: 25%;
		margin: 0;
		padding: 0 10px;
	}

	#configurator .form .filters .radio_wrapper label span p {
		.unitize(font-size, 16);
	}
}

// Tablet Portrait
@media (max-width: 767px) {
	body {
		padding-top: 160px;
	}

	p {
		font-size: 16px;
		line-height: 24px;
	}

	h1 {
		font-size: 24px;
		font-weight: 300;
		line-height: normal;
		text-align: center;
	}

	#header {
		position: absolute;
		#header_logo img {
			max-width: 120px;
		}
		#header_logo {
			margin-left: -60px;
			.unitize(top, 30);
		}
		#user_nav {
			padding-top: 30px;
			a#user,
			a#cart {
				font-size: 0;
				padding: 0 0 0 26px;
				background-position: left center;
				margin-right: 15px;
				background-size: 26px;
				&:hover {
					background-color: transparent;
				}
			}
			input[type="text"],
			input[type="password"],
			input[type="email"] {
				width: 100%;
				height: 40px;
				border: 1px solid #CCCCCC;
				padding: 0 15px;
				font-size: 14px;
				font-family: 'Raleway', sans-serif;
			}
			.container--ajax-cart {
				display: block;
				.drop {
					overflow-y: hidden;
				}
			}
			.login {
				.drop {
					&.active {
						display: block;
						width: 100%;
						position: fixed;
						.unitize(right, 0);
						transition: all 0.3s;
					}
					display: block;
					position: fixed;
					.unitize(top, 0);
					.unitize(bottom, 0);
					right:102%;
					width: 100%;
					height: 100%;
					z-index: 100;
					background-color: #F3F2EE;
					overflow: hidden;
					overflow-y: hidden;
					transition: all 0.3s;
					.box-shadow(none);
					&.active {
						right: 0;
						transition: all 0.3s;
					}
					li {
						width: 100%;
					}
					.close_label {
						display: block;
						text-align: left;
						position: relative;
						width: 100%;
						padding-bottom: 15px;
						a {
							display: block;
							width: 20px;
							height: 20px;
							overflow: hidden;
							background-image: url(../img/close_icon.png);
							background-position: center center;
							background-repeat: no-repeat;
							background-size: contain;
							position: absolute;
							right: 0;
							top: 0;
							z-index: 10;
							opacity: 1;
						}
						&::before {
							display: block;
							content: '';
							position: absolute;
							.unitize(left, -20);
							.unitize(right, -20);
							bottom: 0;
							height: 1px;
							background-color: #D3D3D3;
							z-index: 20;
						}
						a {
							display: block;
						}
					}
					form {
						.unitize-padding(50, 10, 30);
					}
					.separator-white-border {
						&::before {
							display: block;
							content: '';
							.unitize-margin(0, -30);
							.unitize(top, 0);
							.unitize(height, 2);
							background: #FFFFFF;
							z-index: 10;
							position: relative;
						}
					}
				}
			}
			.sidebar--navigation {
				width: 100%;
				background: none;
			}
		}
		.container--ajax-cart {
			display: block;
			.ajax--cart {
				.drop {
					overflow-y: hidden;
				}
			}
		}
		.container--ajax-cart-dropdown {
			.ajax--cart {
				.drop {
					&:hover{
						display: block;
					}
				}
			}
		}
	}
	#header ul > li > a {
		background-color: transparent !important;
	}

	.section h1 {
		font-size: 24px;
		line-height: normal;
	}

	.slider .item.evo .price_tag {
		left: 65%;
	}

	.slider .item.classic .price_tag {
		left: 31%;
		top: 70%;
	}

	#home_models img {
		display: block;
		margin: 0 auto;
	}

	#leading_story .stories_nav {
		margin-bottom: 30px;
	}

	#leading_story .stories_nav.top {
		margin-bottom: 0;
		a {
			width: 48%;
			background-color: #F3F2EE;
			margin-bottom: 10px;
			&.prev {
				text-align: left;
				float: left;
				padding-left: 40px;
				&::before {
					left: 15px;
					top: 11px;
				}
			}
			&.next {
				text-align: right;
				float: right;
				padding-right: 40px;
				&::before {
					right: 15px;
					top: 11px;
				}
			}
		}
	}

	.other_models {
		h2 {
			margin-bottom: 10px;
		}
		.item {
			p {
				position: relative;
				left: 0;
				width: 80%;
				top: 0;
				margin: 0 auto;
				z-index: 10;
				font-size: 16px;
				line-height: 24px;
			}
			img {
				max-width: none;
				margin: 0 auto;
			}
		}
	}

	#product_slider {
		margin-bottom: 10px;
	}

	#product_top,
	.section.product_top_description {
		h2 {
			margin-bottom: 50px;
			font-size: 28px;
		}
		h3 {
			font-size: 24px;
			line-height: 32px;
		}
	}

	.section.product_top_description {
		h3::before {
			display: none;
		}
		img {
			width: 100%;
			margin-bottom: 20px;
		}
	}

	#home_models {
		h2{
			.unitize-margin(0, 0, 15, 0);
		}
		.unitize-margin(50, 0);
		.item {
			margin-bottom: 40px;
		}
		p {
			border-top: 0;
			padding-top: 0;
			width: 80%;
			display: table;
			margin: 0 auto;
		}
	}

	.section.product_top_description {
		margin-bottom: 0;
	}

	#product_top {
		.product-information {
			.unitize-padding(0, 15);
		}
		.gallery {
			padding-left: 0;
			.thumbs {
				margin-top: 20px;
				width: 100%;
				position: static;
				padding: 0;
				img {
					max-width: 20%;
					margin-right: 4%;
				}
			}
		}
	}

	#product_comparison h2 {
		margin-bottom: 15px;
		.top_mobile_nav {
			text-align: center;
			a {
				display: inline-block;
			}
		}
	}

	.section h2 {
		margin-bottom: 20px;
	}

	#product_comparison {
		margin-bottom: 10px;
		margin-top: 15px;
	}

	#mobile_configurator_link .wrapper span {
		display: block;
		width: 100%;
	}

	#story_top {
		margin-top: 0;
	}

	#story_content .right {
		margin-top: 40px;
	}

	#story_content .right .item.model img {
		display: block;
		float: none;
		margin: 0 auto;
	}

	.video_and_support .video {
		margin-bottom: 40px;
	}

	.video_and_support .wrapper .text,
	.video_and_support .wrapper .image {
		width: 100%;
	}

	.h_list,
	.v_list,
	.section.product_top_description .description p,
	.product_bottom_description,
	#mobile_configurator_link,
	.section.video_and_support,
	#about,
	#service_faq #top,
	#service_faq .row.list,
	#instagram,
	#service_overview,
	#press_overview,
	#press_images,
	#press_content,
	#contact {
		margin-bottom: 40px;
	}
	.h_list .text a,
	.v_list .text a,
	.video_and_support .text a {
		.unitize(font-size, 16);
	}
	#press_images .list .item .description h3 {
		height: 44px;
	}

	#press_content .right {
		margin-top: 15px;
	}

	.listing--bottom-paging {
		padding: 0 20px;
	}

	#configurator .form #filters_5 .radio_wrapper .input {
		overflow: hidden;
		max-height: 105px;
	}

	h3.model {
		padding-bottom: 15px;
		a {
			line-height: 40px;
			margin-bottom: 10px;
		}
		span {
			line-height: 20px;
			display: table;
			margin: 0 auto;
		}
	}

	.models_list {
		&.configurator {
			h3.model {
				.unitize-padding(0, 0, 5, 0);
				.product_icon_letter {
					display: none;
				}
			}
		}
		h3.model {
			span {
				line-height: normal;
				display: table;
				margin: 0 auto;
				text-align: center;
				font-size: 21px;
				font-weight: 300;
			}
		}
	}

	.evo h3.model::after,
	.evo h3.model .product_icon_letter {
		background: #424242;
		background-image: url(../../themes/Frontend/ChalaOne/frontend/_public/src/img/model_headline_logo/e.png);
		background-position: center center;
		background-repeat: no-repeat;
	}

	.run h3.model::after,
	.run h3.model .product_icon_letter {
		background: #F9F450;
		background-image: url(../../themes/Frontend/ChalaOne/frontend/_public/src/img/model_headline_logo/r.png);
		background-position: center center;
		background-repeat: no-repeat;
	}

	.classic h3.model::after,
	.classic h3.model .product_icon_letter {
		background: #D3A86D;
		background-image: url(../../themes/Frontend/ChalaOne/frontend/_public/src/img/model_headline_logo/c.png);
		background-position: center center;
		background-repeat: no-repeat;
	}

	#leading_story {
		.h_list .image img,
		.v_list .image img,
		.video_and_support .image img,
		.h_list .image .blog--image img,
		.v_list .image .blog--image img,
		.video_and_support .image .blog--image img {
			width: 100%;
			height: auto;
		}
	}

	.configurator--form {
		padding: 0;
	}

	.configurator--variant .variant--group {
		margin: 0;
		span {
			margin: 0;
		}
		.jcf-select {
			width: 100%;
			.unitize-height(50);
			.jcf-select-text {
				.unitize-margin(0, 0, 12, 16);
				.unitize-height(45);
				.unitize(line-height, 45);
				.unitize(font-size, 16);
			}
		}
	}

	#product_top .product_info {
		p,
		u {
			font-size: 14px;
			line-height: 24px;
		}
	}

	.h_list .text {
		h3 {
			.unitize-margin(20, 0);
		}
	}

	#instagram {
		.container{
			.unitize-margin(0, 0);
		}
		.top {
			.unitize(margin-bottom, 0);
			p{
				.unitize(font-size, 14);
				.unitize(margin-bottom, 0);
			}
		}
		.bottom {
			.unitize-margin(0, 0);
			.unitize(padding-bottom, 10);
			.instagram-element {
				.unitize-margin(0, -15);
				ul {
					li {
						.unitize-width(147);
						.unitize-margin(10, 10);
						&:last-of-type {
							.unitize(margin-right, 10);
						}
						&:nth-child(5){
							display: none;
						}
					}
				}
			}
		}
	}

	.row{
		&.items-row{
			margin-left: -10px;
			margin-right: -10px;
			.v_list{
				padding-left: 8px;
				padding-right: 8px;
			}
		}
	}
	#configurator{
		.form{
			.form_price_and_submit{
				.form_submit{
					margin: 10px 0px;
				}
			}
		}
	}

	section.section{
		&.articles{
			&.configurator{
				margin-top: 40px;
			}
		}
	}
	.narrow .container{
		padding: 0px 15px;
	}
	.product--details{
		.configurator--form{
			width: 100%;
		}
		.buybox--form{
			width: 100%;
			padding: 0rem 0rem 0rem 0rem !important;
		}
	}

	.other_models{
		.container{
			padding: 0px;
			.item{
				img{
					width: 100%;
					margin-bottom: 20px;
				}
				.product--image{
					.product_icon_letter{
						display: none;
					}
				}
			}
		}
	}

	#product_slider{
		.container{
			.row{
				.slider{
					padding:0px;

					button.slick-next{
						right: 0px;
					}
					button.slick-prev{
						left: 0px;
					}
				}
			}
		}
	}

	#product_top{
		.decoration{
			margin: 0px 0px;
			padding-bottom: 10px;
		}
		.gallery_wrapper{
			padding: 0px 0px;
			h1{
				margin-top: 0px;
				text-align: left;
			}
			p.highlight{
				margin-bottom: 20px;
			}
		}
		.gallery{
			.thumbs {
				margin: 20px -1px 30px -3px;
				a {
					padding: 0px 7px;
				}
				img{
					margin-right: 0px;
					max-width: 23%;
				}
			}
		}
		.product_info{
			form{
				button{
					width: 100%;
					margin-top: 0px;
				}
			}
		}
	}

	#mobile-cart{
		padding: 0px;
		.entries {
			padding-left: 15px;
			.paypal-express--container > .paypal-express{
				float: none;
				padding: 35px 0px 90px 10px;
				margin: 0px auto;
				display: inline-block;
				width: 100%;
				.paypal-express--btn{
					float: none;
					margin: auto;
				}
			}
		}

		.article-1 ul li a.content--title{
			font-size: 16px;
			font-weight: 400;
		}
	}

	#configurator {
		.form {
			.form_price_and_submit {
				.unitize-padding(20, 15);
				.form_submit {
					width: 95%;
				}
			}
		}
	}

	a.total-price-button::after, a.total-price-button::before{
		right: 16px;
	}

	i.icon--element.icon--check {
		left: 120px;
	}

	.buybox--button-container .buy {
		width: 100%;
	}

	#product_top {
		margin-bottom: 0px;
		.product_info ul {
			list-style: none;
			margin-left: 0px;

			li {
				top: 0px;
				position: relative;
				display: flex;
				.unitize(font-size, 8);
				span {
					.unitize(left, 0);
					position: relative;
				}
			}

			li:before {
				content: "•";
				position: relative;
				font-size: 500%;
				padding-right: 0px;
				top: 0px;
			}
		}
	}
	#header {
		#user_nav {

			input[type="text"], input[type="password"], input[type="email"] {
				height: 50px;
			}

			.separator-white-border {
				margin: 0px 10px;
				p.separator::before {
					background: none;
				}
				p.separator {
					margin-top: 0px;
					font-size: 18px;
					color: #666666;
				}
			}
			form {
				padding-top: 50px;
				padding-left: 10px;
				padding-right: 10px;
			}

			ul.drop li.login_panel form a {
				margin-bottom: 20px;
				padding-right: 10px;
				padding-top: 5px;
				font-size: 16px;
				color: #999999;
			}

			.mobile .drop {
				right: 0;
				transition: all .3s;
			}

		}
	}
	input[type="submit"], #header #user_nav .toggle {
		height: 50px;
		line-height: 45px;
	}

	.section.product_top_description h2 {
		margin-bottom: 20px;
	}

	.section.product_top_description .description {
		padding-top: 10px;
	}

	.js--overlay {
		width: 55px;
		height: 55px;
		right: 0;
		top: 0;
		left: auto;
	}
}

// Mobile
@media (max-width: 700px) {
	.slider .item .price_tag {
		padding: 10px 10px;
	}

	.slider .item .price_tag p.model {
		font-size: 20px;
		line-height: 22px;
	}

	.slider .item.evo .price_tag {
		left: 45%;
	}

	.slider .item.classic .price_tag {
		left: 25%;
		top: 54%;
	}

	#home_models {
		margin: 40px 0;
		h2 {
			padding: 0 15px;
			font-size: 24px;
			line-height: 30px;
			margin-bottom: 30px;
		}
		.item {
			margin-bottom: 20px;
		}
	}

	.section h2 {
		font-size: 24px;
		line-height: 30px;
		margin-bottom: 20px;
	}

	.h_list {
		margin-bottom: 40px;
	}

	.h_list.support .text h3 {
		/* margin-top: 0;*/
	}

	.h_list.support h3::before {
		top: -7px;
	}

	.h_list .text,
	.v_list .text,
	.video_and_support .text {
		padding: 15px;
	}

	footer {
		ul {
			padding-left: 0;
		}
		li {
			width: 100%;
			margin: 0;
			line-height: 50px;
			a {
				font-size: 16px;
				font-weight: 400;
			}
		}
		.logo {
			margin-bottom: 10px;
		}
	}

	#instagram .wrapper {
		background-color: #F3F2EE;
	}

	#instagram {
		margin-bottom: 40px;
	}

	#instagram .bottom .item {
		width: 48%;
		margin-right: 4%;
		margin-bottom: 15px;
	}

	#instagram .bottom .item:nth-of-type(2n) {
		margin-right: 0;
	}

	#instagram .bottom .item:nth-of-type(5) {
		display: none;
	}

	#product_top .gallery_wrapper {
		h1 {
			font-weight: 400;
			font-size: 24px;
			line-height: 36px;
			margin-bottom: 0;
			padding-right: 70px;
		}
		p.highlight {
			font-size: 18px;
			line-height: 28px;
			padding-right: 70px;
			margin-bottom: 30px;
		}
	}

	#product_top .gallery .thumbs {
		margin-bottom: 30px;
	}

	.product_bottom_description ul {
		padding-left: 0;
		margin-left: 20px;
	}

	.product_bottom_description .image img {
		margin-bottom: 20px;
	}

	.section.accessories_list .filters a {
		width: auto;
		padding: 0 15px;
		margin: 10px 5px 5px;
		height: 40px;
		border-radius: 20px 20px;
		line-height: 34px;
		font-size: 16px;
		font-weight: 700;
	}

	.section.stories .title p {
		column-count: 1;
	}

	#story_content .right .item.model p {
		position: static;
		width: 100%;
	}

	#about {
		margin-bottom: 50px;
	}

	#about .wrapper .align_right,
	#about .wrapper .align_left {
		width: 100%;
	}

	#service_overview .right .list_item {
		padding-left: 100px;
		min-height: initial;
		img {
			max-width: 80px;
		}
	}

	#service_faq .title a,
	#press_images .title a,
	#press_overview .title a {
		position: relative;
		left: 0;
	}

	#press_overview .contact img {
		max-width: 40%;
	}

	#press_images .title p {
		column-count: 1;
	}

	#press_images .list .item .description h3 {
		height: auto;
	}

	.section.accessories_list .wrapper h2 {
		font-weight: 500;
		margin-top: 5px;
	}

	.container--ajax-cart.off-canvas {
		width: 100%;
	}

	#configurator .top,
	#configurator .form .filters {
		margin-bottom: 20px;
	}

	#configurator .top p {
		width: 100%;
		padding: 0 15px !important;
	}

	.radio_wrapper {
		padding: 0 15px;
	}

	#configurator .form .filters#filters_1 .radio_wrapper {
		+ .radio_wrapper {
			margin-top: 20px;
		}
		margin: 0;
		.input {
			padding-right: 15px;
			width: 50%;
		}
		label {
			text-align: left;
		}
	}

	#configurator .form .filters .radio_wrapper:hover .jcf-radio::before,
	#configurator .form .filters .radio_wrapper .input .jcf-checked::before {
		width: 40px;
		height: 40px;
		margin-top: -20px;
		margin-left: -20px;
		.unitize(font-size, 30);
		.unitize(line-height, 40);
	}

	#configurator .form #filters_3 .radio_wrapper {
		width: 33.3%;
		max-width: 33.3%;
		margin-bottom: 10px;
	}

	#configurator .form #filters_4 .radio_wrapper {
		width: 50%;
		margin: 0;
	}

	#configurator .form #filters_5 .radio_wrapper {
		width: 25%;
		max-width: 25%;
		margin-bottom: 10px;
	}

	#configurator .form #filters_6 {
		padding: 0 10px;
		margin-bottom: 0;
	}

	#configurator .form #filters_6 .radio_wrapper {
		margin: 0 4px 10px 4px;
	}

	.configurator.models_list h3.model::after {
		display: none;
		a {
			.unitize(font-size, 18);
			.unitize(line-height, 28);
		}
	}

	.configurator.models_list .item > a {
		overflow: visible;
		position: relative;
		display: block;
		margin-bottom: 20px;
		.product_icon_letter {
			display: block;
			content: '';
			width: 35px;
			height: 45px;
			position: absolute;
			right: 0;
			bottom: -55px;
			z-index: -10;
			padding: 10px 5px 5px;
		}
		.product_icon_background {
			display: block;
			content: '';
			width: 100%;
			height: 10px;
			position: absolute;
			right: 0;
			bottom: -10px;
			z-index: -10;
		}
	}

	.configurator.models_list .item.classic > a::before {
		background: #D3A86D;
		background-image: url(../img/model_headline_logo/c.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.classic > a::after {
		background: #D3A86D;
	}

	.configurator.models_list .item.run > a::before {
		background: #F9F450;
		background-image: url(../img/model_headline_logo/r.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.run > a::after {
		background: #F9F450;
	}

	.configurator.models_list .item.evo > a::before {
		background: #424242;
		background-image: url(../img/model_headline_logo/e.png);
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 80%;
	}

	.configurator.models_list .item.evo > a::after {
		background: #424242;
	}

	#configurator .form .configurator--form {
		padding-bottom: 0;
	}

	#configurator .form #filters_6 .tailor_made_trigger.auto_width {
		width: 100%;
	}

	#configurator .form .tailor_made_trigger label {
		display: block;
		.unitize-height(50);
		background: #333333;
		padding: 0;
		margin: 0;
		text-align: center;
		.unitize(line-height, 50);
		color: #FFF;
		border-radius: 50px 50px;
		.unitize(font-size, 18);
		font-weight: normal;
		&:hover {
			cursor: pointer;
			border: 3px solid #333;
			background: #FFF;
			color: #333;
		}
	}

	#configurator .form .tailor_made_info {
		width: 100%;
		padding: 15px;
		background: #fff;
		display: table;
		text-align: left;
		color: #333333;
		.unitize(line-height, 24);
		margin-top: 0;
		margin-bottom: 20px;
		.text_left,
		.text_right {
			float: none;
			width: 100%
		}
		.text_right {
			display: none;
		}
		h3 {
			.unitize(font-size, 20);
			text-align: center;
			.unitize-margin(0, 10, 0);
			color: #666666;
			font-weight: 400;
		}
	}
	.form_price_and_submit {
		.unitize-padding(20, 20);
		h2 {
			.unitize-margin(0, 0, 10);
		}
		.price{
			.unitize-margin(0, 0, 15);
		}
		.form_submit{
			width: 100%;
			.unitize(font-size, 20);
		}
	}
}

@media (max-width:600px)	{
	#product_top{
		.gallery{
			.thumbs {
				a {
					padding: 0px 5px;
				}
			}
		}
	}
}

@media (max-width:510px)	{
	#product_top{
		.gallery{
			.thumbs {
				a {
					padding: 0px 4px;
				}
			}
		}
	}
}


@media (max-width:570px)	{
	#mobile-cart {

		.entries-article-body {
			padding: 0px;
		}
		.entries-article-head{
			padding-left: 0px;
		}
		.entries-article-summe{
			padding-right: 0px;
			padding-left: 0px;
		}
		.entries-border-top, .entries-border {
			width: 100%;
			margin-left: 0px;
		}
		.total-price{
			padding-left: 0px;

			li.price {
				padding-right: 0px;
			}
		}
		.entries-article-total{
			padding: 0px;
		}

	}
	i.icon--element.icon--check {
		left: 90px;
	}
}

@media (max-width: 550px) {
	i.icon--element.icon--check {
		left: 55px;
	}
}
@media screen and (min-width: 480px) {
	.product--details .configurator--form .js--fancy-select {
		width: 61%;
		display: inline-block;
		vertical-align: top;
		position: relative;
		border: 1px solid #A3A3A3;
		background: #fff;
		margin: 0 0 12px;
		min-width: 296px;
		height: 40px;
		border-radius: 5px 5px;
	}
}
@media (max-width: 470px) {
	i.icon--element.icon--check {
		left: 40px;
	}
}

@media (max-width:460px)	{
	#product_top{
		.gallery{
			.thumbs {
				margin: 20px -1px 20px -1px;
				a {
					padding: 0px 3px;
				}
				img{
					margin-right: 0px;
					max-width: 23%;
				}
			}
		}
	}
}

@media (max-width: 430px) {
	i.icon--element.icon--check {
		left: 20px;
	}
}

@media (max-width:420px) {
	#mobile-cart {
		.article-1 {
			p.navbar-text{
				font-size: 12px;
			}
			a.button {
				font-size: 15px;
				height: 30px;
				width: 37px;
			}
		}
		input.form-entries{
			width: inherit;
		}
	}
}

@media (max-width:360px) {
	#product_top{
		.gallery{
			.thumbs {
				a {
					padding: 0px 2px;
				}
			}
		}
	}
}

@media (max-width: 345px) {
	.buybox--button-container .buy {
		width: 100%;
	}
}

@media (max-width: 320px) {
	#product_comparison .bottom_mobile_nav a {
		width: 88px;
		margin: 0 3px;
		background-size: contain;
		background-position: center top;
	}
}


