// Color variables (appears count calculates by raw css)
@color0: #ffffff; // Appears 22 times
@color1: #846341; // Appears 13 times
@color2: #ff6600; // Appears 11 times
@color3: #846140; // Appears 11 times
@color4: #999999; // Appears 6 times

// Width variables (appears count calculates by raw css)
@width10: 100%; // Appears 16 times

// Height variables (appears count calculates by raw css)
@height5: 36px; // Appears 8 times

.container {
	.warenkorb {
		background-color: #fbfaf9;
		width: @width10;
	}
}
.warenkorb-border {
	border-bottom: 1px solid #cccccc;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	width: 99%;
}
.warenkorb-border-top {
	border-bottom: 1px solid #cccccc;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	top:-15px;
	width: 99%;
}
.warenkorb-border-bottom {
	border-bottom: 1px solid @color4;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	width: 99%;
}
.warenkorb-left {
	margin: 0px 0px 0px 0px;
}
.warenkorb-right {
	margin: 0px 0px 0px 0px;
	padding: 0px 10px;
	text-align: right;
	span {
		margin-left: 10px;
	}
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
	}
}
.nopadding {
	padding: 0 !important;
}
.nopadding-left {
	padding-left: 0 !important;
}
.nopadding-right {
	padding-right: 0 !important;
}
.warenkorb-article-body {
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
		li {
			a {
				color: @color3;
				font-size: 13px;
				margin: 15px 0px 15px 0px;
				text-align:right;
				text-decoration: underline;
			}
			span {
				float: right;
				font-size: 13px;
				margin: 15px 0px 15px 0px;
				text-align: right;
				text-align:right;
				width: @width10;
				width: auto;
			}
			p.navbar-text {
				text-align: right;
				width: @width10;
				width: auto;
			}
		}
		li.price {
			padding: 0px;
		}
	}
}
.total-price {
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
	}
}
.warenkorb-article-total {
	top: -5px;
	top: 0;
	.total-price {
		color: #666666;
		font-weight: bold;
		padding-right: 0px;
		padding: 0;
		text-align: center;
		width: @width10;
	}
	ul {
		li {
			padding: 0px;
		}
	}
	.main-button {
		padding: 0;
		width: @width10;
		a {
			width: 96%;
			&::after {
				right: -14px;
			}
		}
	}
	.total-price-button {
		width: @width10;
	}
}
.main-button {
	left: 0px;
	left: 0px;
	margin-top: 15px;
}
.paypal-button {
	left: 0px;
	left: 0px;
	margin-top: 15px;
	margin: 20px 0px 30px 0px;
	img {
		cursor: pointer;
	}
}
a.total-price-button {
	background-color: @color1;
	border-radius: 0px;
	border: 0px;
	color: @color0;
	cursor: pointer;
	float: left;
	font-weight: normal;
	padding: 10px 50px 10px 66px;
	position: relative;
	width: @width10;
	&::after {
		border-bottom: 20px solid transparent;
		border-left-color: @color1;
		border-left: 14px solid;
		border-right-color: @color1;
		border-top: 20px solid transparent;
		content: "";
		margin-top: -20px;
		position: absolute;
		right: -14px;
		right: -14px;
		top: 50%;
		z-index: 2;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
	&::before {
		right: -14px;
	}
}
input.warenkor-checkbox {
	float: left;
	position: relative;
	top: 3px;
}
a.head-button {
	background-clip: padding-box;
	background: @color3;
	border-radius: 0;
	border: none;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 188px;
	width: 225px;
	width: @width10;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @color1;
		border-left: 1em solid;
		border-right-color: @color1;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: -26px;
		right: -35px;
		right: 0;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: -26px;
		right: -35px;
		right: 0;
		top: 50%;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.head-button {
	background-clip: padding-box;
	background: @color3;
	border-radius: 0;
	border: none;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 165px;
	width: 238px;
	width: 295px;
	width: @width10;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @color1;
		border-left: 1em solid;
		border-right-color: @color1;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right:0px;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right:0px;
		top: 50%;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.bottom-button-left {
	background-clip: padding-box;
	background: @color3;
	border-radius: 0;
	border: none;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 165px;
	width: 238px;
	width: 270px;
	width: @width10;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @color1;
		border-right-color: @color1;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: 1px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: 1px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.bottom-button-right {
	background-clip: padding-box;
	background: @color3;
	border-radius: 0;
	border: none;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 165px;
	width: 238px;
	width: 270px;
	width: @width10;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @color1;
		border-left: 1em solid;
		border-right-color: @color1;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right:-14px;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right:-14px;
		top: 50%;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.bottom-button {
	background-clip: padding-box;
	background: @color3;
	border-radius: 0;
	border: none;
	color: @color0;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.bottom-button-white {
	background-clip: padding-box;
	background-color:@color0;
	border-radius: 0;
	border: none;
	color: @color1;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 3.5rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
	}
	&:before {
		border-left-color: transparent;
		border-right-color: transparent;
	}
	&:hover {
		background-color: @color2;
		color: @color0;
	}
}
button.bottom-button-transparent {
	background-clip: padding-box;
	background-color:transparent;
	border-radius: 0;
	border: none;
	color: @color1;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 3.5rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @color3;
		color: @color0;
	}
}
a.head-button-white {
	background-clip: padding-box;
	background: @color0;
	border-radius: 0;
	border: none;
	color: @color3;
	cursor: pointer;
	display: inline-block;
	height: @height5;
	line-height: 2.2rem;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 225px;
}
a.total-price-button:hover:after, a.total-price-button:hover:before, a.head-button:hover:after, a.head-button:hover:before, button.head-button:hover:after, button.head-button:hover:before, button.bottom-button-left:hover:after, button.bottom-button-left:hover:before, button.bottom-button-right:hover:after, button.bottom-button-right:hover:before, button.bottom-button-white:hover:after, button.bottom-button-white:hover:before {
	border-left-color: @color2;
	border-right-color: @color2;
}
.line-height-0 {
	line-height: 0px !important;
}
.warenkorb-article-summe {
	padding-top: 20px;
	ul {
		li {
			padding: 0px;
		}
	}
}
.float-right {
	float: right !important;
}
.float-left {
	float: left !important;
}
.text-align-center {
	text-align: center !important;
}
input.form-warenkorb {
	background-color: @color0;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	outline-style: none;
	text-align: left;
	text-decoration: none;
}
form.warenkorb-forma {
	display: inline-flex;
	position: relative;
	input[type="submit"] {
		background-color: #f2f2f2;
		border-radius: 0px;
		border: 0px;
		color: #83603f;
		height: 40px;
		margin-left:10px;
		padding: 0px 25px 0px 25px;
		width: 119px;
		&:hover {
			background-color: @color2;
			color: @color0;
		}
	}
	button[type="submit"] {
		background-color: #f2f2f2;
		border-radius: 0px;
		border: 0px;
		color: #83603f;
		height: 40px;
		margin-left:10px;
		padding: 0px 25px 0px 25px;
		width: 119px;
		&:hover {
			background-color: @color2;
			color: @color0;
		}
	}
}
.button-head {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}
.noleft {
	left: 0px !important;
}
.warenkorb-article-head {
	padding-right: 0px;
	span {
	}
}
.button-active {
	background-color: #b7a38f !important;
}
a.head-button.button-active {
	&::after {
		border-left-color: #b7a38f !important;
	}
}
.article-1 {
	margin-top: 10px;
	ul {
		li {
			a.content--title {
				font-size: 14px;
				font-weight: normal;
				text-decoration: none;
			}
			form {
				button.btn {
					background-color: transparent;
					border: 0px;
					color: @color3;
					text-decoration: underline;
				}
			}
		}
	}
}
a.andern {
	color:#856242;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	position: relative;
	text-decoration: underline;
	top: 2px;
}
.element-center {
	float:none;
	margin:0 auto;
}
.top-0 {
	top: 0px !important;
}
.margin-bottom-0 {
	margin-bottom: 0px !important;
}
.margin-top-15 {
	margin-top: 15px !important;
}
.lieferadresse {
	bottom: 0px;
	padding-left: 0px;
	h4 {
	}
}
.warenkorb-container {
	padding: 0px 25px;
	h4 {
	}
	.zahlung-forma {
		input {
			width: auto;
		}
	}
	span.registrierung {
		color: @color3;
		margin: 15px 0px;
		text-align: center;
	}
	span.passwort {
		color: @color3;
		margin: 0px 0px 0px 0px;
		text-align: right;
		top:-12px;
	}
	a {
		margin: 0px 0px 0px 10px;
	}
}
.margin-r50 {
	margin-right: 45px;
}
.border-right {
	border-right:1px solid @color4;
	height: 100%;
}
.border-right-small {
	border-right:1px solid @color4;
	height: 460px;
}
.border-right-smaller {
	border-right:1px solid @color4;
}
.border-right-white {
	border-right:1px solid @color0;
	height: 560px;
}
.border-right-white-small {
	border-right:1px solid @color0;
	height: 460px;
}
.border-right-white-smaller {
	border-right:1px solid @color0;
	height: 200px;
}
.padding-top-bottom-30 {
	padding: 40px 15px;
}
.padding-top-bottom-20 {
	padding: 20px 15px;
}
.rechnungsadresse {
	p {
		color: @color4;
		line-height: 15px;
		text-align: left;
	}
}
.padding-top-15 {
	padding:15px 0px 0px 0px;
}
.paddint-t-b-15 {
	padding:15px 0px 15px 0px;
}
form.zahlung-forma {
	input {
		border-radius: 0px;
		margin: 0px 10px 12px 0px;
		width: @width10;
		&:focus {
			border-radius: 0px;
			outline-color: transparent;
		}
	}
	select {
		border-radius: 0px;
		margin: 0px 10px 12px 0px;
		width: @width10;
	}
	label {
		color: @color4;
		display: none;
		display: none;
		font-size: 11px;
		font-weight:normal;
		left: 0px;
		position: relative;
		top: 0px;
		visibility: visible;
	}
}
.payment--method {
	.jcf-radio.jcf-checked {
		span {
			background: grey;
		}
	}
}
.margin-top-30 {
	margin-top: 30px;
}
.margin-bottom-30 {
	margin-bottom: 30px;
}
.margin-bottom-20 {
	margin-bottom: 20px;
}
.margin-bottom-15 {
	margin-bottom: 15px;
}
.margin-r {
	margin-right: 10px;
}
.bottom-0 {
	bottom: 0px;
	position: absolute;
}
.account--welcome {
	margin-bottom: 15px;
}
.account-info--container {
	margin-bottom: 15px;
}
.account-address--container {
	margin-bottom: 15px;
}
.account--newsletter {
	margin-bottom: 15px;
}
.account--box {
	background-color: #fbfaf9;
	.panel--actions {
		.btn {
			margin: 0;
			padding: 0;
		}
	}
}
.account--success {
	background-color: #fbfaf9;
}
#registration textarea, #registration .zahlung-forma, #registration input[type="text"], #registration input[type="search"], #registration input[type="password"], #registration input[type="number"], #registration input[type="email"], #registration input[type="tel"], .zahlung-forma textarea, .zahlung-forma .zahlung-forma, .zahlung-forma input[type="text"], .zahlung-forma input[type="search"], .zahlung-forma input[type="password"], .zahlung-forma input[type="number"], .zahlung-forma input[type="email"], .zahlung-forma input[type="tel"] {
	width: @width10;
}
#confirm--form {
	.warenkor-checkbox {
		width: auto;
	}
}



@media (min-width:768px){
	.button-head {
		width: 750px;
	}
}
@media (min-width:992px){
	.button-head {
		width: 970px;
	}
}
@media (min-width:1200px){
	.button-head {
		width: 1170px;
	}
}




@media (max-width:1200px){
	a.total-price-button{
		padding: 10px 40px 10px 41px;
	}
}
@media (max-width:991px){
	.warenkorb-article-body ul li span, .warenkorb-article-body ul li a{
		font-size: 12px;
	}
}
@media (max-width:767px){
	a.total-price-button::after, a.total-price-button::before{
		right: 16px;
	}
}

.mobile-float-right {
	float: right;
}
.navbar-text {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}
.product--table {
	.warenkorb-article-summe {
		.total-price {
			float: left !important;
			width: @width10;
			ul {
				padding-right: 15px;
			}
		}
	}
}
.warenkorb {
	.paypal-express--container>.paypal-express {
		float: right;
		padding: 20px;
	}
	.product--table {
		.paypal-express {
			margin-bottom: 0;
		}
	}
}
#payment_steps {
	.border-right {
		border-right: 0;
	}
	.jcf-select {
		min-width: none;
		width: @width10;
	}
}