.container .warenkorb {
  background-color: #fbfaf9;
  width: 100%;
}
.warenkorb-border {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  margin-left: 0px;
  position: relative;
  width: 99%;
}
.warenkorb-border-top {
  border-bottom: 1px solid #cccccc;
  display: inline-block;
  margin-left: 0px;
  position: relative;
  top: -15px;
  width: 99%;
}
.warenkorb-border-bottom {
  border-bottom: 1px solid #999999;
  display: inline-block;
  margin-left: 0px;
  position: relative;
  width: 99%;
}
.warenkorb-left {
  margin: 0px 0px 0px 0px;
}
.warenkorb-right {
  margin: 0px 0px 0px 0px;
  padding: 0px 10px;
  text-align: right;
}
.warenkorb-right span {
  margin-left: 10px;
}
.warenkorb-right ul {
  list-style: none;
  padding-right: 0px;
  position: relative;
}
.nopadding {
  padding: 0 !important;
}
.nopadding-left {
  padding-left: 0 !important;
}
.nopadding-right {
  padding-right: 0 !important;
}
.warenkorb-article-body ul {
  list-style: none;
  padding-right: 0px;
  position: relative;
}
.warenkorb-article-body ul li a {
  color: #846140;
  font-size: 13px;
  margin: 15px 0px 15px 0px;
  text-align: right;
  text-decoration: underline;
}
.warenkorb-article-body ul li span {
  float: right;
  font-size: 13px;
  margin: 15px 0px 15px 0px;
  text-align: right;
  width: 100%;
  width: auto;
}
.warenkorb-article-body ul li p.navbar-text {
  text-align: right;
  width: 100%;
  width: auto;
}
.warenkorb-article-body ul li.price {
  padding: 0px;
}
.total-price ul {
  list-style: none;
  padding-right: 0px;
  position: relative;
}
.warenkorb-article-total {
  top: -5px;
  top: 0;
}
.warenkorb-article-total .total-price {
  color: #666666;
  font-weight: bold;
  padding-right: 0px;
  padding: 0;
  text-align: center;
  width: 100%;
}
.warenkorb-article-total ul li {
  padding: 0px;
}
.warenkorb-article-total .main-button {
  padding: 0;
  width: 100%;
}
.warenkorb-article-total .main-button a {
  width: 96%;
}
.warenkorb-article-total .main-button a::after {
  right: -14px;
}
.warenkorb-article-total .total-price-button {
  width: 100%;
}
.main-button {
  left: 0px;
  margin-top: 15px;
}
.paypal-button {
  left: 0px;
  margin-top: 15px;
  margin: 20px 0px 30px 0px;
}
.paypal-button img {
  cursor: pointer;
}
a.total-price-button {
  background-color: #846341;
  border-radius: 0px;
  border: 0px;
  color: #ffffff;
  cursor: pointer;
  float: left;
  font-weight: normal;
  padding: 10px 50px 10px 66px;
  position: relative;
  width: 100%;
}
a.total-price-button::after {
  border-bottom: 20px solid transparent;
  border-left-color: #846341;
  border-left: 14px solid;
  border-right-color: #846341;
  border-top: 20px solid transparent;
  content: "";
  margin-top: -20px;
  position: absolute;
  right: -14px;
  top: 50%;
  z-index: 2;
}
a.total-price-button:hover {
  background-color: #ff6600;
  color: #ffffff;
}
a.total-price-button::before {
  right: -14px;
}
input.warenkor-checkbox {
  float: left;
  position: relative;
  top: 3px;
}
a.head-button {
  background-clip: padding-box;
  background: #846140;
  border-radius: 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  width: 188px;
  width: 225px;
  width: 100%;
}
a.head-button::after {
  border-bottom: 18px solid transparent;
  border-left-color: #846341;
  border-left: 1em solid;
  border-right-color: #846341;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: -26px;
  right: -35px;
  right: 0;
  top: 50%;
  z-index: 2;
}
a.head-button::before {
  border-bottom: 18px solid transparent;
  border-left: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: -26px;
  right: -35px;
  right: 0;
  top: 50%;
}
a.head-button:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.head-button {
  background-clip: padding-box;
  background: #846140;
  border-radius: 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  width: 165px;
  width: 238px;
  width: 295px;
  width: 100%;
}
button.head-button::after {
  border-bottom: 18px solid transparent;
  border-left-color: #846341;
  border-left: 1em solid;
  border-right-color: #846341;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: 0px;
  top: 50%;
  z-index: 2;
}
button.head-button::before {
  border-bottom: 18px solid transparent;
  border-left: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: 0px;
  top: 50%;
}
button.head-button:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.bottom-button-left {
  background-clip: padding-box;
  background: #846140;
  border-radius: 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  width: 165px;
  width: 238px;
  width: 270px;
  width: 100%;
}
button.bottom-button-left::after {
  border-bottom: 18px solid transparent;
  border-left-color: #846341;
  border-right-color: #846341;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  left: 1px;
  margin-top: -23px;
  position: absolute;
  top: 50%;
  z-index: 2;
}
button.bottom-button-left::before {
  border-bottom: 18px solid transparent;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  left: 1px;
  margin-top: -23px;
  position: absolute;
  top: 50%;
}
button.bottom-button-left:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.bottom-button-right {
  background-clip: padding-box;
  background: #846140;
  border-radius: 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  width: 165px;
  width: 238px;
  width: 270px;
  width: 100%;
}
button.bottom-button-right::after {
  border-bottom: 18px solid transparent;
  border-left-color: #846341;
  border-left: 1em solid;
  border-right-color: #846341;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: -14px;
  top: 50%;
  z-index: 2;
}
button.bottom-button-right::before {
  border-bottom: 18px solid transparent;
  border-left: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  margin-top: -23px;
  position: absolute;
  right: -14px;
  top: 50%;
}
button.bottom-button-right:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.bottom-button {
  background-clip: padding-box;
  background: #846140;
  border-radius: 0;
  border: none;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
}
button.bottom-button:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.bottom-button-white {
  background-clip: padding-box;
  background-color: #ffffff;
  border-radius: 0;
  border: none;
  color: #846341;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 3.5rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
}
button.bottom-button-white::after {
  border-bottom: 18px solid transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  left: -14px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
  z-index: 2;
}
button.bottom-button-white::before {
  border-bottom: 18px solid transparent;
  border-right: 1em solid;
  border-top: 18px solid transparent;
  content: "";
  left: -14px;
  margin-top: -18px;
  position: absolute;
  top: 50%;
}
button.bottom-button-white:before {
  border-left-color: transparent;
  border-right-color: transparent;
}
button.bottom-button-white:hover {
  background-color: #ff6600;
  color: #ffffff;
}
button.bottom-button-transparent {
  background-clip: padding-box;
  background-color: transparent;
  border-radius: 0;
  border: none;
  color: #846341;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 3.5rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
}
button.bottom-button-transparent:hover {
  background-color: #846140;
  color: #ffffff;
}
a.head-button-white {
  background-clip: padding-box;
  background: #ffffff;
  border-radius: 0;
  border: none;
  color: #846140;
  cursor: pointer;
  display: inline-block;
  height: 36px;
  line-height: 2.2rem;
  line-height: 32px;
  margin-bottom: 10px;
  text-align: center;
  width: 225px;
}
a.total-price-button:hover:after,
a.total-price-button:hover:before,
a.head-button:hover:after,
a.head-button:hover:before,
button.head-button:hover:after,
button.head-button:hover:before,
button.bottom-button-left:hover:after,
button.bottom-button-left:hover:before,
button.bottom-button-right:hover:after,
button.bottom-button-right:hover:before,
button.bottom-button-white:hover:after,
button.bottom-button-white:hover:before {
  border-left-color: #ff6600;
  border-right-color: #ff6600;
}
.line-height-0 {
  line-height: 0px !important;
}
.warenkorb-article-summe {
  padding-top: 20px;
}
.warenkorb-article-summe ul li {
  padding: 0px;
}
.float-right {
  float: right !important;
}
.float-left {
  float: left !important;
}
.text-align-center {
  text-align: center !important;
}
input.form-warenkorb {
  background-color: #ffffff;
  border-radius: 4px;
  font-style: normal;
  font-weight: 400;
  outline-style: none;
  text-align: left;
  text-decoration: none;
}
form.warenkorb-forma {
  display: inline-flex;
  position: relative;
}
form.warenkorb-forma input[type="submit"] {
  background-color: #f2f2f2;
  border-radius: 0px;
  border: 0px;
  color: #83603f;
  height: 40px;
  margin-left: 10px;
  padding: 0px 25px 0px 25px;
  width: 119px;
}
form.warenkorb-forma input[type="submit"]:hover {
  background-color: #ff6600;
  color: #ffffff;
}
form.warenkorb-forma button[type="submit"] {
  background-color: #f2f2f2;
  border-radius: 0px;
  border: 0px;
  color: #83603f;
  height: 40px;
  margin-left: 10px;
  padding: 0px 25px 0px 25px;
  width: 119px;
}
form.warenkorb-forma button[type="submit"]:hover {
  background-color: #ff6600;
  color: #ffffff;
}
.button-head {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.noleft {
  left: 0px !important;
}
.warenkorb-article-head {
  padding-right: 0px;
}
.button-active {
  background-color: #b7a38f !important;
}
a.head-button.button-active::after {
  border-left-color: #b7a38f !important;
}
.article-1 {
  margin-top: 10px;
}
.article-1 ul li a.content--title {
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}
.article-1 ul li form button.btn {
  background-color: transparent;
  border: 0px;
  color: #846140;
  text-decoration: underline;
}
a.andern {
  color: #856242;
  float: left;
  font-size: 12px;
  margin-left: 10px;
  position: relative;
  text-decoration: underline;
  top: 2px;
}
.element-center {
  float: none;
  margin: 0 auto;
}
.top-0 {
  top: 0px !important;
}
.margin-bottom-0 {
  margin-bottom: 0px !important;
}
.margin-top-15 {
  margin-top: 15px !important;
}
.lieferadresse {
  bottom: 0px;
  padding-left: 0px;
}
.warenkorb-container {
  padding: 0px 25px;
}
.warenkorb-container .zahlung-forma input {
  width: auto;
}
.warenkorb-container span.registrierung {
  color: #846140;
  margin: 15px 0px;
  text-align: center;
}
.warenkorb-container span.passwort {
  color: #846140;
  margin: 0px 0px 0px 0px;
  text-align: right;
  top: -12px;
}
.warenkorb-container a {
  margin: 0px 0px 0px 10px;
}
.margin-r50 {
  margin-right: 45px;
}
.border-right {
  border-right: 1px solid #999999;
  height: 100%;
}
.border-right-small {
  border-right: 1px solid #999999;
  height: 460px;
}
.border-right-smaller {
  border-right: 1px solid #999999;
}
.border-right-white {
  border-right: 1px solid #ffffff;
  height: 560px;
}
.border-right-white-small {
  border-right: 1px solid #ffffff;
  height: 460px;
}
.border-right-white-smaller {
  border-right: 1px solid #ffffff;
  height: 200px;
}
.padding-top-bottom-30 {
  padding: 40px 15px;
}
.padding-top-bottom-20 {
  padding: 20px 15px;
}
.rechnungsadresse p {
  color: #999999;
  line-height: 15px;
  text-align: left;
}
.padding-top-15 {
  padding: 15px 0px 0px 0px;
}
.paddint-t-b-15 {
  padding: 15px 0px 15px 0px;
}
form.zahlung-forma input {
  border-radius: 0px;
  margin: 0px 10px 12px 0px;
  width: 100%;
}
form.zahlung-forma input:focus {
  border-radius: 0px;
  outline-color: transparent;
}
form.zahlung-forma select {
  border-radius: 0px;
  margin: 0px 10px 12px 0px;
  width: 100%;
}
form.zahlung-forma label {
  color: #999999;
  display: none;
  font-size: 11px;
  font-weight: normal;
  left: 0px;
  position: relative;
  top: 0px;
  visibility: visible;
}
.payment--method .jcf-radio.jcf-checked span {
  background: grey;
}
.margin-top-30 {
  margin-top: 30px;
}
.margin-bottom-30 {
  margin-bottom: 30px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-r {
  margin-right: 10px;
}
.bottom-0 {
  bottom: 0px;
  position: absolute;
}
.account--welcome {
  margin-bottom: 15px;
}
.account-info--container {
  margin-bottom: 15px;
}
.account-address--container {
  margin-bottom: 15px;
}
.account--newsletter {
  margin-bottom: 15px;
}
.account--box {
  background-color: #fbfaf9;
}
.account--box .panel--actions .btn {
  margin: 0;
  padding: 0;
}
.account--success {
  background-color: #fbfaf9;
}
#registration textarea,
#registration .zahlung-forma,
#registration input[type="text"],
#registration input[type="search"],
#registration input[type="password"],
#registration input[type="number"],
#registration input[type="email"],
#registration input[type="tel"],
.zahlung-forma textarea,
.zahlung-forma .zahlung-forma,
.zahlung-forma input[type="text"],
.zahlung-forma input[type="search"],
.zahlung-forma input[type="password"],
.zahlung-forma input[type="number"],
.zahlung-forma input[type="email"],
.zahlung-forma input[type="tel"] {
  width: 100%;
}
#confirm--form .warenkor-checkbox {
  width: auto;
}
@media (min-width: 768px) {
  .button-head {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .button-head {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .button-head {
    width: 1170px;
  }
}
@media (max-width: 1200px) {
  a.total-price-button {
    padding: 10px 40px 10px 41px;
  }
}
@media (max-width: 991px) {
  .warenkorb-article-body ul li span,
  .warenkorb-article-body ul li a {
    font-size: 12px;
  }
}
@media (max-width: 767px) {
  a.total-price-button::after,
  a.total-price-button::before {
    right: 16px;
  }
}
.mobile-float-right {
  float: right;
}
.navbar-text {
  float: left;
  margin-left: 15px;
  margin-right: 15px;
}
.product--table .warenkorb-article-summe .total-price {
  float: left !important;
  width: 100%;
}
.product--table .warenkorb-article-summe .total-price ul {
  padding-right: 15px;
}
.warenkorb .paypal-express--container > .paypal-express {
  float: right;
  padding: 20px;
}
.warenkorb .product--table .paypal-express {
  margin-bottom: 0;
}
#payment_steps .border-right {
  border-right: 0;
}
#payment_steps .jcf-select {
  min-width: none;
  width: 100%;
}
