// compress: true, autoprefixer: true
body {
	font-family: 'Raleway', sans-serif;
	padding-top: 200px;
	background-color: @white-grey-10;
	background-image: url(../img/body_bg.png);
	background-position: center top;
	background-repeat: no-repeat;
}
p {
	font-family: @font-family-base;
	font-size: @font-size-base;
	line-height: @line-height-base;
}
.container {
	max-width: none;
	background: none;
	margin: 0 auto;
}

a:hover, a:focus {
	text-decoration: none;
}

// Common Styles
img {
	max-width: 100%;
	height: auto;
}

.narrow .container {
	padding: 0 30px;
}

// Form Elements
input[type="text"],
input[type="password"],
input[type="email"] {
	width: 100%;
	height: 40px;
	border: 1px solid @white-grey-3;
	padding: 0 15px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color: @light-grey-2;
}

textarea {
	width: 100%;
	height: 180px;
	border: 1px solid @white-grey-3;
	padding: 15px 15px;
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color: @light-grey-2;
}

input[type="submit"] {
	border: none;
	background-color: @white-grey;
	color: @brown;
	cursor: pointer;
	width: 100%;
	height: 40px;
	&:hover {
		background-color: @brown;
		color: @white;
	}
}

form {
	.item {
		width: 100%;
		/*height: 65px;*/
		padding-top: 20px;
		position: relative;
		overflow: hidden;
		&.textarea {
			height: 205px;
		}
		&.captcha {
			position: relative;
			padding-left: 100px;
			label {
				margin-left: -100px;
			}
			img {
				position: absolute;
				left: 0;
				bottom: 8px;
				z-index: 10;
			}
		}
		label {
			font-size: 11px;
			line-height: 20px;
			width: 100%;
			height: 30px;
			font-weight: 400;
			color: @grey-1;
			margin-bottom: 0;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: -1;
			opacity: 0;
			transition: all 0.6s;
			&.error {
				color: #CC3300;
			}
		}
		&.empty {
			label:nth-of-type(1) {
				opacity: 1;
				top: 0;
				bottom: auto;
				z-index: 1;
				transition: all 0.6s;
			}
		}
		&.error {
			label.error {
				opacity: 1;
				top: 0;
				bottom: auto;
				z-index: 1;
				transition: all 0.6s;
			}
		}
	}
}

// Models
h3.model {
	font-size: 24px;
	line-height: 50px;
	font-weight: 400;
	text-align: center;
	position: relative;
	margin-bottom: 0;
	background: @white-grey-10;
	z-index: 100;
	a {
		color: @brown;
	}
	.product_icon_letter {
		display: block;
		content: '';
		width: 60px;
		height: 60px;
		position: absolute;
		right: 0;
		bottom: -70px;
		z-index: -10;
		.icon-image {
			width: 100%;
			padding: 15%;
			max-width: none;
		}
	}
}

.classic h3.model {
	border-bottom: 10px solid @orange-light;
	.product_icon_letter {
		background: @orange-light;
	}
}

.run h3.model {
	border-bottom: 10px solid @fluo-yellow;
	.product_icon_letter {
		background: @fluo-yellow;
	}
}

.evo h3.model {
	border-bottom: 10px solid @dark-grey;
	.product_icon_letter {
		background: @dark-grey;
	}
}

.models_list,
.other_models {
	.item.inactive .product--image > img {
		opacity: 0.5;
	}
}

#story_content .item.model,
#press_content .item.model {
	position: relative;
	&::before {
		display: block;
		content: '';
		width: 60px;
		height: 60px;
		position: absolute;
		right: 0;
		top: 0px;
		z-index: -10;
	}
	&.classic,
	&.chala-classic {
		border-top: 10px solid @orange-light;
		&::before,
		.product_icon_letter {
			background: @orange-light;
			background-image: url(../../img/model_headline_logo/c.png);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	&.evo,
	&.chala-evo {
		border-top: 10px solid @dark-grey;
		&::before,
		.product_icon_letter {
			background: @dark-grey;
			background-image: url(../../img/model_headline_logo/e.png);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
	&.run,
	&.chala-run {
		border-top: 10px solid @fluo-yellow;
		&::before,
		.product_icon_letter {
			background: @fluo-yellow;
			background-image: url(../../img/model_headline_logo/r.png);
			background-position: center center;
			background-repeat: no-repeat;
		}
	}
}

.section h1 {
	text-align: center;
	margin-bottom: 50px;
	font-weight: 300;
	color: @light-grey-2;
	font-size: 32px;
	line-height: 36px;
}

.section h2 {
	text-align: center;
	margin-bottom: 50px;
	font-weight: 300;
	color: @light-grey-2;
	font-size: 32px;
	line-height: 36px;
}

// Buttons
.button_brown_orange {
	display: block;
	width: 100%;
	height: 40px;
	text-align: center;
	font-size: 16px;
	line-height: 40px;
	background-color: @brown;
	color: @white;
	text-decoration: none;
	display: block;
	margin: 0 auto;
	&:hover {
		background-color: @orange-2;
	}
}

// Icon Links
.arrow_back {
	display: block;
	padding-left: 25px;
	position: relative;
	color: #333;
	line-height: 30px;
	margin-bottom: 15px;
	&:hover {
		color: @brown;
	}
	&::before {
		display: block;
		width: 20px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		content: "\f0a8";
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
}

.arrow_up {
	display: block;
	padding-left: 25px;
	position: relative;
	color: #333;
	line-height: 30px;
	margin-bottom: 15px;
	&:hover {
		color: @brown;
	}
	&::before {
		display: block;
		width: 20px;
		height: 30px;
		line-height: 30px;
		font-size: 16px;
		content: "\f139";
		font-family: 'FontAwesome';
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
	}
}

// Listings
.h_list,
.v_list,
.video_and_support {
	margin-bottom: 90px;
	.image {
		padding: 0;
		img {
			width: 100%;
		}
	}
	.text {
		padding: 30px 30px;
		color: @light-grey-2;
		font-size: 14px;
		line-height: 24px;
		h3 {
			font-weight: 400;
			.unitize(font-size, 22);
			.unitize(line-height, 28);
			position: relative;
			.unitize-padding(0, 0, 0, 80);
			.unitize-margin(20, 0, 20, 0);
			.unitize(height, 56);
			&::before {
				font-family: 'FontAwesome';
				display: block;
				content: '';
				position: absolute;
				left: 0;
				top: -7px;
				border-radius: 50%;
				background-color: @white-grey-3;
				z-index: 10;
				width: 66px;
				height: 66px;
				color: @box_bg;
				text-align: center;
				line-height: 66px;
				font-size: 40px;
			}
		}
		a {
			color: @light-grey-2;
			text-decoration: underline;
		}
	}
	&.support .text h3 {
		margin-top: 18px;
	}
	&.support h3::before {
		content: "\f004";
		top: -25px;
	}
	&.leaf .text h3 {
		margin-top: 18px;
	}
	&.leaf h3::before {
		content: "\f06c";
		//top: -25px;
	}
	&.scissors h3::before {
		content: "\f0c4";
	}
	&.stories h3::before {
		content: "\f0f2";
	}
	&.stories p.date {
		color: @grey-1;
		font-size: 13px;
		padding-left: 80px;
		position: relative;
		top: -30px;
		margin-bottom: 0;
	}
	&.video .image a.various {
		display: block;
		width: 62px;
		height: 63px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -31px 0 0 -31px;
		z-index: 10;
		text-align: center;
		line-height: 62px;
		font-family: 'FontAwesome';
		color: @white;
		&::before {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			content: "\f16a";
			font-size: 60px;
			opacity: 0.5;
			z-index: -10;
		}
		&:hover::before {
			color: @orange;
		}
	}
}

.articles {
	.h_list,
	.v_list,
	.video_and_support {
		&.support {
			.text {
				h3::before {
					.unitize(top, -7);
				}
			}
		}
	}
}

#leading_story {
	.h_list,
	.v_list,
	.video_and_support {
		.image {
			.blog--image img {
				height: 400px;
				width: auto;
			}
		}
	}
}

.h_list {
	background: @box_bg;
	&:hover {
		background: @white;
	}
}

.v_list {
	.wrapper {
		background: @box_bg;
	}
	&:hover .wrapper {
		background: @white;
	}
}

.v_list h3 {
	margin: 0 !important;
	a {
		text-decoration: none !important;
	}
}

.v_list.video .image {
	position: relative;
}

.slider {
	position: relative;
	.item {
		position: relative;
		width: 100%;
		height: auto;
		overflow: hidden;
		img {
			width: 100%;
			height: auto;
			display: block;
			overflow: hidden;
		}
		.price_tag {
			padding: 15px 15px;
			position: absolute;
			background-color: @white;
			z-index: 10;
			p {
				margin: 0;
				&.model {
					font-size: 28px;
					line-height: 28px;
				}
				&.price {
					font-size: 18px;
					line-height: 20px;
					padding-top: 5px;
					.from {
						font-size: 12px;
					}
					.bold {
						font-weight: 700;
					}
				}
			}
		}
		&.classic {
			color: #DDA56C;
			.price_tag {
				left: 40%;
				top: 77%;
				&::before {
					display: block;
					content: '';
					width: 40px;
					height: 40px;
					background-color: @white;
					position: absolute;
					bottom: -5px;
					right: 15px;
					z-index: -10;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
		&.evo {
			color: #434343;
			.price_tag {
				left: 69%;
				top: 38%;
				&::before {
					display: block;
					content: '';
					width: 40px;
					height: 40px;
					background-color: @white;
					position: absolute;
					top: -5px;
					left: 15px;
					z-index: -10;
					-ms-transform: rotate(45deg);
					-webkit-transform: rotate(45deg);
					transform: rotate(45deg);
				}
			}
		}
	}
}

// Accordion
.accordion {
	.item {
		background-color: @white-grey-5;
		color: #333;
		font-size: 14px;
		line-height: 24px;
		padding: 15px 15px;
		margin-bottom: 15px;
		&:hover {
			background-color: @white;
			cursor: pointer;
		}
		&.active {
			background-color: @white;
			cursor: pointer;
		}
		h3 {
			font-size: 14px;
			line-height: 24px;
			font-weight: 400;
			margin: 0;
		}
		p {
			margin: 0;
			display: none;
		}
	}
}

// Slick Slider CSS
.slick-slider {
	position: relative;
	display: block;
	box-sizing: border-box;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-touch-callout: none;
	-khtml-user-select: none;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
	-webkit-tap-highlight-color: transparent;
}

.slick-list {
	position: relative;
	display: block;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.slick-list:focus {
	outline: none;
}

.slick-list.dragging {
	cursor: pointer;
	cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.slick-track {
	position: relative;
	top: 0;
	left: 0;
	display: block;
}

.slick-track::before,
.slick-track::after {
	display: table;
	content: '';
}

.slick-track::after {
	clear: both;
}

.slick-loading .slick-track {
	visibility: hidden;
}

.slick-slide {
	display: none;
	float: left;
	height: 100%;
	min-height: 1px;
}

[dir='rtl'] .slick-slide {
	float: right;
}

.slick-slide img {
	display: block;
}

.slick-slide.slick-loading img {
	display: none;
}

.slick-slide.dragging img {
	pointer-events: none;
}

.slick-initialized .slick-slide {
	display: block;
}

.slick-loading .slick-slide {
	visibility: hidden;
}

.slick-vertical .slick-slide {
	display: block;
	height: auto;
	border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
	display: none;
}

.slick-prev {
	position: absolute;
	left: 50px;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	z-index: 100;
	border: none;
	background: none;
	font-size: 0;
	overflow: hidden;
	text-indent: 50px;
	background-image: url(../img/arrow_prev.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none !important;
}

.slick-next {
	position: absolute;
	right: 50px;
	top: 50%;
	width: 40px;
	height: 40px;
	margin-top: -20px;
	z-index: 100;
	border: none;
	background: none;
	font-size: 0;
	overflow: hidden;
	text-indent: 50px;
	background-image: url(../img/arrow_next.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	display: none !important;
}

.slider:hover .slick-prev,
.slider:hover .slick-next {
	display: inline-block !important;
}

/* select */
.jcf-select {
	display: inline-block;
	vertical-align: top;
	position: relative;
	border: 1px solid #A3A3A3;
	background: @white;
	.unitize-margin(0, 0, 12, 0);
	.unitize-min-width(290);
	.unitize-height(40);
	.border-radius(5px);
}

.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}

.jcf-select .jcf-select-text {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	.unitize(font-size, 14);
	.unitize(line-height, 38);
	.unitize-margin(0, 35, 0, 15);
}

.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	width: 30px;
	bottom: 0;
	right: 0;
	top: 0;
	text-align: center;
	background: none;
	&::before {
		display: block;
		content: "\f078";
		font-family: 'FontAwesome';
		color: #3A3A3A;
		line-height: 38px;
	}
}

body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}

.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}

.jcf-select.jcf-compact-multiple {
	max-width: 220px;
}

.jcf-select.jcf-compact-multiple .jcf-select-opener:before {
	display: inline-block;
	padding-top: 2px;
	content: '...';
}

.jcf-select-drop .jcf-select-drop-content {
	border: 1px solid @red;
}

.jcf-select-drop.jcf-compact-multiple .jcf-hover {
	background: none;
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected {
	background: @white-grey-11;
	color: @text-color-dark;
}

.jcf-select-drop.jcf-compact-multiple .jcf-selected:before {
	display: inline-block;
	content: '';
	height: 4px;
	width: 8px;
	margin: -7px 5px 0 -3px;
	border: 3px solid #777;
	border-width: 0 0 3px 3px;
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
}

form {
	margin-top: 10px;
	select {
		width: 296px;
	}
	input[type="submit"]
	button[type="submit"] {
		width: 296px;
		background-color: @brown;
		color: @white;
		font-size: 16px;
		margin-bottom: 15px;
	}
	input[type="submit"]:hover
	button[type="submit"]:hover {
		background-color: @orange-2;
		cursor: pointer;
	}
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 78px;
	z-index: 1000;
	background: none;
	transition: all 0.3s;
	background-color: @header;
	ul {
		padding-left: 0;
	}
	.drop {
		display: none;
		position: absolute;
		.unitize(top, 30);
		background-color: @white;
		font-size: 16px;
		-webkit-box-shadow: 2px 6px 20px -5px rgba(0, 0, 0, 0.2);
		box-shadow: 2px 6px 20px -5px rgba(0, 0, 0, 0.2);
		padding: 20px 20px;
		a {
			padding: 0;
		}
	}
	.contact-image {
		top: 110px;
		position: absolute;
		min-width: 160px;
		height: 160px;
		left: 280px;
		z-index: 9999;
		display: none;
	}
	ul > li {
		position: relative;
		&:hover > .drop {
			display: block;
		}
		&:hover > .contact-image {
			display: block !important;
		}
	}
	ul > li > a {
		color: @brown;
		text-decoration: none;
		display: block;
		padding: 0 10px;
		line-height: 30px;
		&:hover {
			background-color: @white;
		}
	}
	ul > li:hover > a {
		background-color: @white;
	}
	li {
		list-style-type: none;
		float: left;
	}
	#main_menu {
		float: left;
		height: 78px;
		padding-top: 48px;
		.drop {
			left: 0;
			img {
				display: block;
				margin: 0 auto;
				width: 100%;
				height: auto;
				max-height: none;
			}
		}
		.models {
			.drop {
				width: 660px;
				height: auto;
				padding: 20px 20px;
				a {
					padding: 0;
				}
				li {
					width: 140px;
					float: left;
					overflow: hidden;
					margin-right: 20px;
					margin-bottom: 20px;
					&.classics {
						span {
							border-bottom: 8px solid @orange-light;
						}
						&:hover {
							a {
								background-color: #F0E1CC;
							}
							span {
								color: @white;
								background: @orange-light;
							}
							img {
								background-color: #F0E1CC;
							}
						}
					}
					&.run {
						span {
							border-bottom: 8px solid @fluo-yellow;
						}
						&:hover {
							a {
								background-color: #FEFCA6;
							}
							span {
								color: @text-color-dark;
								background: @fluo-yellow;
							}
							img {
								background-color: #FEFCA6;
							}
						}
					}
					&.evo {
						span {
							border-bottom: 8px solid @dark-grey;
						}
						&:hover {
							a {
								background-color: @white-grey-13;
							}
							span {
								color: @white;
								background: @dark-grey;
							}
							img {
								background-color: @white-grey-13;
							}
						}
					}
					&.zubehor {
						margin-right: 0;
						span {
							border-bottom: 8px solid @white-grey-3;
						}
						&:hover {
							a {
								background-color: @white-grey-14;
							}
							span {
								color: @white;
								background: @white-grey-3;
							}
							img {
								background-color: @white-grey-14;
							}
						}
					}
					img {
						max-width: 100%;
						max-height: 140px;
						margin: 0 auto;
					}
					span {
						display: block;
						width: 100%;
						height: 40px;
						line-height: 32px;
						color: @brown;
						text-align: center;
					}
					&.link {
						width: 100%;
						margin-top: 10px;
						margin-bottom: 0;
						a,
						a > span {
							display: block;
							width: 100%;
							height: 40px;
							line-height: 40px;
							text-align: center;
							color: @brown;
							background-color: @white-grey-4;
							&:hover {
								color: @white;
								background-color: @brown;
							}
						}
					}
				}
			}
		}
		.text_and_image {
			text-align: center;
			.drop {
				width: 390px;
				height: auto;
				padding: 20px 20px;
			}
			span {
				display: block;
				width: 100%;
				height: 40px;
				line-height: 32px;
				color: @brown;
				margin-bottom: 10px;
			}
			a.button {
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				color: @brown;
				&:hover {
					color: @white;
					background-color: @brown;
				}
			}
			img {
				margin-bottom: 10px;
			}
		}
		.services {
			.drop {
				padding: 20px 20px;
				width: 460px;
				font-size: 14px;
				li {
					width: 100%;
				}
				a {
					display: block;
					width: 100%;
					height: 40px;
					line-height: 40px;
					color: @brown;
					padding: 0 15px;
					&:hover {
						color: @white;
						background-color: @brown;
					}
				}
			}
		}
	}
	#header_logo {
		position: absolute;
		left: 50%;
		top: 12px;
		z-index: 10;
		margin-left: -84px;
	}
	.cart {
		&:hover {
			.container--ajax-cart-dropdown {
				.ajax--cart {
					background-color: @white;
					.drop {
						display: block;
					}
				}
			}
		}
	}
	.container--ajax-cart-dropdown {
		position: absolute;
		display: block;
		.unitize(right, 0);
		.unitize(top, 30);
		.unitize-padding(0, 0);
		.unitize-margin(0, 0);
		.ajax--cart {
			background: none;
			.border-radius(0 0);
			.drop {
				.unitize(right, 0);
				.unitize(top, 0);
				.unitize-width(340);
				&:hover {
					display: block;
					.unitize(top, 0);
				}
				li {
					width: 100%;
				}
				li:last-child {
					padding-bottom: 0;
				}
				.paypal-express--delimiter {
					display: none !important;
				}
				.paypal-express {
					float: none;
					width: 100%;
					.unitize(margin-top, 20);
				}
			}
			.no_product {
				font-weight: 300;
				background: @white-grey;
				color: @brown;
				text-align: center;
				display: block;
				float: none;
				margin: 0 auto;
				width: auto;
				.unitize(line-height, 38);
			}
		}
	}
	#user_nav {
		float: right;
		height: 78px;
		padding-top: 48px;
		a#user {
			background-image: url(../img/user_icon.png);
			background-position: 10px center;
			background-repeat: no-repeat;
			background-size: 20px;
			padding-left: 36px;
		}
		a#cart {
			background-image: url(../img/cart_icon.png);
			background-position: 10px center;
			background-repeat: no-repeat;
			background-size: 20px;
			padding-left: 36px;
			padding-right: 15px;
		}
		.item,
		form {
			width: 100%;
			overflow: hidden;
		}
		p {
			font-size: 16px;
			line-height: 20px;
			color: @light-grey-2;
		}
		a {
			color: @brown;
			display: block;
			width: 100%;
			height: 30px;
			line-height: 30px;
			font-size: 14px;
			font-weight: 400;
			text-align: right;
			.border-radius(0);
			border: 0;
		}
		.logout-link {
			display: block;
			width: 100%;
			height: 40px;
			line-height: 40px;
			color: @brown;
			padding: 0 15px;
			text-align: center;
			border: none;
			background-color: @white-grey;
			cursor: pointer;
			margin: 10px 0 0;
		}
		.toggle {
			background-color: @white-grey;
			color: @brown;
			cursor: pointer;
			width: 100%;
			height: 40px;
			line-height: 40px;
			font-size: 16px;
			text-align: center;
			&.back {
				background-color: @white;
				margin-top: 20px;
			}
		}
		.login {
			.drop {
				z-index: 9999;
				right: 0;
				.unitize-width(340);
				display: none;
				.user_panel {
					width: 100%;
					.account--menu-container {
						.unitize-padding(0, 0);
						display: block;
					}
					float: none;
					.navigation--entry {
						.unitize-padding(0, 0, 0, 20);
						float: none;
						a {
							text-align: left;
						}
					}
				}
				.close_label {
					display: block;
					text-align: left;
					position: relative;
					width: 100%;
					padding-bottom: 15px;
					a {
						display: block;
						width: 20px;
						height: 20px;
						overflow: hidden;
						background-image: url(../img/close_icon.png);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						position: absolute;
						right: 0;
						top: 0;
						z-index: 10;
						opacity: 1;
					}
					&::before {
						display: block;
						content: '';
						position: absolute;
						left: -20px;
						right: -20px;
						bottom: 0;
						height: 1px;
						background-color: @white-grey-2;
						z-index: 20;
					}
				}

				p.close_label a {
					display: block;
				}
			}
			&:hover {
				.drop {
					display: block;
				}
			}
		}
		.account--menu-container {
			.unitize-padding(0, 0, 5, 0);
			ul {
				display: block;
				padding-left: 0;
				li {
					padding: 5px 20px;
					.unitize-padding(5, 20);
					a {
						text-align: left;
						background: none;
						&:hover {
							background: none;
							color: @white;
						}
					}
					&:hover {
						background-color: @brown;
						cursor: pointer;
						color: @white;
					}
				}
			}
			.sidebar--navigation {
				display: table;
				width: 100%;
			}
		}
		.user_panel {
			padding: 0;
		}
		.cart--link {
			.badge {
				padding: 0px 5px 0px 5px;
				margin: 0px 5px 0px 5px;
				height: 15px;
				min-width: 5px;
				line-height: 16px;
				font-size: 9px;
				position: absolute;
				left: 15px;
				background: @orange;
				top: -5px;
			}
		}
		.ajax--cart {
			.unitize-width(340);
			.unitize-height(184);
		}
		li {
			list-style-type: none;
			float: left;
			padding-bottom: 20px;
		}
		p.separator {
			margin-top: 20px;
			padding-top: 20px;
			position: relative;
			&::before {
				display: block;
				content: '';
				left: -20px;
				right: -20px;
				top: 0;
				height: 1px;
				background: @white-grey-3;
				z-index: 10;
				position: absolute;
			}
		}

		.login_panel {
			width: 100%;
			&.active {
				display: block;
			}
		}
		.register_panel {
			display: none;
			input[type="submit"] {
				margin-top: 25px;
			}
			&.active {
				display: block;
			}
		}
		.cart {
			span {
				display: block;
				float: right;
			}
			p {
				font-size: 16px;
				color: @light-grey-2;
				padding-bottom: 15px;
				border-bottom: 1px solid @white-grey-3;
				margin-bottom: 20px;
			}
			.items {
				p {
					border: none;
					margin: 0;
					padding: 0;
					font-size: 14px;
					line-height: 20px;
					color: @brown;
					padding-bottom: 10px;
				}
			}
			p.total {
				padding-bottom: 0;
				padding-top: 15px;
				border-bottom: none;
				border-top: 1px solid @white-grey-3;
				font-weight: 700;
			}
			a.to_checkout {
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				color: @brown;
				padding: 0 15px;
				margin-bottom: 0;
				text-align: center;
				background-color: @white-grey-4;
			}
			img {
				display: block;
				margin: 0 auto;
			}
			.no_product {
				float: none;
				margin: 0 auto;
			}
			&:hover {
				.ajax-loader {
					display: block;
					background-color: @white;
				}
			}
		}
		.navigation--entry.entry--cart.cart {
			width: auto;
			display: table;
		}

	}
	.modal--checkout-add-article {
		.modal--article {
			.article--image {
				.image--media {
					display: table;
					.unitize-margin(20, 0);
				}
			}
			.article--name {
				.list--name {
					a {
						li {
							display: inline-block;
							.unitize-margin(10, 0);
						}
					}
				}
			}
			.article--price {
				.list--price {
					a {
						li {
							display: inline-block;
							.unitize-margin(10, 0);
						}
					}
				}
			}
		}
		.modal--actions {
			width: 100%;
			.unitize-margin(0, 0);
			.unitize(line-height, 28);
			float: none;
			display: table;
		}
	}
	.container--ajax-cart {
		&.off-canvas {
			.unitize-padding(15, 15);
			.modal--actions {
				a {
					width: 100%;
				}
			}
		}
		.ajax--cart {
			background-color: @white-grey-5;
			.drop {
				display: block;
				position: fixed;
				top: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				z-index: 100;
				display: block !important;
				background-color: @white-grey-5;
				overflow: hidden;
				transition: all 0.3s;
				.box-shadow(none);
				&.active {
					right: 0;
					transition: all 0.3s;
				}
				li {
					width: 100%;
				}
				.close_label {
					display: block;
					text-align: left;
					position: relative;
					width: 100%;
					padding-bottom: 15px;
					a {
						display: block;
						width: 20px;
						height: 20px;
						overflow: hidden;
						background-image: url(../img/close_icon.png);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						position: absolute;
						right: 0;
						top: 0;
						z-index: 10;
						opacity: 1;
					}
					&::before {
						display: block;
						content: '';
						position: absolute;
						left: -20px;
						right: -20px;
						bottom: 0;
						height: 1px;
						background-color: @white-grey-2;
						z-index: 20;
					}
				}

				p.close_label a {
					display: block;
				}

				span {
					display: block;
					float: right;
				}

				p {
					font-size: 16px;
					color: @light-grey-2;
					border-bottom: 1px solid @white-grey-3;
					margin-bottom: 20px;
					border-bottom: none;
				}

				.items {
					p {
						border: none;
						margin: 0;
						padding: 0;
						font-size: 16px;
						line-height: 20px;
						color: @brown;
						padding-bottom: 20px;
					}
				}

				p.total {
					padding-bottom: 0;
					padding-top: 15px;
					border-bottom: none;
					font-weight: 700;
					border-top: 2px solid @white;
				}

				a.to_checkout {
					display: block;
					width: 100%;
					height: 40px;
					line-height: 40px;
					color: @brown;
					padding: 0 15px;
					margin-bottom: 0;
					text-align: center;
					background-color: @white-grey-4;
				}

				img {
					display: block;
					margin: 0 auto;
				}

				a.to_checkout,
				li .toggle {
					background-color: @white-grey-6 !important;
				}
				.paypal-express {
					float: none;
					margin: 0 auto;
					display: table;
					.unitize(margin-top, 31);
					.paypal-express--delimiter {
						display: none;
					}
				}
				.no_product {
					font-weight: 300;
					background: @white-grey;
					color: @brown;
					text-align: center;
					display: block;
					float: none;
					margin: 0 auto;
					width: auto;
					.unitize(line-height, 38);
					.unitize(margin-top, 20);
					cursor: default;
				}
			}
		}
		.modal--checkout-add-article {
			.modal--article {
				.article--image {
					.image--media {
						display: table;
						.unitize-margin(20, 0);
					}
				}
				.article--name {
					.list--name {
						a {
							li {
								display: inline-block;
								.unitize-margin(10, 0);
							}
						}
					}
				}
				.article--price {
					.list--price {
						a {
							li {
								display: inline-block;
								.unitize-margin(10, 0);
							}
						}
					}
				}
			}
			.modal--actions {
				width: 100%;
				.unitize-margin(0, 0);
				.unitize(line-height, 28);
				float: none;
				display: table;
			}
		}
	}
}

#mobile_nav {
	width: 230px;
	position: fixed;
	top: 0;
	bottom: 0;
	left: -230px;
	overflow: hidden;
	overflow-y: scroll;
	background-color: @white-grey-5;
	-webkit-box-shadow: 2px 6px 20px -5px rgba(0, 0, 0, 0.2);
	box-shadow: 2px 6px 20px -5px rgba(0, 0, 0, 0.2);
	z-index: 1001;
	transition: all 0.3s;

	ul {
		padding: 20px 0;
	}
	li {
		width: 100%;
		height: 50px;
		padding: 0 15px;
		overflow: hidden;
		list-style-type: none;
		display: table;
		&:first-of-type,
		a {
			display: table-cell;
			vertical-align: middle;
			width: 100%;
			height: 50px;
			line-height: 20px;
			margin: 10px 0px;
			font-size: 18px;
			color: @brown;
		}
	}
	li.dash {
		background: @white;
		display: table;
		height: 1px;
		width: 100%;
		padding: 0;
	}
}

section,
footer {
	position: relative;
	left: 0;
	transition: all 0.3s;
}

.mobile_menu #header,
.mobile_menu section,
.mobile_menu footer {
	left: 220px;
	transition: all 0.3s;
}

.mobile_menu #mobile_nav {
	left: 0;
	transition: all 0.3s;
}

#home_slider {
	.slider {
		margin: 0 auto;
		width: 1350px;
		max-width: 100%;
	}
}

#home_models {
	margin: 90px 0;
}

#leading_story {
	.h_list {
		margin-bottom: 30px;
	}
	.wrapper {
		padding: 0;
	}
	.stories_nav {
		font-size: 18px;
		line-height: 40px;
		text-align: center;
		margin: 10px -15px 90px;
		color: #333;
		overflow: hidden;
		a {
			color: #333;
			&:hover {
				color: @brown;
			}
		}
		a.prev {
			display: inline-block;
			padding: 0 15px 0 25px;
			position: relative;
			&::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f0a8";
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
				font-size: 16px;
				position: absolute;
				left: 0;
				top: 9px;
				z-index: 10;
			}
			&:hover::after {
				display: block;
				content: '';
				width: 1000px;
				height: 40px;
				background-color: @box_bg;
				position: absolute;
				right: 0;
				top: 0;
				z-index: -10;
			}
		}
		a.next {
			display: inline-block;
			padding: 0 25px 0 15px;
			position: relative;
			&::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f0a9";
				width: 20px;
				height: 20px;
				text-align: center;
				line-height: 20px;
				font-size: 16px;
				position: absolute;
				right: 0;
				top: 9px;
				z-index: 10;
			}
			&:hover::after {
				display: block;
				content: '';
				width: 1000px;
				height: 40px;
				background-color: @box_bg;
				position: absolute;
				left: 0;
				top: 0;
				z-index: -10;
			}
		}
	}
}

#instagram {
	.unitize(margin-bottom, 90);
	.wrapper {
		background-color: @box_bg;
		.unitize-padding(20, 20, 0, 20);
	}
	.container {
		.unitize-padding(20, 15);
	}
	.top {
		.unitize(margin-bottom, 15);
		p {
			color: @grey-1;
		}
		img {
			.unitize-height(28);
			.unitize(margin-left, 5);
			color: @grey-1;
			display: inline;
		}
		a {
			float: right;
			color: @grey-1;
			&:hover {
				color: @brown-2;
			}
		}
	}
	.bottom {
		width: 100%;
		overflow: hidden;
		.unitize-margin(0, 0);
		.instagram-element {
			ul {
				li {
					.unitize-width(204);
					.unitize(margin-right, 20);
					.unitize(margin-bottom, 20);
					float: left;
					.unitize(padding, 0);
					&:last-of-type {
						.unitize(margin-right, 0);
					}
					img {
						float: left;
						overflow: hidden;
						width: 100%;
					}
				}
			}
		}
	}
}

footer {
	width: 100%;
	overflow: hidden;
	border-top: 1px solid @white-grey-7;
	padding-top: 30px;
	text-align: center;
	ul {
		&.navigation--list {
			.unitize-margin(20, 0);
		}
	}
	li {
		list-style-type: none;
		display: inline-block;
		margin: 0 10px;
		a {
			color: @grey-1;
			font-weight: 300;
			&:hover {
				color: @brown;
			}
		}
	}
	.payment {
		margin-top: 10px;
		margin-bottom: 30px;
		img {
			opacity: 0.3;
			margin: 0 5px;
			display: inline-block;
		}
	}
	.logo {
		margin-bottom: 60px;
		img {
			height: 35px;
			display: inline-block;
		}
	}
}

#product_slider {
	margin-bottom: 30px;
}

#product_top.classic .decoration {
	border-top: 10px solid @orange-light;
	&::before {
		background: @orange-light;
		background-image: url(../img/model_headline_logo/c.png);
		background-position: center center;
		background-repeat: no-repeat;
	}
}

#product_top.run .decoration {
	border-top: 10px solid @fluo-yellow;
	&::before {
		background: @fluo-yellow;
		background-image: url(../img/model_headline_logo/r.png);
		background-position: center center;
		background-repeat: no-repeat;
	}
}

#product_top.evo .decoration {
	border-top: 10px solid @dark-grey;
	&::before {
		background: @dark-grey;
		background-image: url(../img/model_headline_logo/e.png);
		background-position: center center;
		background-repeat: no-repeat;
	}
}

#product_top {
	margin-bottom: 150px;
	.decoration {
		position: relative;
		margin: 0 15px;
		padding-bottom: 30px;
		&::before {
			display: block;
			content: '';
			width: 60px;
			height: 60px;
			position: absolute;
			right: 0;
			top: 0px;
			z-index: -10;
		}
	}
		.gallery {
			position: relative;
			padding-left: 20%;
			.thumbs {
				width: 20%;
				padding-right: 20px;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 10;
				img {
					width: 100%;
					height: auto;
					margin-bottom: 10px;
					background-color: @white;
					display: inline;
				}
				.active img {
					background-color: @white-grey-8;
					border: 2px solid @orange;
				}

			}
			.preview {
				background-color: @white;
				img {
					display: none;
					&.active {
						display: block;
					}
				}
			}
		}
		.product_info {
			color: @dark-grey-2;
			h1 {
				font-weight: 400;
				font-size: 24px;
				line-height: 36px;
				.unitize-margin(0, 0);
			}
			p.highlight {
				font-size: 18px;
				line-height: 32px;
			}
			.material {
				.variant--option {
					display: inline-block;
					padding-top: 0;
					text-align: center;
					width: auto;
					span.image {
						display: block;
						width: 50px;
						height: 50px;
						.border-radius-multi(50%, 50%, 50%, 50%);
						background-position: center center;
						background-repeat: no-repeat;
						background-size: contain;
						margin: 0 10px;
					}
					span.link_label {
						display: inline-block;
						margin-top: 5px;
						line-height: 30px;
						color: @dark-grey-2;
						width: 100%;
					}
					&.active span.image {
						border: 4px solid @white;
					}
					&.active span.link_label {
						background: @white;
					}
				}
				#vegan span.image {
					background-image: url(../img/product_detail/vegan.png);
				}
				#leder span.image {
					background-image: url(../img/product_detail/leather.png);
				}
				span.image {
					display: block;
					width: 50px;
					height: 50px;
					border-radius: 50% 50%;
					background-position: center center;
					background-repeat: no-repeat;
					background-size: contain;
					margin: 0 auto;
				}
				label.option--label {
					display: inline-block;
					font-weight: normal;
					padding: 10px 20px;
				}
				.label.option--label {
					display: inline-block;
					margin-top: 5px;
					line-height: 30px;
					color: @dark-grey-2;
					width: 100%;
				}
				.variant--option.active {
					span.link_label {
						background: #FFF;
					}
				}
			}
			input[type="radio"] {
				position: absolute;
				z-index: 9999;
			}
			.product--buybox {
				.buybox--form {
					.unitize-margin(0, 0);
					.unitize-padding(0, 0);
				}
				.variant--group {
					.jcf-select {
						.unitize-width(296);
						select {
							.unitize(padding-left, 15);
						}
					}
					.unitize-margin(0, 0);
					.material {
						.unitize-margin(0, 0, 10);
					}
				}
			}
			.buybox--button-container,
			.product--price {
				.unitize-margin(0, 0);
			}
			p.price {
				font-size: 28px;
				line-height: 44px;
				margin-top: 10px;
				margin-bottom: 15px;
				.unitize-margin(0, 0);
			}
			p.info {
				color: @grey-1;
				font-size: 12px;
				line-height: 16px;
				margin-bottom: 5px;
				a {
					color: @grey-1;
					text-decoration: underline;
				}
			}
			ul {
				.unitize-margin(0, 0);
				.unitize-padding(0, 0);
				.unitize(font-size, 28);
				.unitize(line-height, 12);
				position: relative;
				color: @green;
				list-style-position: inside;
				li {
					.unitize(line-height, 24);
					span {
						.unitize(font-size, 14);
						.unitize(line-height, 24);
						.unitize(left, 15);
						position: absolute;
					}
				}
			}
			form {
				input[type="submit"],
				input[type="submit"]:hover,
				button {
					.unitize-width(296);
					text-align: center;
					background-color: @brown;
					color: @white;
					font-size: 16px;
					margin-bottom: 15px;
					.border-radius(0);
					border: 0;
					.unitize(height, 40);
					&:hover {
						background-color: @orange-2;
						cursor: pointer;
					}
				}
				.btn.is--icon-right [class^="icon--"] {
					margin: 0;
					.unitize(line-height, 5);
				}
			}
		}


}

.section.product_top_description {
	margin-bottom: 90px;
	h2 {
		margin-bottom: 90px;
	}
	h3 {
		font-weight: 400;
		color: @orange;
		font-size: 28px;
		line-height: 23px;
		margin-bottom: 20px;
		position: relative;
		&::before {
			display: block;
			content: '';
			width: 20%;
			position: absolute;
			left: -22%;
			top: 50%;
			height: 1px;
			border: 1px dashed @orange;
			z-index: 10;
		}
		&.under::before {
			z-index: -10;
		}
	}
	.description {
		padding-top: 50px;
		p {
			margin-bottom: 90px;
		}
	}
}

.product_bottom_description {
	margin-bottom: 90px;
}

.other_models {
	margin-bottom: 90px;
	.container {
		.item {
			.product--image {
				.product_icon_letter {
					display: none;
				}
			}
		}
	}
	.item {
		position: relative;
		img {
			max-width: 55%;
		}
		p {
			position: absolute;
			left: 55%;
			width: 40%;
			top: 170px;
			z-index: 10;
			font-size: 16px;
			line-height: 24px;
			a {
				color: @brown;
			}
		}
	}
}

.articles {
	.v_list,
	.h_list {
		.text {
			.unitize-padding(20, 15, 10);
			h3 {
				.unitize(line-height, 22);
				.unitize(font-size, 18);
				.unitize-padding(0, 0, 0, 60);
				&::before {
					.unitize(height, 50);
					.unitize(line-height, 52);
					.unitize(font-size, 23);
					.unitize(width, 50);
				}
			}
		}
		&.inner {
			.text {
				h3 {
					.unitize-margin(0, 0);
					.unitize(line-height, 36);
					.unitize(font-size, 22);
				}
			}
		}
	}
	&.configurator {
	}
	.inner {
		background: none !important;
		.wrapper {
			background-color: @white-grey-5;
			overflow: hidden;
			position: relative;
			padding: 0;
			&:hover {
				background-color: @white;
			}
		}
		h3 {
			position: absolute !important;
			left: 20px;
			top: 30px;
			z-index: 10;
			color: @white;
		}
		p {
			display: block;
		}
		p::first-of-type {
			margin-top: 15px;
		}
		img {
			height: 350px;
			width: auto;
			&.right {
				float: right;
				margin-left: 30px;
			}
			&.left {
				float: left;
				margin-right: 30px;
			}
		}
	}
}

#product_comparison {
	margin-top: 50px;
	margin-bottom: 90px;
	.top_mobile_nav {
		text-align: center;
		a {
			display: inline-block;
			width: 20px;
			height: 30px;
			line-height: 30px;
			font-family: 'FontAwesome';
			color: @light-grey;
			font-size: 20px;
			text-align: center;
			margin: 0 5px;
			&.prev::before {
				content: "\f053";
			}
			&.next::before {
				content: "\f054";
			}
		}
		span {
			display: inline-block;
			width: 20px;
			height: 30px;
			line-height: 30px;
			font-family: 'FontAwesome';
			color: @light-grey;
			font-size: 20px;
			text-align: center;
			margin: 0 5px;
			&::before {
				content: "\f0a6";
			}
		}
	}
	.bottom_mobile_nav {
		text-align: center;
		margin: 20px 0 40px 0;
		a {
			display: inline-block;
			width: 100px;
			height: 220px;
			overflow: hidden;
			background-image: url(../img/product_comparison/mobile_arrow.png);
			background-position: center center;
			background-repeat: no-repeat;
			margin: 0 5px;
			span {
				display: block;
				height: 90px;
				padding-top: 40px;
				line-height: 36px;
				font-size: 16px;
				color: @light-grey-2;
				text-decoration: none;
			}
			&.classic span {
				border-bottom: 9px solid @orange-light;
			}
			&.run span {
				border-bottom: 9px solid @fluo-yellow;
			}
			&.evo span {
				border-bottom: 9px solid @dark-grey;
			}
		}
	}
	.products {
		p {
			font-size: 16px;
			line-height: 24px;
			padding-top: 8px;
			padding-bottom: 8px;
			a {
				color: @light-grey-2;
			}
		}
		img {
			display: block;
			margin: 0 auto;
		}
		a.button {
			display: block;
			width: 100%;
			height: 40px;
			font-size: 16px;
			line-height: 40px;
			text-align: center;
			text-decoration: none;
		}
		.classic {
			p {
				border-top: 5px solid @orange-light;
			}
			a.button {
				background: @orange-light;
				color: @white;
			}
		}
		.run {
			p {
				border-top: 5px solid @fluo-yellow;
			}
			a.button {
				background: @fluo-yellow;
				color: @light-grey-2;
			}
		}
		.evo {
			p {
				border-top: 5px solid @dark-grey;
			}
			a.button {
				background: @dark-grey;
				color: @white;
			}
		}
	}
}

#mobile_configurator_link {
	margin-bottom: 90px;
	.wrapper {
		background-color: @box_bg;
		font-size: 22px;
		line-height: 30px;
		color: @brown;
		text-align: center;
		a {
			color: @brown;
			text-decoration: none;
			span p {
				display: inline-block;
				padding: 15px 0;
				font-size: 22px;
				line-height: 30px;
			}
			&.button {
				display: block;
				width: 100%;
				height: 40px;
				line-height: 40px;
				color: @white;
				font-size: 16px;
				background-color: @brown;
				margin-top: 15px;
			}
			img {
				display: block;
				margin: 0 auto;
			}
		}
	}
}

.models_list {
	&.configurator {
		&.section {
			.container {
				.row {
					h2 {
						margin-top: 60px;
						margin-bottom: 60px;
					}
				}
			}
		}
		h2 {
			.unitize(font-size, 24);
			.unitize-margin(60, 0);
			line-height: normal;
		}
	}
	p.configurator {
		position: relative;
		width: auto;
		margin-top: 50px;
		z-index: 10;
		font-size: 16px;
		line-height: 24px;
		border-top: @white-grey-9 1px solid;
		padding-top: 20px;
	}
	.item {
		.product--image {
			.product_icon_letter {
				display: none;
			}
		}
		.line {
			border-bottom: 1px solid @white-grey-7;
			height: 1px;
			margin: 10px 0;
			display: block;
			width: 100%;
		}
		p {
			line-height: 28px;
			font-size: 16px;
		}
	}
}

.section.accessories_list {
	h1 {
		margin-bottom: 20px;
	}
	.filters {
		text-align: center;
		margin-bottom: 30px;
		a {
			display: inline-block;
			width: 180px;
			height: 40px;
			line-height: 34px;
			font-size: 16px;
			font-weight: 700;
			border: 3px solid @brown;
			border-radius: 20px 20px;
			color: @brown;
			margin: 0 15px;
			&:hover,
			&.active {
				border: 3px solid @white;
				background-color: @brown;
				color: @white;
				text-decoration: none;
			}
		}
	}
	.wrapper {
		background-color: @white-grey-5;
		padding: 10px 20px 20px 20px;
		text-align: left;
		margin-bottom: 30px;
		h2 {
			font-size: 18px;
			line-height: 24px;
			font-weight: 300;
			margin-bottom: 0;
			text-align: left;
			height: 45px;
			margin-top: 10px;
			a {
				color: @light-grey-2;
				text-decoration: none;
			}
		}
		.price {
			width: 100%;
			height: 40px;
			line-height: 40px;
			p {
				display: block;
				width: 35%;
				float: left;
				overflow: hidden;
				font-size: 28px;
				line-height: 40px;
				text-align: center;
			}
			a {
				display: block;
				width: 65%;
				line-height: 40px;
				color: @white;
				background-color: @brown;
				font-size: 16px;
				float: left;
				text-align: center;
				border: 0;
				.border-radius(0);
				&:hover,
				&.active {
					text-decoration: none;
					background: @orange;
				}
			}
		}
		img {
			margin: 20px auto;
		}
		&:hover,
		&.active {
			background: @white;
			h2 {
				a {
					color: @orange;
				}
			}
		}
	}
}

#product_top.accessories form {
	margin-top: 50px;
}

.section.stories {
	.stories_list {
		margin: 0 -30px;
	}
	.title {
		text-align: center;
		p {
			text-align: left;
			column-count: 2;
			column-gap: 30px;
			margin-bottom: 40px;
		}
	}
	h1 {
		position: relative;
		display: inline-block;
		padding-left: 85px;
		margin-bottom: 40px;
		&::before {
			font-family: 'FontAwesome';
			display: block;
			content: "\f0f2";
			position: absolute;
			left: 0;
			top: -22px;
			border-radius: 50%;
			background-color: @light-grey;
			z-index: 10;
			width: 70px;
			height: 70px;
			color: #DEDACE;
			text-align: center;
			line-height: 70px;
			font-size: 40px;
		}
	}
	.text {
		h2 {
			font-weight: 400;
			font-size: 22px;
			line-height: 28px;
			padding-left: 0;
			margin-bottom: 33px;
			text-align: left;
			a {
				text-decoration: none;
			}
		}
		h2::first-of-type {
			margin-top: 0;
		}
		p.date {
			padding-left: 0;
			line-height: 25px;
		}
	}
	.stories {
		margin-bottom: 15px;
		background-color: @box_bg;
		&:hover {
			background-color: @white;
		}
	}
	.story_item {
		margin-bottom: 30px;
		.wrapper {
			background-color: @box_bg;
			&:hover {
				background-color: @white;
			}
			.text {
				padding: 15px 20px;
				h2 {
					font-weight: 300;
					font-size: 20px;
					line-height: 24px;
					padding-left: 0;
					margin-bottom: 0;
					text-align: left;
					margin-bottom: 5px;
					a {
						color: @light-grey-2;
					}
				}
				p {
					color: @grey-1;
					font-size: 13px;
					margin-bottom: 0;
				}
			}
			img {
				width: 100% !important;
			}
		}
	}
	.more {
		margin: 35px 0 50px 0;
		a {
			display: block;
			width: 270px;
			height: 40px;
			text-align: center;
			font-size: 16px;
			line-height: 40px;
			background-color: @brown;
			color: @white;
			text-decoration: none;
			display: block;
			margin: 0 auto;
			&:hover {
				background-color: @orange-2;
			}
		}
	}
}

.video_and_support {
	margin-bottom: 90px;
	.wrapper {
		width: 100%;
		height: auto;
		overflow: hidden;
		background-color: @box_bg;
		padding: 0px;
		.text {
			display: block;
			width: 50%;
			height: auto;
			float: right;
			overflow: hidden;
			padding: 0px 15px;
			h3 {
				font-size: 18px;
				line-height: 22px;
			}
		}
		.image {
			display: block;
			width: 50%;
			height: auto;
			float: left;
			overflow: hidden;
			position: relative;
		}
		&:hover {
			background-color: @white;
		}
	}
	.item .text h3::before {
		top: -3px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		font-size: 30px;
	}
	.item.support h3,
	.item.video h3 {
		padding-left: 60px;
	}
	.item.leaf h3::before {
		content: "\f06c" !important;
	}
	.item.scissors h3::before {
		content: "\f0c4" !important;
	}
	.item.stories h3::before {
		content: "\f0f2" !important;
	}
	.item.support h3::before {
		content: "\f004" !important;
	}
	.item.video h3::before {
		content: "\f16a" !important;
	}
}

.video {
	a.various {
		display: block;
		width: 62px;
		height: 63px;
		position: absolute;
		left: 50%;
		top: 50%;
		margin: -31px 0 0 -31px;
		z-index: 10;
		text-align: center;
		line-height: 62px;
		font-family: 'FontAwesome';
		color: @white;
		&::before {
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			content: "\f16a";
			font-size: 60px;
			opacity: 0.5;
			z-index: -10;
		}
		&:hover::before {
			color: @red;
		}
	}
}

#story_top {
	margin-top: -50px;
	a {
		.arrow_back;
	}
	img {
		width: 100%;
	}
}

#story_content,
#press_content {
	margin-top: 40px;
	margin-bottom: 90px;
	.left {
		.wrapper {
			padding: 0 20px;
			background-color: @white;
			color: #333;
			font-size: 16px;
			line-height: 28px;
			display: table;
			h1 {
				font-size: 24px;
				line-height: 28px;
				font-weight: 400;
				margin-bottom: 0;
			}
			h2 {
				font-size: 16px;
				line-height: 24px;
				font-weight: 400;
				margin-bottom: 5px;
			}
			p {
				margin-bottom: 28px;
				.unitize(line-height, 24);
				.unitize(font-size, 16);
				&.user_and_date {
					.unitize(font-size, 14);
					.unitize(line-height, 16);
					color: @light-grey-2;
				}
			}
			a {
				color: #333;
				text-decoration: underline;
			}
		}
	}
	.right {
		.item.model {
			overflow: hidden;
			position: relative;
			margin-bottom: 30px;
			background-color: @white;
			img {
				float: right;
			}
			a {
				position: relative;
				z-index: 20;
				display: block;
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			p {
				position: absolute;
				left: 20px;
				top: 20px;
				z-index: 30;
				font-size: 16px;
				line-height: 24px;
				color: @brown;
				width: 180px;
			}
			&:hover {
				background-color: @white;
			}
			&:hover::before {
				z-index: 30;
			}
		}
		h3 {
			text-align: center;
			font-size: 20px;
			line-height: 30px;
			margin-bottom: 15px;
			font-weight: 300;
			color: #333;
		}
		.story_item {
			margin-bottom: 30px;
			.wrapper {
				background-color: @box_bg;
				&:hover {
					background-color: @white;
				}
				.text {
					padding: 15px 20px;
					h4 {
						font-weight: 300;
						font-size: 20px;
						line-height: 24px;
						padding-left: 0;
						margin-bottom: 0;
						text-align: left;
						margin-bottom: 5px;
						a {
							color: @light-grey-2;
						}
					}
					p {
						color: @grey-1;
						font-size: 13px;
						margin-bottom: 0;
					}
				}
				img {
					width: 100% !important;
				}
			}
		}
		a.more {
			display: block;
			width: 270px;
			height: 40px;
			text-align: center;
			font-size: 16px;
			line-height: 40px;
			background-color: @brown;
			color: @white;
			text-decoration: none;
			display: block;
			margin: 0 auto;
			&:hover {
				background-color: @orange-2;
			}
		}
		.product_icon_letter{
			display: none;
		}
		.article{
			position: relative;
			.description{
				position: absolute;
				.unitize(top, 80);
				.unitize(left, 20);
				.unitize-width(175);
			}
		}
	}
}

#about {
	margin-top: 40px;
	margin-bottom: 90px;
	.wrapper {
		padding: 20px 40px;
		background-color: @white;
		font-size: 16px;
		line-height: 24px;
		color: rgb(51, 51, 51);
		p {
			margin-bottom: 24px;
			font-size: 16px;
		}
		h2 {
			font-size: 24px;
			line-height: 36px;
			font-weight: 400;
			margin-bottom: 24px;
			clear: both;
			width: 100%;
		}
		a {
			color: rgb(51, 51, 51);
			text-decoration: underline;
		}
		.align_right {
			float: right;
			margin: 0 0 30px 30px;
		}
		.align_left {
			float: left;
			margin: 0 30px 30px 0;
		}
	}
}

#about {
	margin-top: 40px;
	margin-bottom: 90px;
}

#contact,
#registration,
#login,
#steps {
	margin-bottom: 90px;
	.bottom {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		.left,
		.right {
			display: flex;
		}
	}
	.wrapper {
		background-color: @white-grey-5;
		padding: 20px 20px;
		color: #333;
		font-size: 14px;
		line-height: 24px;
		width: 100%;
		h2 {
			text-align: left;
			font-weight: 400;
			font-size: 16px;
			line-height: 28px;
			margin-bottom: 0;
		}
		p {
			margin-bottom: 24px;
		}
		a {
			color: #333;
			text-decoration: underline;
		}
		input[type="submit"] {
			background-color: @brown;
			color: @white;
			margin-top: 20px;
			&:hover {
				background-color: @orange-2;
			}
		}
	}
}

#steps {
	margin-bottom: 0;
}

#service_overview {
	margin-bottom: 90px;
	h2 {
		font-size: 32px;
		line-height: 40px;
		text-align: left;
		color: @light-grey-2;
		font-weight: 300;
		margin-bottom: 10px;
	}
	.list_item {
		background-color: @box_bg;
		width: 100%;
		padding: 10px;
		color: #333;
		line-height: 24px;
		position: relative;
		margin-bottom: 15px;
		h3 {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 0;
			margin-top: 0;
			font-weight: 400;
		}
		p {
			margin-bottom: 0;
			&.date {
				font-size: 12px;
			}
		}
		a {
			color: #333;
			text-decoration: underline;
		}
		&:hover {
			background-color: @white;
			color: @brown;
			a {
				color: @brown;
			}
		}
	}
	.text_item {
		background-color: @box_bg;
		width: 100%;
		padding: 10px;
		color: #333;
		line-height: 24px;
		position: relative;
		margin-bottom: 15px;
		padding: 15px 15px;
		h3 {
			font-size: 16px;
			line-height: 24px;
			margin-bottom: 0;
			margin-top: 0;
			font-weight: 400;
		}
		p {
			margin-bottom: 0;
			&.date {
				font-size: 12px;
			}
		}
		a {
			color: #333;
			text-decoration: underline;
		}
	}
	a.button {
		.button_brown_orange;
		margin-bottom: 40px;
	}
	.left .list_item {
		padding-left: 100px;
		min-height: 115px;
		img {
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 10;
			max-width: 80px;
		}
	}
	.right .list_item {
		padding-left: 185px;
		min-height: 190px;
		img {
			position: absolute;
			left: 10px;
			top: 10px;
			z-index: 10;
			max-width: 165px;
		}
	}
}

#service_faq {
	.title {
		position: relative;
		a {
			.arrow_back;
			position: absolute;
			left: 15px;
			top: 0;
			z-index: 10;
		}
	}
	h2 {
		font-size: 20px;
		font-weight: 400;
		color: #333;
		margin-bottom: 15px;
		text-align: left;
	}
	#top {
		margin-bottom: 90px;
		.wrapper {
			background-color: @box_bg;
			width: 100%;
			padding: 10px;
			color: #333;
			line-height: 24px;
			position: relative;
			margin-bottom: 15px;
			padding: 15px 15px;
			h3 {
				font-size: 16px;
				line-height: 24px;
				margin-bottom: 0;
				font-weight: 400;
			}
			p {
				margin-bottom: 0;
				&.date {
					font-size: 12px;
				}
			}
			a {
				color: #333;
				text-decoration: underline;
			}
		}
	}
	.right {
		a {
			.arrow_up;
		}
	}
	.row.list {
		margin-bottom: 90px;
	}
}

#press_overview {
	margin-bottom: 90px;
	.title {
		position: relative;
		a {
			.arrow_back;
			position: absolute;
			left: 15px;
			top: 0;
			z-index: 10;
		}
	}
	h2 {
		font-size: 20px;
		font-weight: 400;
		color: #333;
		margin-bottom: 15px;
		text-align: left;
	}
	a.item {
		display: block;
		width: 100%;
		background-color: @box_bg;
		padding: 10px 15px;
		margin-bottom: 15px;
		color: @dark-grey-2;
		font-size: 14px;
		line-height: 18px;
		span {
			display: block;
			&.info {
				font-size: 12px;
				margin-bottom: 5px;
			}
		}
		&:hover {
			background-color: @white;
			color: @brown;
		}
	}
	.contact {
		background-color: @box_bg;
		padding: 10px 15px;
		margin-bottom: 40px;
		font-size: 14px;
		line-height: 24px;
		line-height: 28px;
		overflow: hidden;
		img {
			float: right;
		}
		a {
			color: #333;
			text-decoration: underline;
		}
	}
}

#press_images {
	margin-bottom: 90px;
	.title {
		position: relative;
		a {
			.arrow_back;
			position: absolute;
			left: 15px;
			top: 0;
			z-index: 10;
		}
		p {
			column-count: 2;
			column-gap: 30px;
		}
	}
	.links {
		margin-top: 50px;
		a.item {
			display: block;
			width: 100%;
			background-color: @box_bg;
			padding: 15px 15px;
			margin-bottom: 15px;
			color: @dark-grey-2;
			font-size: 14px;
			line-height: 18px;
			position: relative;
			padding-left: 40px;
			&.slideshow::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f03e";
				position: absolute;
				left: 15px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.zip::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f1c6";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&:hover {
				background-color: @white;
				color: @brown;
			}
		}
	}
	.contact {
		background-color: @box_bg;
		padding: 10px 15px;
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 24px;
		line-height: 28px;
		overflow: hidden;
		img {
			float: right;
			max-width: 91px;
		}
		a {
			color: #333;
			text-decoration: underline;
		}
		p {
			margin-bottom: 0;
		}
	}
	.list {
		.item {
			margin-bottom: 15px;
			.description {
				background-color: @box_bg;
				padding: 15px 15px 5px 15px;
				&:hover {
					background-color: @white;
				}
				h3 {
					font-size: 18px;
					line-height: 22px;
					font-weight: 300;
					margin-bottom: 0px;
					color: @light-grey-2;
				}
				p {
					color: @grey-1;
					font-size: 13px;
					line-height: 28px;
					margin-bottom: 0;
				}
			}
		}
	}
}

#press_content {
	.right {
		a.item {
			display: block;
			width: 100%;
			background-color: @box_bg;
			padding: 15px 15px;
			margin-bottom: 15px;
			color: @dark-grey-2;
			font-size: 14px;
			line-height: 18px;
			position: relative;
			padding-left: 40px;
			&.slideshow::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f03e";
				position: absolute;
				left: 15px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.zip::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f1c6";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.fb::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f230";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.instagram::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f16d";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.event::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f271";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.pdf::before {
				font-family: 'FontAwesome';
				display: block;
				content: "\f1c1";
				position: absolute;
				left: 17px;
				top: 14px;
				z-index: 10;
				font-size: 16px;
			}
			&.image {
				padding: 26px 0 26px 105px;
				img {
					position: absolute;
					left: 10px;
					top: 10px;
					z-index: 10;
					max-width: 75px;
				}
			}
			&:hover {
				background-color: @white;
				color: @brown;
			}
		}
		.contact {
			background-color: @box_bg;
			padding: 10px 15px;
			margin-bottom: 20px;
			font-size: 14px;
			line-height: 24px;
			line-height: 28px;
			overflow: hidden;
			img {
				float: right;
				max-width: 91px;
			}
			a {
				color: #333;
				text-decoration: underline;
			}
			p {
				margin-bottom: 0;
			}
		}
	}
}

#support {
	.forms--inner-form {
		textarea,
		input[type="text"],
		input[type="search"],
		input[type="password"],
		input[type="number"],
		input[type="email"],
		input[type="tel"] {
			width: 100%;
		}
	}
}

.paypal-express--container > .paypal-express {
	float: right;
	padding: 20px 50px;
	.paypal-express--delimiter {
		display: none !important;
	}
	.paypal-express--btn {
		float: right;
	}
}

#configurator {
	width: 100%;
	height: auto;
	overflow: hidden;
	.top {
		margin-bottom: 100px;
		h1 {
			text-align: center;
			color: #666666;
			margin-bottom: 40px;
		}
		p {
			width: 50%;
			float: left;
			padding-right: 15px;
			&:last-of-type {
				padding: 0 0 0 15px;
			}
		}
	}
	.form {
		text-align: center;
		vertical-align: top;
		.filters {
			width: auto;
			overflow: hidden;
			margin: 0 auto;
			display: inline-block;
			margin-bottom: 60px;

			h2 {
				.unitize(font-size, 24);
				color: #333333;
				text-align: center;
				.unitize(line-height, 36);
				margin-bottom: 20px;
			}

			.radio_wrapper {
				float: left;
				overflow: hidden;
				.input {
					width: 100%;
					height: auto;
					position: relative;
					text-align: center;
					overflow: hidden;

					.jcf-radio,
					.input {
						display: block;
						width: 100%;
						height: 100%;
						position: absolute;
						left: 0;
						top: 0;
						z-index: 10;
						cursor: pointer;
					}
					.jcf-checked::before {
						display: block;
						content: "\f058";
						width: 75px;
						height: 75px;
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 10;
						margin: -38px 0 0 -42px;
						font-family: 'FontAwesome';
						.unitize(font-size, 75);
						color: #FFF;
						cursor: pointer;
						.unitize(line-height, 75);
					}
				}
				img {
					display: inline-block;
				}
				label {
					display: block;
					font-weight: normal;
					padding: 5px 5px;
					overflow: hidden;
					cursor: pointer;
					margin-top: 10px;
					opacity: 1;
					position: relative;
					.unitize(font-size, 14);
					color: #333333;
					span {
						.name {
							margin-bottom: 0;
						}
						.description {
							.unitize(font-size, 16);
							color: #b1b1b1;
							margin-bottom: 0;
						}
					}
				}
				&:hover {
					.jcf-radio::before {
						display: block;
						content: "\f058";
						width: 75px;
						height: 75px;
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 10;
						margin: -38px 0 0 -42px;
						font-family: 'FontAwesome';
						.unitize(font-size, 75);
						color: #FFF;
						cursor: pointer;
						.unitize(line-height, 75);
					}
					label {
						background: #FFF;
					}
				}
				&.active label {
					background: #FFF;
				}
			}
		}

		#filters_1 .radio_wrapper {
			max-width: 274px;
			margin: 0 10px;
		}
		#filters_2 .radio_wrapper {
			max-width: 180px;
			margin: 0 10px;
		}
		#filters_3 .radio_wrapper {
			width: 229px;
			max-width: 20%;
			padding: 0 5px;
		}
		#filters_4 .radio_wrapper {
			max-width: 214px;
			margin: 0 10px;
		}
		#filters_5 .radio_wrapper {
			width: 140px;
			max-width: 14%;
			padding: 0 10px;
		}
		.tailor_made_trigger {
			display: none;
		}
		#filters_6 .radio_wrapper {
			display: block;
		}
		#filters_6 .radio_wrapper,
		.tailor_made_trigger {
			width: @shoe-size;
			height: @shoe-size;
			margin: 5px;
			position: relative;
			.input,
			span {
				width: @shoe-size;
				height: @shoe-size;
				.border-radius(50% 50%);
			}
			label {
				position: absolute;
				left: 0;
				top: 0;
				z-index: 20;
				display: block;
				width: @shoe-size;
				height: @shoe-size;
				.border-radius(50% 50%);
				background: #333333;
				padding: 0;
				margin: 0;
				text-align: center;
				line-height: @shoe-size;
				color: #FFF;
				.unitize(font-size, 20);
				font-weight: bold;
			}
			&.active,
			&:hover {
				label {
					border: 3px solid #333;
					background: #FFF;
					color: #333;
					line-height: @shoe-size * 0.9;
				}
			}
			&.auto_width {
				width: 160px;
				.input,
				span,
				label {
					width: 100%;
					border-radius: @shoe-size @shoe-size;
					.unitize(font-size, 18);
					font-weight: normal;
				}
			}
		}

		.tailor_made_info {
			width: 100%;
			padding: 30px 60px 80px;
			background: #fff;
			display: table;
			text-align: left;
			color: #333333;
			.unitize(line-height, 24);
			margin-bottom: 20px;
			margin-top: 20px;
			.text_left,
			.text_right {
				float: left;
				width: 50%
			}
			.text_right {
			}
			h3 {
				.unitize(font-size, 20);
				text-align: center;
				margin-bottom: 40px;
				margin-top: 0;
				color: #666666;
			}
		}
		.form_price_and_submit {
			width: 100%;
			.unitize-padding(20, 0);
			background: #F2F0EB;
			vertical-align: top;
			h2 {
				width: 100%;
				.unitize-margin(0, 0, 20, 0);
				.unitize(font-size, 24);
				.unitize(line-height, 36);
				color: #333333;
				text-align: center;
			}
			p.price {
				display: inline-block;
				.unitize(font-size, 28);
				color: #333333;
				text-align: right;
				margin: 0 10px;
				vertical-align: top;
				position: relative;
				top: -3px;
			}
			.form_submit {
				display: inline-block;
				width: 270px;
				margin: 0 10px;
				p {
					.unitize(font-size, 12);
					color: #999999;
					.unitize(line-height, 20);
					text-align: left;
					margin: 0;
					a {
						color: #999999;
						text-decoration: underline;
					}
				}
				form {
					margin: 0
				}
				.buybox--button-container .buy {
					.unitize-margin(0, 0, 15, 0);
				}
			}
		}
	}
	.configurator {
		&.models_list {
			h2 {
				.unitize(line-height, 36);
				.unitize(height, 36);
				.unitize(font-size, 24);
				.unitize-margin(95, 0, 100, 0);
			}
		}
		.v_list .text {
			padding: 15px 15px;
			h3 {
				padding-left: 50px;
				.unitize(font-size, 16);
				.unitize(line-height, 20);
				&::before {
					width: 40px;
					height: 40px;
					.unitize(line-height, 40);
					.unitize(font-size, 26);
					top: -2px;
				}
			}
		}
	}
}

#mobile-cart {
	.margin-bottom-10 {
		margin-bottom: 10px;
	}
	.entries {
		.article-1 {
			ul li form {
				margin-top: 0px;
			}
		}
	}
	.article-1 ul li p {
		position: relative;
		top: 10px;
	}
	.text-align-right {
		text-align: right;
	}
	.text-align-left {
		text-align: left;
	}
	.entries-article-head {
		line-height: 30px;
		padding-top: 15px;
		span {
			float: left;
			font-size: 16px;
			font-weight: 300;
		}
	}
	.paypal-button {
		padding-bottom: 100px !important;
		img {
			margin: 0px auto;
		}
	}
	.article-1 {
		margin: 20px 0px;
	}
	.entries-border {
		bottom: 0px;
		width: 36px;
		margin-left: 15px;
	}
	.entries-border-top {
		bottom: 5px;
		top: 10px;
		width: 36px;
		margin-left: 15px;
	}
	.entries-article-body {
		.entries-border {
			margin-left: 0px;
			width: 100%;
		}
		ul {
			li {
				input.navbar-text {
					border-radius: 5px;
					color: #333333;
					float: right;
					text-align: center;
					width: 53px;
				}
			}
		}
	}
	.navbar-text {
		font-size: 16px;
		font-weight: 400;
		margin: 0px;
	}
	p.navbar-text {
		float: right;
	}
	.margin-top-10 {
		margin-top: 10px;
	}
	a.button {
		background: #e4e4e4;
		float: right;
		font-size: 18px;
		padding-top: 7px !important;
		text-align: center;
		text-decoration: none;
		width: 47px;
		&:hover {
			background-color: @orange;
			color: @white;
		}
	}
	.padding-top-left-15 {
		padding-top: 15px;
		padding-top: 7px;
	}
	.entries-article-summe {
		padding-right: 7px;
		padding-top: 10px;
	}
	form.entries-forma {
		input[type="submit"] {
			background-color: #f2f2f2;
			&:focus {
				background-color: @orange;
				color: @white;
			}
		}
	}
	.total-price {
		top: 20px;
		ul {
			&:last-of-type {
				color: #666666;
				font-weight: bold;
				margin-bottom: 5px;
			}
		}
	}
	a.total-price-button {
		text-align: center;
		&::after {
			border-bottom: 20px solid transparent;
			border-top: 20px solid transparent;
			margin-top: -20px;
			right: -14px;
		}
	}
	.margin-auto {
		float: initial;
		margin: auto;
	}
}

a.total-price-button {
	&::before {
		border-bottom: 20px solid transparent;
		border-top: 20px solid transparent;
		margin-top: -20px;
		right: -14px;
	}
}

a.bottom-button-white {
	background-clip: padding-box;
	background-color: @box_bg;
	border-radius: 0;
	border: none;
	color: #846341;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @orange;
		color: #ffffff;
		&::before {
			border-left-color: @orange;
			border-right-color: @orange;
		}
		&::after {
			border-left-color: @orange;
			border-right-color: @orange;
		}
	}
	&::before {
		border-left-color: transparent;
		border-bottom: 18px solid transparent;
		border-right: 1em solid transparent;
		border-top: 18px solid transparent;
		color: @box_bg;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
	}
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: transparent;
		border-right: 1em solid transparent;
		border-top: 18px solid transparent;
		color: @box_bg;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
}

.top-12 {
	top: 12px !important;
}

.jcf-radio {
	background: #ffffff;
	border-radius: 9px;
	border: 0;
	cursor: default;
	display: inline-block;
	height: 16px;
	margin: 0 3px 0 0;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 16px;
	span {
		background: none;
		border-radius: 100%;
		bottom: 3px;
		display: none;
		left: 3px;
		position: absolute;
		right: 3px;
		top: 3px;
	}
	input[type="radio"] {
		border: 0;
		height: 100%;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

.konfigurator--variant {
	.jcf-radio {
		background: none;
		border: 0;
	}
}

.configurator--variant {
	.jcf-radio {
		background: none;
		border: 0;
		height: 50px;
		left: 10px;
		position: absolute;
		top: 0;
		width: 50px;
	}
}

.jcf-radio.jcf-checked {
	span {
		display: block;
	}
}

.jcf-checkbox {
	background: #ffffff;
	border: 1px solid #777777;
	cursor: default;
	display: inline-block;
	height: 16px;
	margin: 0 3px 0 0;
	overflow: hidden;
	position: relative;
	vertical-align: middle;
	width: 16px;
	span {
		-moz-transform: rotate(-45deg);
		-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
		-ms-transform: rotate(-45deg);
		-webkit-transform: rotate(-45deg);
		border-width: 0 0 3px 3px;
		border: 3px solid #777777;
		display: none;
		height: 4px;
		left: 50%;
		margin: -7px 0 0 -6px;
		position: absolute;
		top: 50%;
		transform: rotate(-45deg);
		width: 8px;
	}
	input[type="checkbox"] {
		border: 0;
		height: 100%;
		left: 0;
		margin: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
}

&:root {
	.jcf-checkbox {
		span {
			margin: -4px 0 0 -5px;
		}
	}
}

.jcf-checkbox.jcf-checked {
	span {
		display: block;
	}
}

.jcf-button {
	background: #ffffff;
	border: 1px solid #777777;
	display: inline-block;
	margin: 0 10px 10px 0;
	overflow: hidden;
	padding: 5px 10px;
	position: relative;
	vertical-align: top;
	.jcf-real-element {
		border: 0;
		bottom: 0;
		left: 0;
		margin: 0;
		min-height: 100%;
		min-width: 100%;
		opacity: 0;
		outline: none;
		padding: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
}

.jcf-file {
	background: #ffffff;
	display: inline-block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	.jcf-real-element {
		font-size: 200px;
		height: 200px;
		margin: 0;
		position: absolute;
		right: 0;
		top: 0;
	}
	.jcf-fake-input {
		border: 1px solid #777777;
		display: inline-block;
		font-size: 13px;
		height: 28px;
		line-height: 28px;
		overflow: hidden;
		padding: 0 8px;
		text-overflow: ellipsis;
		vertical-align: top;
		white-space: nowrap;
		width: 125px;
	}
	.jcf-upload-button {
		border: 1px solid #777777;
		display: inline-block;
		height: 28px;
		line-height: 28px;
		margin: 0 0 0 -1px;
		overflow: hidden;
		padding: 0 10px;
		vertical-align: top;
		white-space: nowrap;
	}
}

.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}

.jcf-scrollbar-vertical {
	background: #e3e3e3;
	bottom: 0;
	cursor: default;
	position: absolute;
	right: 0;
	top: 0;
	width: 14px;
	.jcf-scrollbar-dec {
		background: #bbbbbb;
		height: 14px;
		left: 0;
		top: 0;
		width: 14px;
	}
	.jcf-scrollbar-inc {
		background: #bbbbbb;
		bottom: 0;
		height: 14px;
		left: 0;
		top: 0;
		top: auto;
		width: 14px;
	}
	.jcf-scrollbar-handle {
		background: #888888;
		height: 1px;
		width: 14px;
	}
}

.jcf-scrollbar-horizontal {
	background: #e3e3e3;
	bottom: 0;
	height: 14px;
	left: 0;
	position: absolute;
	right: auto;
	top: auto;
	width: 1px;
	.jcf-scrollbar-dec {
		background: #bbbbbb;
		display: inline-block;
		height: 14px;
		overflow: hidden;
		vertical-align: top;
		width: 14px;
	}
	.jcf-scrollbar-inc {
		background: #bbbbbb;
		display: inline-block;
		height: 14px;
		left: auto;
		overflow: hidden;
		right: 0;
		vertical-align: top;
		width: 14px;
	}
	.jcf-scrollbar-slider {
		display: inline-block;
		height: 14px;
		position: relative;
	}
	.jcf-scrollbar-handle {
		background: #888888;
		height: 14px;
		position: absolute;
	}
}

.jcf-scrollbar.jcf-inactive {
	.jcf-scrollbar-handle {
		visibility: hidden;
	}
	.jcf-scrollbar-dec {
		background: #e3e3e3;
	}
	.jcf-scrollbar-inc {
		background: #e3e3e3;
	}
}

.jcf-select {
	select {
		left: 0;
		top: 0;
		z-index: 1;
	}
}

body > .jcf-select-drop {
	margin: -1px 0 0;
	position: absolute;
	z-index: 9999;
}

body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}

.jcf-select.jcf-compact-multiple {
	max-width: 220px;
	.jcf-select-opener {
		&::before {
			content: '...';
			display: inline-block;
			padding-top: 2px;
		}
	}
}

.jcf-select-drop {
	.jcf-select-drop-content {
		border: 1px solid #ff0000;
	}
	.jcf-hover {
		background: #e6e6e6;
		color: #000000;
	}
}

.jcf-select-drop.jcf-compact-multiple {
	.jcf-hover {
		background: none;
	}
	.jcf-selected {
		background: #e6e6e6;
		color: #000000;
		&::before {
			-moz-transform: rotate(-45deg);
			-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.7071067811865483, M12=0.7071067811865467, M21=-0.7071067811865467, M22=0.7071067811865483, SizingMethod='auto expand')";
			-ms-transform: rotate(-45deg);
			-webkit-transform: rotate(-45deg);
			border-width: 0 0 3px 3px;
			border: 3px solid #777777;
			content: '';
			display: inline-block;
			height: 4px;
			margin: -7px 5px 0 -3px;
			transform: rotate(-45deg);
			width: 8px;
		}
	}
}

.jcf-list-box {
	border: 1px solid #b8c3c9;
	display: inline-block;
	margin: 0 15px;
	min-width: 200px;
	overflow: hidden;
	.jcf-selected {
		background: #e6e6e6;
		color: #000000;
	}
}

.jcf-list {
	background: #ffffff;
	display: inline-block;
	font-size: 12px;
	line-height: 14px;
	position: relative;
	vertical-align: top;
	width: 100%;
	.jcf-list-content {
		display: inline-block;
		overflow: auto;
		vertical-align: top;
		width: 100%;
	}
	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			display: block;
			overflow: hidden;
		}
	}
	.jcf-overflow {
		overflow: auto;
	}
	.jcf-option {
		color: #656565;
		cursor: default;
		display: block;
		height: 1%;
		min-height: 14px;
		overflow: hidden;
		padding: 5px 9px;
		white-space: nowrap;
	}
	.jcf-disabled {
		background: #ffffff !important;
		color: #aaaaaa !important;
	}
	.jcf-optgroup-caption {
		color: #000000;
		cursor: default;
		display: block;
		font-weight: bold;
		padding: 5px 9px;
		white-space: nowrap;
	}
	.jcf-optgroup {
		.jcf-option {
			padding-left: 30px;
		}
	}
}

.jcf-textarea {
	border: 1px solid #b8c3c9;
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	.jcf-scrollbar-horizontal {
		display: none;
		height: 0;
	}
	textarea {
		border: none;
		margin: 0;
		padding: 8px 10px;
	}
	.jcf-resize {
		background: #e3e3e3;
		bottom: 0;
		cursor: se-resize;
		font-size: 12px;
		font-weight: bold;
		height: 15px;
		line-height: 15px;
		position: absolute;
		right: 0;
		text-align: center;
		text-indent: 1px;
		width: 14px;
		&::before {
			border-width: 0 1px 1px 0;
			border: 1px solid #000000;
			content: '';
			display: block;
			height: 6px;
			margin: 4px 0 0 3px;
			width: 6px;
		}
	}
}

.jcf-number {
	display: inline-block;
	height: 32px;
	position: relative;
	input {
		-moz-appearance: textfield;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		border: 1px solid #777777;
		box-sizing: border-box;
		height: 100%;
		margin: 0;
		padding: 3px 27px 3px 7px;
		&::-webkit-inner-spin-button {
			-webkit-appearance: none;
		}
		&::-webkit-outer-spin-button {
			-webkit-appearance: none;
		}
	}
	.jcf-btn-dec {
		background: #aaaaaa;
		bottom: 1px;
		height: 15px;
		position: absolute;
		right: 1px;
		top: 1px;
		top: auto;
		width: 20px;
		&:hover {
			background: #e6e6e6;
		}
		&::before {
			border-color: #000000 transparent transparent transparent;
			border-color: transparent transparent #000000 transparent;
			border: 4px solid #aaaaaa;
			content: '';
			height: 0;
			left: 50%;
			margin: -1px 0 0 -4px;
			margin: -6px 0 0 -4px;
			position: absolute;
			top: 50%;
			width: 0;
		}
	}
	.jcf-btn-inc {
		background: #aaaaaa;
		height: 15px;
		position: absolute;
		right: 1px;
		top: 1px;
		width: 20px;
		&:hover {
			background: #e6e6e6;
		}
		&::before {
			border-color: transparent transparent #000000 transparent;
			border: 4px solid #aaaaaa;
			content: '';
			height: 0;
			left: 50%;
			margin: -6px 0 0 -4px;
			position: absolute;
			top: 50%;
			width: 0;
		}
	}
	.jcf-btn-dec.jcf-disabled {
		&::before {
			opacity: 0.3;
		}
	}
	.jcf-btn-inc.jcf-disabled {
		&::before {
			opacity: 0.3;
		}
	}
}

.jcf-number.jcf-disabled {
	.jcf-btn-dec {
		&:hover {
			background: #aaaaaa;
		}
		&::before {
			opacity: 0.3;
		}
	}
	.jcf-btn-inc {
		&:hover {
			background: #aaaaaa;
		}
		&::before {
			opacity: 0.3;
		}
	}
	input {
		background: #dddddd;
	}
}

.jcf-range {
	display: inline-block;
	margin: 0 10px;
	min-width: 200px;
	width: 130px;
	.jcf-range-track {
		display: block;
		height: 10px;
		margin: 0 20px 0 0;
		position: relative;
	}
	.jcf-range-wrapper {
		background: #e5e5e5;
		border-radius: 5px;
		display: block;
		margin: 5px 0;
		position: relative;
	}
	.jcf-range-display-wrapper {
		left: 10px;
		min-height: 10px;
		min-width: 10px;
		position: absolute;
		right: 10px;
	}
	.jcf-range-display {
		background: #888888;
		border-radius: 5px;
		height: 10px;
		position: absolute;
		width: 10px;
	}
	.jcf-range-display.jcf-range-min {
		margin: 0 0 0 -10px;
		padding: 0 0 0 10px;
	}
	.jcf-range-display.jcf-range-max {
		margin: 0 -10px 0 0;
		padding: 0 10px 0 0;
	}
	.jcf-range-handle {
		background: #aaaaaa;
		border-radius: 19px;
		height: 19px;
		left: 0;
		margin: -4px 0 0;
		position: absolute;
		top: 0;
		width: 19px;
		z-index: 1;
	}
	.jcf-range-mark {
		background: #000000;
		height: 3px;
		margin: 0 0 0 9px;
		overflow: hidden;
		position: absolute;
		top: -7px;
		width: 1px;
	}
	.jcf-active-handle {
		z-index: 2;
	}
}

.jcf-range.jcf-vertical {
	min-width: 0;
	width: auto;
	.jcf-range-wrapper {
		height: auto;
		margin: 0;
		padding: 20px 0 0;
		width: 10px;
	}
	.jcf-range-track {
		height: 180px;
		width: 10px;
	}
	.jcf-range-handle {
		left: -5px;
		top: auto;
	}
	.jcf-range-display-wrapper {
		bottom: 10px;
		left: auto;
		right: auto;
		top: 10px;
	}
	.jcf-range-display.jcf-range-min {
		margin: 0 0 -10px;
		padding: 0 0 10px;
	}
	.jcf-range-display.jcf-range-max {
		margin: -10px 0 0;
		padding: 10px 0 0;
	}
	.jcf-range-mark {
		height: 1px;
		left: 14px;
		margin: 0 0 9px;
		top: auto;
		width: 3px;
	}
}

.jcf-range.jcf-focus {
	.jcf-active-handle {
		border: 1px solid #ff0000;
		margin: -5px 0 0 -1px;
	}
}

.jcf-range.jcf-disabled {
	background: none !important;
	opacity: 0.3;
}

.jcf-disabled {
	background: #dddddd !important;
}

// Chart & Registration & Payment

.container {
	.entries {
		background-color: #fbfaf9;
		width: 100%;
	}
}

.entries-border {
	border-bottom: 1px solid #cccccc;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	width: 99%;
}

.entries-border-top {
	border-bottom: 1px solid #cccccc;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	top: -15px;
	width: 99%;
}

.entries-border-bottom {
	border-bottom: 1px solid @grey-1;
	display: inline-block;
	margin-left: 0px;
	position: relative;
	width: 99%;
}

.entries-left {
	margin: 0px 0px 0px 0px;
}

.entries-right {
	margin: 0px 0px 0px 0px;
	padding: 0px 10px;
	text-align: right;
	span {
		margin-left: 10px;
	}
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
	}
}

.nopadding {
	padding: 0 !important;
}

.nopadding-left {
	padding-left: 0 !important;
}

.nopadding-right {
	padding-right: 0 !important;
}

.entries-article-body {
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
		li {
			a {
				color: @brown;
				font-size: 13px;
				margin: 15px 0px 15px 0px;
				text-align: right;
				text-decoration: underline;
			}
			span {
				float: right;
				font-size: 13px;
				margin: 15px 0px 15px 0px;
				text-align: right;
				text-align: right;
				width: 100%;
				width: auto;
			}
			p.navbar-text {
				text-align: right;
				width: 100%;
				width: auto;
			}
		}
		li.price {
			padding: 0px;
		}
	}
}

.total-price {
	ul {
		list-style: none;
		padding-right: 0px;
		position: relative;
	}
}

.entries-article-total {
	top: -5px;
	top: 0;
	.total-price {
		color: #666666;
		font-weight: bold;
		padding-right: 0px;
		padding: 0;
		text-align: center;
		width: 100%;
	}
	ul {
		li {
			padding: 0px;
		}
	}
	.main-button {
		padding: 0;

		a {
			&::after {
				right: -14px;
			}
		}
	}
	.total-price-button {
		width: 100%;
	}
}

.main-button {
	left: 0px;
	.unitize-width(247);
	.unitize-margin(15, 0, 0, 0);
}

.paypal-button {
	left: 0px;
	margin: 20px 0px 30px 0px;
	img {
		cursor: pointer;
	}
}

a.total-price-button {
	background-color: @brown;
	border-radius: 0px;
	border: 0px;
	color: @white;
	cursor: pointer;
	float: left;
	font-weight: normal;
	padding: 10px 50px 10px 66px;
	position: relative;
	width: 100%;
	&::after {
		border-bottom: 20px solid transparent;
		border-left-color: @brown;
		border-left: 14px solid;
		border-right-color: @brown;
		border-top: 20px solid transparent;
		content: "";
		margin-top: -20px;
		position: absolute;
		right: -14px;
		top: 50%;
		z-index: 2;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
	&::before {
		right: -14px;
	}
}

input.entries-checkbox {
	float: left;
	position: relative;
	top: 3px;
}

a.head-button {
	background-clip: padding-box;
	background: @brown;
	border-radius: 0;
	border: none;
	color: @white;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @brown;
		border-left: 1em solid;
		border-right-color: @brown;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: -35px;
		right: 0;
		top: 50%;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.head-button {
	background-clip: padding-box;
	background: @brown;
	border-radius: 0;
	border: none;
	color: @white;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @brown;
		border-left: 1em solid;
		border-right-color: @brown;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: 0;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: 0px;
		top: 50%;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.bottom-button-left {
	background-clip: padding-box;
	background: @brown;
	border-radius: 0;
	border: none;
	color: @white;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @brown;
		border-right-color: @brown;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: 1px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: 1px;
		margin-top: -23px;
		position: absolute;
		top: 50%;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.bottom-button-right {
	background-clip: padding-box;
	background: @brown;
	border-radius: 0;
	border: none;
	color: @white;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 100%;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: @brown;
		border-left: 1em solid;
		border-right-color: @brown;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: -14px;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-left: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		margin-top: -23px;
		position: absolute;
		right: -14px;
		top: 50%;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.bottom-button {
	background-clip: padding-box;
	background: @brown;
	border-radius: 0;
	border: none;
	color: @white;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.bottom-button-white {
	background-clip: padding-box;
	background-color: @white;
	border-radius: 0;
	border: none;
	color: @brown;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&::after {
		border-bottom: 18px solid transparent;
		border-left-color: transparent;
		border-right-color: transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
	&::before {
		border-bottom: 18px solid transparent;
		border-right: 1em solid;
		border-top: 18px solid transparent;
		content: "";
		left: -14px;
		margin-top: -18px;
		position: absolute;
		top: 50%;
	}
	&::before {
		border-left-color: transparent;
		border-right-color: transparent;
	}
	&:hover {
		background-color: @orange;
		color: @white;
	}
}

button.bottom-button-transparent {
	background-clip: padding-box;
	background-color: transparent;
	border-radius: 0;
	border: none;
	color: @brown;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @brown;
		color: @white;
	}
}

a.head-button-white {
	background-clip: padding-box;
	background: @white;
	border-radius: 0;
	border: none;
	color: @brown;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 32px;
	margin-bottom: 10px;
	text-align: center;
	width: 225px;
}

a.total-price-button:hover:after,
a.total-price-button:hover:before,
a.head-button:hover:after,
a.head-button:hover:before,
button.head-button:hover:after,
button.head-button:hover:before,
button.bottom-button-left:hover:after,
button.bottom-button-left:hover:before,
button.bottom-button-right:hover:after,
button.bottom-button-right:hover:before,
button.bottom-button-white:hover:after,
button.bottom-button-white:hover:before {
	border-left-color: @orange;
	border-right-color: @orange;
}

.line-height-0 {
	line-height: 0px !important;
}

.entries-article-summe {
	padding-top: 20px;
	ul {
		li {
			padding: 0px;
		}
	}
}

.float-right {
	float: right !important;
}

.float-left {
	float: left !important;
}

.text-align-center {
	text-align: center !important;
}

input.form-entries {
	background-color: @white;
	border-radius: 4px;
	font-style: normal;
	font-weight: 400;
	outline-style: none;
	text-align: left;
	text-decoration: none;
}

form.entries-forma {
	display: inline-flex;
	position: relative;
	input[type="submit"] {
		background-color: #f2f2f2;
		border-radius: 0px;
		border: 0px;
		color: #83603f;
		height: 40px;
		margin-left: 10px;
		padding: 0px 25px 0px 25px;
		width: 119px;
		&:hover {
			background-color: @orange;
			color: @white;
		}
	}
	button[type="submit"] {
		background-color: #f2f2f2;
		border-radius: 0px;
		border: 0px;
		color: #83603f;
		height: 40px;
		margin-left: 10px;
		padding: 0px 25px 0px 25px;
		width: 119px;
		&:hover {
			background-color: @orange;
			color: @white;
		}
	}
}

.button-head {
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;
}

.noleft {
	left: 0px !important;
}

.entries-article-head {
	padding-right: 0px;
	span {
	}
}

.button-active {
	background-color: #b7a38f !important;
}

a.head-button.button-active {
	&::after {
		border-left-color: #b7a38f !important;
	}
}

.article-1 {
	margin-top: 10px;
	ul {
		li {
			a.content--title {
				font-size: 14px;
				font-weight: normal;
				text-decoration: none;
			}
			form {
				button.btn {
					background-color: transparent;
					border: 0px;
					color: @brown;
					text-decoration: underline;
				}
			}
		}
	}
}

a.andern {
	color: #856242;
	float: left;
	font-size: 12px;
	margin-left: 10px;
	position: relative;
	text-decoration: underline;
	top: 2px;
}

.element-center {
	float: none;
	margin: 0 auto;
}

.top-0 {
	top: 0px !important;
}

.margin-bottom-0 {
	margin-bottom: 0px !important;
}

.margin-top-15 {
	margin-top: 15px !important;
}

.lieferadresse {
	bottom: 0px;
	padding-left: 0px;
	h4 {
	}
}

.entries-container {
	padding: 0px 25px;
	h4 {
	}
	.payment-form {
		input {
			width: auto;
		}
	}
	span.registrierung {
		color: @brown;
		margin: 15px 0px;
		text-align: center;
	}
	span.passwort {
		color: @brown;
		margin: 0px 0px 0px 0px;
		text-align: right;
		top: -12px;
	}
	a {
		margin: 0px 0px 0px 10px;
	}
}

.margin-r50 {
	margin-right: 45px;
}

.border-right {
	border-right: 1px solid @grey-1;
	height: 100%;
}

.border-right-small {
	border-right: 1px solid @grey-1;
	height: 460px;
}

.border-right-smaller {
	border-right: 1px solid @grey-1;
}

.border-right-white {
	border-right: 1px solid @white;
	height: 560px;
}

.border-right-white-small {
	border-right: 1px solid @white;
	height: 460px;
}

.border-right-white-smaller {
	border-right: 1px solid @white;
	height: 200px;
}

.padding-top-bottom-30 {
	padding: 40px 15px;
}

.padding-top-bottom-20 {
	padding: 20px 15px;
}

.rechnungsadresse {
	p {
		color: @grey-1;
		line-height: 15px;
		text-align: left;
	}
}

.padding-top-15 {
	padding: 15px 0px 0px 0px;
}

.paddint-t-b-15 {
	padding: 15px 0px 15px 0px;
}

form.payment-form {
	input {
		border-radius: 0px;
		margin: 0px 10px 12px 0px;
		width: 100%;
		&:focus {
			border-radius: 0px;
			outline-color: transparent;
		}
	}
	select {
		border-radius: 0px;
		margin: 0px 10px 12px 0px;
		width: 100%;
	}
	label {
		color: @grey-1;
		display: none;
		display: none;
		font-size: 11px;
		font-weight: normal;
		left: 0px;
		position: relative;
		top: 0px;
		visibility: visible;
	}
}

.payment--method {
	.jcf-radio.jcf-checked {
		span {
			background: grey;
		}
	}
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-bottom-30 {
	margin-bottom: 30px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-bottom-15 {
	margin-bottom: 15px;
}

.margin-r {
	margin-right: 10px;
}

.bottom-0 {
	bottom: 0px;
	position: absolute;
}

.account--welcome {
	margin-bottom: 15px;
}

.account-info--container {
	margin-bottom: 15px;
}

.account-address--container {
	margin-bottom: 15px;
}

.account--newsletter {
	margin-bottom: 15px;
}

.account--box {
	background-color: #fbfaf9;
	.panel--actions {
		.btn {
			margin: 0;
			padding: 0;
		}
	}
}

.account--success {
	background-color: #fbfaf9;
}

#registration textarea, #registration .payment-form, #registration input[type="text"], #registration input[type="search"], #registration input[type="password"], #registration input[type="number"], #registration input[type="email"], #registration input[type="tel"], .payment-form textarea, .payment-form .payment-form, .payment-form input[type="text"], .payment-form input[type="search"], .payment-form input[type="password"], .payment-form input[type="number"], .payment-form input[type="email"], .payment-form input[type="tel"] {
	width: 100%;
}

#confirm--form {
	.entries-checkbox {
		width: auto;
	}
}

.mobile-float-right {
	float: right;
}

.navbar-text {
	float: left;
	margin-left: 15px;
	margin-right: 15px;
}

.product--table {
	.entries-article-summe {
		.total-price {
			float: left !important;
			width: 100%;
			ul {
				padding-right: 15px;
			}
		}
	}
}

.entries {
	.paypal-express--container > .paypal-express {
		float: right;
		padding: 20px;
	}
	.product--table {
		.paypal-express {
			margin-bottom: 0;
		}
	}
}

#payment_steps {
	.border-right {
		border-right: 0;
	}
	.jcf-select {
		min-width: initial;
		width: 100%;
	}
}

.product--details {
	.buybox--form {
		padding: 10px 0px 10px 0px;
	}
	.buybox--quantity {
		margin: 0 2% 0 0;
		width: 35%;
		.js--fancy-select {
			border-radius: 3px;
			background-clip: padding-box;
			width: 100%;
			.js--fancy-select-text {
				height: 42px;
				line-height: 42px;
			}
			.js--fancy-select-trigger {
				height: 42px;
				line-height: 42px;
			}
		}
	}
}

.configurator--form {
	padding: 10px 0px 10px 0px;
	.js--fancy-select {
		width: auto;
	}
}

.configurator--label {
	margin: 6px 0px 4px 0px;
	font-size: 14px;
	font-weight: bold;
}

.js--fancy-select {
	.js--fancy-select-text {
		display: none;
	}
	.js--fancy-select-trigger {
		display: none;
	}
}

.reset--configuration {
	color: @black;
	padding: 0;
	line-height: 40px;
	.icon--cross {
		padding-right: 8px;
	}
}

#product_top {
	.product_info {

	}
}

/** Chala css **/
form {
	.item.captcha {
		img {
			width: 82px;
			height: auto;
		}
	}
}

.forms--inner-form.panel--body {
	input {
		margin: 0px 10px 12px 0px;
		border-radius: 0px;
		width: 100%;
		&:focus {
			border-color: #ccc;
		}
	}
	textarea {
		margin: 0px 10px 12px 0px;
		border-radius: 0px;
		width: 100%;
		&:focus {
			border-color: #ccc;
		}
	}
	input.error {
		border: 2px solid #cc0000;
		&:focus {
			border-color: #cc0000;
		}
	}
	textarea.error {
		border: 2px solid #cc0000;
		&:focus {
			border-color: #cc0000;
		}
	}
}

#support {
	.item {
		label {
			font-size: 11px;
			line-height: 20px;
			width: 100%;
			height: 0px;
			font-weight: 400;
			color: @grey-1;
			margin-bottom: 5px;
			position: absolute;
			left: 0;
			top: -5px;
			z-index: 1;
			opacity: 1;
			transition: all .6s;
		}
		label#email-error {
			background-color: #f3f2ee;
			display: inline-table;
			color: @red;
		}
		label#vorname-error {
			background-color: #f3f2ee;
			display: inline-table;
			color: @red;
		}
		label#nachname-error {
			background-color: #f3f2ee;
			display: inline-table;
			color: @red;
		}
		label#kommentar-error {
			background-color: #f3f2ee;
			display: inline-table;
			color: @red;
		}
		label#sCaptcha-error {
			background-color: #f3f2ee;
			display: inline-table;
			color: @red;
		}
		.captcha--code {
			label {
				position: absolute;
			}
		}
	}
	.forms--inner-form {
		.item {
			padding-top: 15px;
		}
	}
}

form#support {
	.forms--inner-form {
		input[type="submit"] {
			margin-top: 0px;
		}
		.item.captcha {
			img {
				width: 84px;
				height: 28px;
				bottom: 18px;
			}
			padding-left: 95px;
			line-height: 15px;
			label {
				margin-left: 0px;
			}
		}
	}
}

#contact {
	.wrapper {
		h2 {
			margin-top: 0px;
		}
	}
}

#header {
	#user_nav {
		.item {
			&:last-of-type {
				padding-top: 25px;
			}
			&:first-of-type {
				padding-top: 15px;
			}
		}
		p.separator {
			margin-bottom: 20px;
		}
		li {
			padding-bottom: 0px;
		}
		form {
			padding-bottom: 10px;
		}
		ul.drop {
			p.close_label {
				a {
					display: none;
				}
			}
			li.login_panel {
				form {
					a {
						margin-bottom: 15px;
					}
					label {
						font-size: 11px;
						color: @grey-1;
						font-weight: normal;
						line-height: 20px;
						display: none;
						width: 100%;
						height: inherit;
						margin-bottom: 0px;
						left: inherit;
						bottom: inherit;
						z-index: inherit;
						opacity: inherit;
						transition: initial;
						position: absolute;
						top: -5px;
					}
					.register--login-password {
						label {
							top: 5px;
						}
					}
				}
			}
		}
		.toggle {
			&:hover {
				background-color: @brown;
				color: @white-grey;
			}
		}
		.drop {
			&::before {
				width: 150px;
				height: 40px;
				background: #fff;
			}
		}
	}
	#main_menu {
		.models {
			.drop {
				li.link {
					margin-top: -5px;
				}
				li {
					span {
						line-height: 35px;
					}
				}
			}
		}
	}
}

.white-bg {
	.warenkorb {
		.product--table {
			margin-top: 0px;
		}
	}
}

.nomargin {
	margin: 0px !important;
}

#mobile_nav {
	ul {
		li {
			&:first-of-type {
				position: relative;
				height: 60px;
				a {
					margin: 0px;
				}
			}
		}
	}
}

.buybox--button-container {
	.buy {
		font-size: 16px;
	}
}

.forma-white-background {
	.btn.is--icon-left {
		position: relative;
		display: block;
		margin: 0px auto;
		padding: 6px 12px 45px 12px;
		text-decoration: underline;
	}
	.password--success {
		background-color: #93bb60;
		text-align: center;
		color: @white;
		.alert {
			padding: 0px;
			.alert--icon {
				.icon--check {
					&::before {
						color: @white;
						position: absolute;
					}
				}
			}
		}
	}
	form.password-reset--form {
		input[type="email"] {
			width: 100%;
			border-radius: 0px;
			margin: 50px 0px 10px 0px;
		}
		.password-reset--form-content {
			p {
				text-align: left;
			}
		}
	}
	form {
		.password-reset--form-content {
			margin: 10px 0px 10px 0px;
		}
		.password-reset--form-actions {
			.password-reset--link {
				width: 100%;
				border-radius: 0px;
				background-color: @brown;
				color: @white;
				margin: 20px 0px 30px 0px;
				&:hover {
					background-color: #E8712D;
				}
			}
		}
	}
	background-color: #ffffff;
	margin: 0px auto;
	float: none;
	display: table;
	margin-bottom: 50px;
}

i.icon--element.icon--check {
	left: 70px;
	position: relative;
}

#leading_story {
	.blog-slider {
		.row {
			margin: 0;
		}
	}
}

ul.drop {
	&:hover {
		a.button {
			background-color: @brown !important;
			color: @white !important;
		}
	}
	li.login_panel {
		form {
			textarea {
				width: 100%;
				border-radius: 0px;
			}
			input[type="text"] {
				width: 100%;
				border-radius: 0px;
			}
			input[type="search"] {
				width: 100%;
				border-radius: 0px;
			}
			input[type="password"] {
				width: 100%;
				border-radius: 0px;
			}
			input[type="number"] {
				width: 100%;
				border-radius: 0px;
			}
			input[type="email"] {
				width: 100%;
				border-radius: 0px;
			}
			input[type="tel"] {
				width: 100%;
				border-radius: 0px;
			}
		}
	}
}

.paypal-express--container {
	> .paypal-express {
		float: right;
		padding: 10px 100px 0px 0px;
	}
}

.nopadding-left {
	padding-left: 0px !important;
}

.password-reset--content {
	h2.password-reset--title {
		padding: 0px;
	}
}

.account--password-reset {
	.password-reset--input {
		width: 100%;
	}
}

a.bottom-button-transparent {
	background-clip: padding-box;
	background-color: transparent;
	border: medium none;
	border-radius: 0;
	color: @brown;
	cursor: pointer;
	display: inline-block;
	height: 36px;
	line-height: 2.5rem;
	margin-bottom: 10px;
	text-align: center;
	&:hover {
		background-color: @brown;
		color: @white;
	}
}