.primary-gradient() {
  //.linear-gradient(@brand-primary-light, @brand-primary);
}

.secondary-gradient() {
  //.linear-gradient(@brand-secondary, @brand-secondary-dark);
}

.white-gradient() {
  //.linear-gradient(#fff, @gray-light);
}