form .item.captcha img{
    width: 82px;
	height: auto;
}
/*
label.option--label {
    display: none;
}
*/
.forms--inner-form.panel--body input, .forms--inner-form.panel--body  textarea{
	margin: 0px 10px 12px 0px;
    border-radius: 0px;
    width: 100%;
}
.forms--inner-form.panel--body input.error, .forms--inner-form.panel--body  textarea.error{
	border: 2px solid #cc0000;
}
.forms--inner-form.panel--body input.error:focus,
.forms--inner-form.panel--body  textarea.error:focus {
    border-color: #cc0000;
}
#support .item label {
    font-size: 11px;
    line-height: 20px;
    width: 100%;
    height: 0px;
    font-weight: 400;
    color: #999999;
    margin-bottom: 5px;
	/* display: none; */
    position: absolute;
    left: 0;
    top: -5px;
    z-index: 1;
    opacity: 1;
    transition: all .6s;
}

#support .item label#email-error,
#support .item label#vorname-error, 
#support .item label#nachname-error,
#support .item label#kommentar-error, 
#support .item label#sCaptcha-error {
	background-color: #f3f2ee;
    display: inline-table;
	color: #CC3300;
}
#support .item .captcha--code label{
	position:absolute;
}
form#support .forms--inner-form input[type="submit"]{
	margin-top:0px;
}
form#support .forms--inner-form .item.captcha img {
    width: 84px;
    height: 28px;
    bottom: 18px;
}
form#support .forms--inner-form .item.captcha{
	padding-left: 95px;
	line-height: 15px;
}
form#support .forms--inner-form .item.captcha label {
    margin-left: 0px;
}

#support .forms--inner-form .item{
	padding-top: 15px;
}
#contact .wrapper h2{
	margin-top: 0px;
}
.forms--inner-form.panel--body textarea:focus, .forms--inner-form.panel--body input:focus{
	border-color: #ccc;
}
#header #user_nav .item:last-of-type{
	padding-top:25px;
}
#header #user_nav p.separator{
	margin-bottom: 20px; /* lider 9 login "Noch kein Chala Kunde?" bottom margin */
}
#header #user_nav li{
	padding-bottom: 0px; /* Slider 9 login bottom-button margin bottom margin */
}
#header #user_nav form{
	padding-bottom: 10px;  /* Slider 9 login form padding bottom  */
}
.white-bg .warenkorb .product--table {
    margin-top: 0px;
}
.nomargin{
	margin: 0px !important;
}
#mobile_nav  ul li:first-of-type{
	/* border-bottom: 1px solid #ffffff; */
	position: relative;
    height: 60px;
}
#mobile_nav  ul li:first-of-type a{
	margin: 0px;
}
.buybox--button-container .buy{
	font-size: 16px;
}
.forma-white-background  .btn.is--icon-left{
	position: relative;
    display: block;
    margin: 0px auto;
    padding: 6px 12px 45px 12px;
	text-decoration: underline;
}
.forma-white-background .password--success {
    background-color: #93bb60;
    text-align: center;
    color: #ffffff;
}
.forma-white-background .password--success .alert{
	padding: 0px;
}
.forma-white-background .password--success .alert .alert--icon .icon--check:before{
	color:#ffffff;
	position: absolute;
}
i.icon--element.icon--check{
	left: 70px;
	position: relative;
}
#leading_story .blog-slider .row {
    margin: 0;
}
ul.drop:hover a.button{
	background-color: #846140 !important;
	color: #FFF !important;
}
#header #main_menu .models .drop li.link{
	margin-top: -5px; /*menu button top-margin slide-8*/
}
#header #main_menu .models .drop li span{
	line-height: 35px; /*menu text vertical align slider-8*/
}
#header #user_nav ul.drop p.close_label a{
    display:none; /*"Mein Konto" pop-up menu bar input first element padding*/
}
#header #user_nav .item:first-of-type{
	padding-top: 15px;
}
ul.drop li.login_panel form textarea, 
ul.drop li.login_panel form input[type="text"], 
ul.drop li.login_panel form input[type="search"], 
ul.drop li.login_panel form input[type="password"], 
ul.drop li.login_panel form input[type="number"], 
ul.drop li.login_panel form input[type="email"], 
ul.drop li.login_panel form input[type="tel"],
.forma-white-background form.password-reset--form input[type="email"]{
	width: 100%;
	border-radius: 0px;
}
.forma-white-background form .password-reset--form-content{
	margin:10px 0px 10px 0px;
}
.forma-white-background form .password-reset--form-actions .password-reset--link{
	width: 100%;
	border-radius: 0px;
	background-color: #846140;
	color: #FFF;
	margin: 20px 0px 30px 0px;
}
.forma-white-background form.password-reset--form input[type="email"]{
	margin: 50px 0px 10px 0px;
}
.forma-white-background form .password-reset--form-actions .password-reset--link:hover{
	background-color: #E8712D;
}
.forma-white-background form.password-reset--form{
	
}
#header #user_nav ul.drop li.login_panel form a{
	margin-bottom: 15px;
}
#header #user_nav ul.drop li.login_panel form label{
    font-size: 11px;
    color: #999999;
    font-weight: normal;
    line-height: 20px;
	display: none;
    width: 100%;
    height: inherit;
    margin-bottom: 0px;
    position: relative;
    left: inherit;
    bottom: inherit;
    z-index: inherit;
    opacity: inherit;
    transition: initial;
	position: absolute;
    top: -5px;
}
#header #user_nav ul.drop li.login_panel form .register--login-password label{
	top: 5px;
}
.forma-white-background form.password-reset--form  .password-reset--form-content p{
	text-align: left;
}
.paypal-express--container > .paypal-express {
    float: right;
    padding: 10px 100px 0px 0px;
}
.nopadding-left{
	padding-left: 0px !important;
}
.forma-white-background {
    background-color: #ffffff;
    margin: 0px auto;
    float: none;
    display: table;
	margin-bottom: 50px;
} 
.password-reset--content h2.password-reset--title{
	padding: 0px;/*H2 for password slide-11*/
}
.account--password-reset .password-reset--input{
	width:100%; /*input for password fild slide-11*/
}
#header #user_nav .toggle:hover{
	background-color: #846140;
    color: #E4E4E4;
}

#header #user_nav .drop: before{
	width: 150px;
	height: 40px;
	background: #fff;
}
#header #user_nav .drop:{
	background: #323232;
}

a.bottom-button-transparent {
    background-clip: padding-box;
    background-color: transparent;
    border: medium none;
    border-radius: 0;
    color: #846341;
    cursor: pointer;
    display: inline-block;
    height: 36px;
    line-height: 2.5rem;
    margin-bottom: 10px;
    text-align: center;
}
a.bottom-button-transparent:hover {
    background-color: #846140;
    color: #ffffff;
}
.section.stories .text h2:first-child {
	margin-top: 0;
	height: 48px;
}
@media (max-width: 1200px){
	.paypal-express--container > .paypal-express {
		float: right;
		padding: 10px 50px 0px 0px;
	}
}
@media (max-width: 991px){
	/* .paypal-express--container > .paypal-express {
		float: right;
		padding: 10px 65px 0px 0px;
	} */
}
@media (max-width: 767px){
	i.icon--element.icon--check {
		left: 120px;
	}
	.buybox--button-container .buy{
		width: 100%;
	}
	#product_top .product_info ul{
		list-style: none;
		margin-left: 0px;
	}
	#product_top .product_info ul li{
		top: 0px;
		position: relative;
		display: flex;
	}
	#header #user_nav .separator-white-border p.separator::before{
		background: none;
	}
	#header #user_nav .separator-white-border p.separator{
		margin-top:0px;
		font-size:18px;
		color: #666666;
	}
	input[type="submit"], #header #user_nav .toggle{
		height: 50px;
		line-height: 45px;
	}
	#header #user_nav input[type="text"],
	#header #user_nav input[type="password"],
	#header #user_nav input[type="email"]{
		height: 50px;
	}
	#header #user_nav .separator-white-border{
		margin: 0px 10px;
	}
	#product_top .product_info ul li:before {
		content: "•";
		position: relative;
		font-size: 500%;
		padding-right: 0px;
		top: 0px;
	}
	#product_top{
		margin-bottom: 0px;
	}
	.section.product_top_description h2{
		margin-bottom: 20px;
	}
	.section.product_top_description .description{
		padding-top: 10px;
	}
	#header #user_nav form{	/* Slider 17 mobile login */
		padding-top: 50px;
		padding-left: 10px;
		padding-right: 10px;
	}
	#header #user_nav ul.drop li.login_panel form a { /* Slider 17 mobile login */
		margin-bottom: 20px;
		padding-right: 10px;
		padding-top: 5px;
		font-size: 16px;
		color: #999999;
	}
	.js--overlay {
		width: 55px;
		height: 55px;
		right: 0;
		top: 0;
		left: auto;
	}
	#header #user_nav .mobile .drop {
		right: 0;
		transition: all .3s;
	}
}
@media (max-width: 570px){
	i.icon--element.icon--check {
		left: 90px;
	}
}
@media (max-width: 550px){
	i.icon--element.icon--check {
		left: 55px;
	}
}
@media (max-width: 470px){
	i.icon--element.icon--check {
		left: 40px;
	}
}
@media (max-width: 430px){
	i.icon--element.icon--check {
		left: 20px;
	}
}
