a.bottom-button-white{
	margin-bottom: 10px;
    line-height: 32px;
    line-height: 2.5rem;
    border: none;
    display: inline-block;
    cursor: pointer;
    height: 36px;
    text-align: center;
    border-radius: 0;
    background-clip: padding-box;
    color: #846341;
    background-color: #f2f0eb;
}
a.bottom-button-white:hover{
	background-color: #ff6600;
    color: #ffffff;
}
a.bottom-button-white:before{
	border-left-color: transparent;
    border-right-color: transparent;
}
a.bottom-button-white:hover:before{
	border-left-color: #ff6600;
    border-right-color: #ff6600;
}
a.bottom-button-white:hover:after{
	border-left-color: #ff6600;
    border-right-color: #ff6600;
}
a.bottom-button-white::before {
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -18px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 1em solid;
    left: -14px;
}
a.bottom-button-white::after{
	z-index: 2;
    border-left-color: transparent;
    border-right-color: transparent;
}
a.bottom-button-white::after, a.bottom-button-white::before{
	content: "";
    position: absolute;
    top: 50%;
	color: #f2f0eb;
    margin-top: -18px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 1em solid;
    left: -14px;
}
.top-12{
	top: 12px !important;
}