/*
Detail
=======================================
Defines the styling for the Shopware 5 detail page elements.

It contains the product actions, the product information such as pictures and details and the user ratings of the product.
*/

.product--details .buybox--form {
  padding: 10px 0px 10px 0px;
  padding: 0.625rem 0rem 0.625rem 0rem;
}
.product--details .buybox--quantity {
  margin: 0 2% 0 0;
  width: 35%;
}
.product--details .buybox--quantity .js--fancy-select {
  border-radius: 3px;
  background-clip: padding-box;
  width: 100%;
}
.product--details .buybox--quantity .js--fancy-select .js--fancy-select-text,
.product--details .buybox--quantity .js--fancy-select .js--fancy-select-trigger {
  height: 42px;
  height: 2.625rem;
  line-height: 42px;
  line-height: 2.625rem;
}
.configurator--form {
  padding: 10px 0px 10px 0px;
  padding: 0.625rem 0rem 0.625rem 0rem;
}
.configurator--form .js--fancy-select {
  width: auto;
}
.configurator--label {
  margin: 6px 0px 4px 0px;
  margin: 0.375rem 0rem 0.25rem 0rem;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
}
.js--fancy-select .js--fancy-select-text,
.js--fancy-select .js--fancy-select-trigger {
    display: none;
}
@media screen and (min-width: 30em) {
	.product--details .configurator--form .js--fancy-select {
		width: 61%;
		display: inline-block;
		display: inline-block;
		vertical-align: top;
		position: relative;
		border: 1px solid #A3A3A3;
		background: #fff;
		margin: 0 0 12px;
		min-width: 296px;
		height: 40px;
		border-radius: 5px 5px;
	}
/*   .product--details .configurator--form,
  .product--details .buybox--form {
    width: 80%;
  } */
}

.reset--configuration{
    color: #000;
    padding: 0;
	line-height: 40px;
}
.reset--configuration .icon--cross{
    padding-right: 8px;
    padding-right: 0.25rem;
}
#product_top .product_info .material span.image {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0 auto;
}
#product_top .product_info .material label.option--label{
	display: inline-block;
	font-weight: normal;
	padding: 10px 20px;
}
/* #product_top .product_info .variant--option{
	position: relative;
    display: inline-block;
    margin-right: 20px;
    text-align: center;
} */
#product_top .product_info .material .label.option--label{
    display: inline-block;
    margin-top: 5px;
    line-height: 30px;
    color: #333333;
    width: 100%;
}
#product_top .product_info .material .variant--option.active span.link_label {
    background: #FFF;
}