/*
Loading indicator
=============================================
Displays a spinning circle to indicate a loading status.

Can be imported by using the `i` tag with the `icon--loading-indicator` class.

`<i class="icon--loading-indicator"></i>`

The functionality is provided by the `jquery.loading-indicator.js` file.
*/
.js--loading-indicator {
  padding: 20px 20px 20px 20px;
  padding: 1.25rem 1.25rem 1.25rem 1.25rem;
  position: fixed;
  display: none;
  left: 50%;
  top: 50%;
  z-index: 6000;
}
.js--loading-indicator.indicator--relative {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  background: none;
  position: relative;
  display: block;
  left: 50%;
  top: auto;
  border: 0 none;
}
.js--loading-indicator.indicator--absolute {
  width: 30px;
  width: 1.875rem;
  height: 30px;
  height: 1.875rem;
  padding-top: 50px;
  padding-top: 3.125rem;
  padding-bottom: 50px;
  padding-bottom: 3.125rem;
  background: none;
  position: relative;
  display: block;
  left: 50%;
  top: auto;
  border: 0 none;
  position: absolute;
  padding: 0;
  top: 50%;
}
.js--loading-indicator.indicator--absolute.js--loading-indicator {
  margin: -15px 0px 0px -15px;
  margin: -0.9375rem 0rem 0rem -0.9375rem;
}
.has--cssanimations .js--loading-indicator {
  margin: -33px 0px 0px -33px;
  margin: -2.0625rem 0rem 0rem -2.0625rem;
}
.has--cssanimations .js--loading-indicator div[class^="icon--"] {
  width: 26px;
  width: 1.625rem;
  height: 26px;
  height: 1.625rem;
  display: block;
}
.has--cssanimations .js--loading-indicator .icon--default:before,
.has--cssanimations .js--loading-indicator .icon--default::before {
  width: 22px;
  width: 1.375rem;
  height: 22px;
  height: 1.375rem;
  border-radius: 100%;
  background-clip: padding-box;
  -webkit-animation: keyframe--spin 1s linear infinite;
  -moz-animation: keyframe--spin 1s linear infinite;
  -o-animation: keyframe--spin 1s linear infinite;
  animation: keyframe--spin 1s linear infinite;
  display: block;
  content: "";
  border: 2px solid #dadae5;
  border-top: 2px solid #8f8fb1;
}
.has--no-cssanimations .js--loading-indicator {
  margin: -28px 0px 0px -28px;
  margin: -1.75rem 0rem 0rem -1.75rem;
}
.has--no-cssanimations .js--loading-indicator div[class^="icon--"] {
  width: 16px;
  width: 1rem;
  height: 16px;
  height: 1rem;
  display: block;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.has--no-cssanimations .js--loading-indicator .icon--default {
  height: 16px;
  height: 1rem;
  width: 16px;
  width: 1rem;
  background-image: url(../../themes/Frontend/Responsive/frontend/_public/src/img/icons/loading-indicator.gif);
}
/*
Overlay
================================================
Creates a fixed full-screen overlay.

The `js--overlay` element is used when a modal window is shown.

The `js--overlay` element is empty while the html of the modal box will be created just before the closing body-tag.

The opacity of the full-screen overlay can be modified with javascript.

The functionality is provided by the `jquery.overlay.js` file.

```
<div class="js--overlay" style="opacity: 0.8; display: block; cursor: pointer;"></div>
```

default color:`#000000` default opacity (alpha):`0.7`
*/
.js--overlay {
  -webkit-transition: opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear;
  -moz-transition: opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear;
  -ms-transition: opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear;
  -o-transition: opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear;
  transition: opacity 0.45s cubic-bezier(.3,0,.15,1), visibility 0.45s linear;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -o-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  opacity: 0.01;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 5000;
  visibility: hidden;
}
.js--overlay.is--open {
  -webkit-transition-delay: 0;
  -moz-transition-delay: 0;
  -ms-transition-delay: 0;
  -o-transition-delay: 0;
  transition-delay: 0;
  opacity: 1;
  visibility: visible;
}
.js--overlay.is--closable {
  cursor: pointer;
}

/*
Alerts
===================================================================
######Displays an alert box for status messages to the user.

Alerts always have to have the `.alert` class assigned, and in addition one of four color schemes.

Options: `is--success`, `is--info`, `is--warning`, `is--error`.
```
<p class="alert is--success">Success message</p>
<p class="alert is--info">Info message</p>
<p class="alert is--warning">Warning message</p>
<p class="alert is--error">Error message</p>
```
*/
.alert {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 24px;
  line-height: 1.5rem;
  position: relative;
  overflow: hidden;
  /*
######With an Icon inside of the box.</h6>
```
<div class="alert is--success is--rounded">
    <div class="alert--icon">
    <i class="icon--element icon--check"></i>
    </div>
    <div class="alert--content">
    Success message with Icon
    </div>
</div>

<div class="alert is--warning is--rounded">
    <div class="alert--icon">
    <i class="icon--element icon--warning"></i>
    </div>
    <div class="alert--content">
    Warning message with Icon
    </div>
</div>
```
*/
}
.alert:after {
  content: "";
  display: table;
  clear: both;
}
.alert.is--success {
  color: #208e4e;
  background: #def2e7;
}
.alert.is--success .alert--icon {
  background: #2ecc71;
}
.alert.is--info {
  color: #217dbb;
  background: #e9f2f8;
}
.alert.is--info .alert--icon {
  background: #4aa3df;
}
.alert.is--warning {
  color: #ae8e0a;
  background: #fbf5db;
}
.alert.is--warning .alert--icon {
  background: #f1c40f;
}
.alert.is--error {
  color: #e74c3c;
  background: #faeceb;
}
.alert.is--error .alert--icon {
  background: #e74c3c;
}
.alert.no--cookies {
  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  right: 0;
}
.alert.no--cookies a.close--alert {
  float: right;
}
.alert.no--cookies a.close--alert:hover {
  cursor: pointer;
  text-decoration: underline;
}
.alert .icon--element {
  position: absolute;
  top: 50%;
  left: 0;
  width: 15%;
  margin-top: -9px;
}
.alert .alert--icon,
.alert .alert--content {
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
  float: left;
}
.alert .alert--icon p,
.alert .alert--content p {
  margin-bottom: 0px;
  margin-bottom: 0rem;
}
.alert .alert--icon {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 26px;
  line-height: 1.625rem;
  width: 15%;
  text-align: center;
  font-weight: bold;
  color: #fff;
  padding-bottom: 9999em;
  margin-bottom: -9999em;
}
.alert .alert--content {
  width: 85%;
}
.alert .alert--content.is--strong {
  font-weight: bold;
}
.alert .alert--list {
  list-style: none;
}
.alert .list--entry {
  display: block;
}
@media screen and (min-width: 48em) {
  .alert .alert--icon,
  .alert .icon--element {
    width: 8%;
  }
  .alert .alert--content {
    width: 92%;
  }
}
/*
Image slider element
============================================
Defines the styles for the image slider element that is a part of the basic Shopware 5 shopping world elements.

The element can be added by using the Shopware 5 backend shopping world editor.

The element contains thumbnail image previews, navigation dots and navigation arrows to change the current active image.

It contains the viewport specific styles inside media queries.
*/
.image-slider {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  z-index: 1000;
  position: relative;
}
.image-slider:after {
  content: "";
  display: table;
  clear: both;
}
.image-slider--container {
  height: 200px;
  height: 12.5rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  position: relative;
  top: 0;
  left: 0;
  overflow: hidden;
}
.image-slider--container .arrow {
  width: 30px;
  width: 1.875rem;
  height: 70px;
  height: 4.375rem;
  margin-top: -35px;
  margin-top: -2.1875rem;
  line-height: 68px;
  line-height: 4.25rem;
  font-size: 16px;
  font-size: 1rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 50%;
  z-index: 1000;
  font-family: 'shopware';
  text-align: center;
  color: #5f7285;
  cursor: pointer;
  display: none;
}
.image-slider--container .arrow.is--left {
  left: 0px;
  left: 0rem;
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  background-clip: padding-box;
}
.image-slider--container .arrow.is--left:before,
.image-slider--container .arrow.is--left::before {
  content: "\e611";
}
.image-slider--container .arrow.is--right {
  right: 0px;
  right: 0rem;
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
}
.image-slider--container .arrow.is--right:before {
  content: "\e60f";
}
.image-slider--container .arrow:hover {
  color: #846140;
  border-color: rgba(217, 64, 11, 0.5);
}
.image-slider--container.is--dragging .image-slider--item {
  cursor: move;
}
.image-slider--slide {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: block;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  white-space: nowrap;
  font-size: 0;
  -ms-touch-action: pan-y;
}
.image-slider--slide:after {
  content: "";
  display: table;
  clear: both;
}
.image-slider--item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
  display: inline-block;
  height: 100%;
  width: 100%;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.image-slider--item .image--element {
  display: inline-block;
  max-width: 100%;
  height: 100%;
}
.image-slider--item .image--media {
  margin: 0 auto;
  text-align: center;
}
.image-slider--dots {
  padding: 10px 0px 10px 0px;
  padding: 0.625rem 0rem 0.625rem 0rem;
  text-align: center;
}
.image-slider--thumbnails {
  height: 147px;
  height: 10.5rem;
  top: 700px;
  top: 50rem;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
  display: none;
  left: 0;
}
.image-slider--thumbnails .image-slider--thumbnails-slide {
  position: absolute;
  top: 0;
  left: 0;
}
.image-slider--thumbnails .thumbnail--link {
  width: 70px;
  width: 10.375rem;
  height: 70px;
  height: 10.375rem;
  padding: 5px 5px 5px 5px;
  padding: 0.3125rem 0.3125rem 0.3125rem 0.3125rem;
  margin: 0px 10px 0px 0px;
  margin: 0rem 0.625rem 0rem 0rem;
  line-height: 57px;
  line-height: 3.5625rem;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
  text-align: center;
  border: 1px solid #dadae5;
}
.image-slider--thumbnails .thumbnail--link.is--active {
  border-color: #846140;
}
.image-slider--thumbnails .thumbnail--image {
  display: inline;
  vertical-align: middle;
}
.image-slider--thumbnails .thumbnails--arrow {
  width: 20px;
  width: 1.25rem;
  height: 70px;
  height: 4.375rem;
  line-height: 70px;
  line-height: 4.375rem;
  font-size: 14px;
  font-size: 0.875rem;
  border-radius: 3px;
  background-clip: padding-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-touch-callout: none;
  -moz-touch-callout: none;
  touch-callout: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #ffffff;
  background-image: -ms-linear-gradient(top, #ffffff, #f8f8fa);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8fa 100%);
  display: none;
  position: absolute;
  z-index: 1000;
  font-family: 'shopware';
  text-align: center;
  color: #5f7285;
  border: 1px solid rgba(255, 255, 255, 0.85);
  cursor: pointer;
  background: rgba(255, 255, 255, 0.85);
}
.image-slider--thumbnails .thumbnails--arrow:hover {
  color: #846140;
  border-color: rgba(217, 64, 11, 0.85);
}
.image-slider--thumbnails .thumbnails--arrow.is--top,
.image-slider--thumbnails .thumbnails--arrow.is--bottom {
  font-size: 8px;
  font-size: 0.5rem;
  width: 70px;
  width: 4.375rem;
  height: 24px;
  height: 1.5rem;
  padding: 2px 0px 0px 0px;
  padding: 0.125rem 0rem 0rem 0rem;
  line-height: 18px;
  line-height: 1.125rem;
  left: 0;
}
.image-slider--thumbnails .thumbnails--arrow.is--top {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
  top: 0;
}
.image-slider--thumbnails .thumbnails--arrow.is--top::before {
  content: "\e610";
}
.image-slider--thumbnails .thumbnails--arrow.is--bottom {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background-clip: padding-box;
  bottom: 0;
}
.image-slider--thumbnails .thumbnails--arrow.is--bottom::before {
  content: "\e612";
}
.image-slider--thumbnails .thumbnails--arrow.is--left {
  border-top-left-radius: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 0;
  background-clip: padding-box;
  width: 24px;
  width: 1.5rem;
  top: 0;
  left: 0;
}
.image-slider--thumbnails .thumbnails--arrow.is--left::before {
  content: "\e611";
}
.image-slider--thumbnails .thumbnails--arrow.is--right {
  border-top-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 3px;
  background-clip: padding-box;
  width: 24px;
  width: 1.5rem;
  top: 0;
  right: 0;
}
.image-slider--thumbnails .thumbnails--arrow.is--right::before {
  content: "\e60f";
}
.image-slider--thumbnails .thumbnails--arrow.is--active {
  display: block;
}
@media screen and (min-width: 48em) {
  .image-slider--container {
    height: auto;
    height: auto;
  }
  .image-slider--container .arrow {
    display: block;
  }
}
@media screen and (min-width: 64em) {
  .image-slider--thumbnails {
    display: block;
  } 
  .image-slider--container {
    height: auto;
    height: auto;
    margin-bottom: 110px;
    margin-bottom: 6.875rem;
  }
  .image-slider--container.no--thumbnails {
    margin-bottom: 0;
  }
  .image-slider--container.no--image .image-slider--item {
    cursor: default;
  }
  .image-slider--dots {
    top: 405px;
    top: 25.3125rem;
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 78.75em) {
  .image-slider--container {
    height: auto;
    height: auto;
    margin-bottom: 0;
  }
  .image-slider--thumbnails {
    width: 70px;
    width: 10.375rem;
    height: 430px;
    height: 47.875rem;
    margin: 0px 20px 0px 0px;
    margin: 0rem 1.25rem 0rem 0rem;
    position: relative;
    top: 0;
    left: 0;
    float: left;
  }
  .image-slider--thumbnails .thumbnail--link {
    margin: 0px 0px 20px 0px;
    margin: 0rem 0rem 1.25rem 0rem;
    display: block;
  }
  .image-slider--dots {
    padding: 10px 0px 10px 90px;
    padding: 0.625rem 0rem 0.625rem 5.625rem;
    position: relative;
    top: auto;
    display: block;
  }
}
/*
Image-zoom
====================================================
Defines the styles for the Shopware 5 image-zoom element.

It displays a magnifying glass when hovering the article images on the product detail page.

The functionality is provided by the `jquery.image-zoom.js` file.
*/
.js--img-zoom--container {
  position: relative;
  top: 0;
  left: 0;
}
.js--img-zoom--lens {
  border-radius: 3px;
  background-clip: padding-box;
  display: none;
  background: rgba(255, 255, 255, 0.4);
  border: 1px solid #dadae5;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}
.js--img-zoom--flyout {
	width: 460px;
	width: 50.75rem;
	height: 340px;
	height: 50.25rem;
	right: -490px;
	right: -53.625rem;
	border-radius: 3px;
	background-clip: padding-box;
	display: none;
	position: absolute;
	top: 0;
	z-index: 2500;
	overflow: hidden;
	background: #FFFFFF;
	border: 1px solid #dadae5;
}
.js--img-zoom--title {
  padding: 5px 20px 5px 20px;
  padding: 0.3125rem 1.25rem 0.3125rem 1.25rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  background-color: #5f7285;
  background-image: -ms-linear-gradient(top, #5f7285, #3f4c58);
  background-image: linear-gradient(to bottom, #5f7285 0%, #3f4c58 100%);
  color: #fff;
  font-weight: bold;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
}
/*
Selectbox
==========================================
######Select-element

Creates a styled dropdown menu as a replacement for the basic select element.

The plugin `jquery.selectbox-replacement.js` automaticly changes every `select` element to the slim dropdown selectbox of Shopware.
```
<select>
    <option selected="selected" disabled="disabled" value="">Disabled Option</option>
    <option>Option 1</option>
    <option>Option 2</option>
</select>
```
*/
.js--fancy-select {
  border-radius: 3px;
  background-clip: padding-box;
  box-sizing: border-box;
  width: 290px;
  width: 18.125rem;
  line-height: 40px;
  line-height: 2.5rem;
  background-color: #ffffff;
  background-image: -ms-linear-gradient(top, #ffffff, #f8f8fa);
  background-image: linear-gradient(to bottom, #ffffff 0%, #f8f8fa 100%);
  display: inline-block;
  position: relative;
  border: 1px solid #dadae5;
  overflow: hidden;
  cursor: pointer;
  text-align: left;
}
.js--fancy-select:after {
  content: "";
  display: table;
  clear: both;
}
.js--fancy-select:hover {
  color: #846140;
  border-color: #846140;
  background: #fff;
}
.js--fancy-select.js--is--focused {
  color: #846140;
  border-color: #846140;
}
.js--fancy-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  opacity: 0;
  height: 100%;
  position: absolute;
  width: 100%;
  display: block;
  cursor: pointer;
  z-index: 1000;
}
.js--fancy-select select option {
  color: #3f4c58;
}
.js--fancy-select select:focus {
  outline: none;
}
.js--fancy-select .js--fancy-select-text {
  padding: 0px 40px 0px 10px;
  padding: 0rem 2.5rem 0rem 0.625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.js--fancy-select .js--fancy-select-trigger {
    width: 35px;
    width: 3.5rem;
    position: absolute;
    right: 0;
    top: 0;
    border-left: 1px solid #dadae5;
    text-align: center;
    font-weight: bold;
}
.js--fancy-select.is--disabled {
  opacity: 0.5;
}
.js--fancy-select.is--disabled select {
  cursor: not-allowed;
}
.js--fancy-select.has--error {
  color: #e74c3c;
  border-color: #e74c3c;
  background: #faeceb;
}
.js--fancy-select.has--error .js--fancy-select-trigger {
  border-color: #e74c3c;
}
.js--fancy-select.has--error .js--fancy-select-text {
  border-color: #fdf3f2;
}
@media screen and (min-width: 48em) {
  /* Standard input fields. */
  .input--field {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
  }
  .input--field .input--field-zipcode {
    margin-right: 2%;
    width: 20%;
  }
  .input--field .input--field-city {
    width: 78%;
  }
}
@media screen and (min-width: 78.75em) {
  .input--field {
    margin-bottom: 15px;
    margin-bottom: 0.9375rem;
  }
}
/*
Icon set
============================================
######Shopware Icon set elements

Accessable with the `i` element and the `icon--` class.

Example: `<i class="icon--cart"></i>`

```
<table style="width: 80%;margin: 20px auto;text-align: center;">
    <tbody>
        <tr>
            <td><i class="icon--percent2"></i><br/>
                icon--percent2
            </td>

            <td><i class="icon--percent"></i><br/>
                icon--percent
            </td>

            <td><i class="icon--coupon"></i><br/>
                icon--coupon
            </td>

            <td><i class="icon--truck"></i><br/>
                icon--truck
            </td>

            <td><i class="icon--logout"></i><br/>
                icon--logout
            </td>

            <td><i class="icon--grid"></i><br/>
                icon--grid
            </td>

            <td><i class="icon--filter"></i><br/>
                icon--filter
            </td>

        </tr>
        <tr>
            <td><i class="icon--clock"></i><br/>
                icon--clock
            </td>

            <td><i class="icon--arrow-up"></i><br/>
                icon--arrow-up
            </td>

            <td><i class="icon--arrow-right"></i><br/>
                icon--arrow-right
            </td>

            <td><i class="icon--arrow-left"></i><br/>
                icon--arrow-left
            </td>

            <td><i class="icon--arrow-down"></i><br/>
                icon--arrow-down
            </td>

            <td><i class="icon--star"></i><br/>
                icon--star
            </td>

            <td><i class="icon--star-half"></i><br/>
                icon--star-half
            </td>
        </tr>

        <tr>
            <td><i class="icon--star-empty"></i><br/>
                icon--star-empty
            </td>

            <td><i class="icon--shopware"></i><br/>
                icon--shopware
            </td>

            <td><i class="icon--service"></i><br/>
                icon--service
            </td>

            <td><i class="icon--search"></i><br/>
                icon--search
            </td>

            <td><i class="icon--numbered-list"></i><br/>
                icon--numbered-list
            </td>

            <td><i class="icon--menu"></i><br/>
                icon--menu
            </td>

            <td><i class="icon--mail"></i><br/>
                icon--mail
            </td>
        </tr>

        <tr>
            <td><i class="icon--list"></i><br/>
                icon--list
            </td>

            <td><i class="icon--layout"></i><br/>
                icon--layout
            </td>

            <td><i class="icon--heart"></i><br/>
                icon--heart
            </td>

            <td><i class="icon--cross"></i><br/>
                icon--cross
            </td>

            <td><i class="icon--compare"></i><br/>
                icon--compare
            </td>

            <td><i class="icon--check"></i><br/>
                icon--check
            </td>

            <td><i class="icon--basket"></i><br/>
                icon--basket
            </td>
        </tr>

        <tr>
            <td><i class="icon--account"></i><br/>
                icon--account
            </td>

            <td><i class="icon--chain"></i><br/>
                icon--chain
            </td>

            <td><i class="icon--delicious"></i><br/>
                icon--delicious
            </td>

            <td><i class="icon--delicious2"></i><br/>
                icon--delicious2
            </td>

            <td><i class="icon--digg"></i><br/>
                icon--digg
            </td>

            <td><i class="icon--phone"></i><br/>
                icon--phone
            </td>

            <td><i class="icon--mobile"></i><br/>
                icon--mobile
            </td>
        </tr>

        <tr>
            <td><i class="icon--mouse"></i><br/>
                icon--mouse
            </td>

            <td><i class="icon--directions"></i><br/>
                icon--directions
            </td>

            <td><i class="icon--paperplane"></i><br/>
                icon--paperplane
            </td>

            <td><i class="icon--pencil"></i><br/>
                icon--pencil
            </td>

            <td><i class="icon--feather"></i><br/>
                icon--feather
            </td>

            <td><i class="icon--paperclip"></i><br/>
                icon--paperclip
            </td>

            <td><i class="icon--drawer"></i><br/>
                icon--drawer
            </td>
        </tr>

        <tr>
            <td><i class="icon--reply"></i><br/>
                icon--reply
            </td>

            <td><i class="icon--reply-all"></i><br/>
                icon--reply-all
            </td>

            <td><i class="icon--forward"></i><br/>
                icon--forward
            </td>

            <td><i class="icon--users"></i><br/>
                icon--users
            </td>

            <td><i class="icon--user-add"></i><br/>
                icon--user-add
            </td>

            <td><i class="icon--vcard"></i><br/>
                icon--vcard
            </td>

            <td><i class="icon--export"></i><br/>
                icon--export
            </td>
        </tr>

        <tr>
            <td><i class="icon--location"></i><br/>
                icon--location
            </td>

            <td><i class="icon--map"></i><br/>
                icon--map
            </td>

            <td><i class="icon--compass"></i><br/>
                icon--compass
            </td>

            <td><i class="icon--location2"></i><br/>
                icon--location2
            </td>

            <td><i class="icon--target"></i><br/>
                icon--target
            </td>

            <td><i class="icon--share"></i><br/>
                icon--share
            </td>

            <td><i class="icon--sharable"></i><br/>
                icon--sharable
            </td>
        </tr>

        <tr>
            <td><i class="icon--thumbsup"></i><br/>
                icon--thumbsup
            </td>

            <td><i class="icon--thumbsdown"></i><br/>
                icon--thumbsdown
            </td>

            <td><i class="icon--chat"></i><br/>
                icon--chat
            </td>

            <td><i class="icon--comment"></i><br/>
                icon--comment
            </td>

            <td><i class="icon--quote"></i><br/>
                icon--quote
            </td>

            <td><i class="icon--house"></i><br/>
                icon--house
            </td>

            <td><i class="icon--popup"></i><br/>
                icon--popup
            </td>
        </tr>

        <tr>
            <td><i class="icon--flashlight"></i><br/>
                icon--flashlight
            </td>

            <td><i class="icon--printer"></i><br/>
                icon--printer
            </td>

            <td><i class="icon--bell"></i><br/>
                icon--bell
            </td>

            <td><i class="icon--link"></i><br/>
                icon--link
            </td>

            <td><i class="icon--cog"></i><br/>
                icon--cog
            </td>

            <td><i class="icon--tools"></i><br/>
                icon--tools
            </td>

            <td><i class="icon--trophy"></i><br/>
                icon--trophy
            </td>
        </tr>

        <tr>
            <td><i class="icon--tag"></i><br/>
                icon--tag
            </td>

            <td><i class="icon--camera"></i><br/>
                icon--camera
            </td>

            <td><i class="icon--megaphone"></i><br/>
                icon--megaphone
            </td>

            <td><i class="icon--moon"></i><br/>
                icon--moon
            </td>

            <td><i class="icon--palette"></i><br/>
                icon--palette
            </td>

            <td><i class="icon--leaf"></i><br/>
                icon--leaf
            </td>

            <td><i class="icon--music"></i><br/>
                icon--music
            </td>
        </tr>

        <tr>
            <td><i class="icon--music2"></i><br/>
                icon--music2
            </td>

            <td><i class="icon--new"></i><br/>
                icon--new
            </td>

            <td><i class="icon--graduation"></i><br/>
                icon--graduation
            </td>

            <td><i class="icon--book"></i><br/>
                icon--book
            </td>

            <td><i class="icon--newspaper"></i><br/>
                icon--newspaper
            </td>

            <td><i class="icon--bag"></i><br/>
                icon--bag
            </td>

            <td><i class="icon--airplane"></i><br/>
                icon--airplane
            </td>
        </tr>

        <tr>
            <td><i class="icon--lifebuoy"></i><br/>
                icon--lifebuoy
            </td>

            <td><i class="icon--eye"></i><br/>
                icon--eye
            </td>

            <td><i class="icon--clock2"></i><br/>
                icon--clock2
            </td>

            <td><i class="icon--microphone"></i><br/>
                icon--microphone
            </td>

            <td><i class="icon--calendar"></i><br/>
                icon--calendar
            </td>

            <td><i class="icon--bolt"></i><br/>
                icon--bolt
            </td>

            <td><i class="icon--thunder"></i><br/>
                icon--thunder
            </td>
        </tr>

        <tr>
            <td><i class="icon--droplet"></i><br/>
                icon--droplet
            </td>

            <td><i class="icon--cd"></i><br/>
                icon--cd
            </td>

            <td><i class="icon--briefcase"></i><br/>
                icon--briefcase
            </td>

            <td><i class="icon--air"></i><br/>
                icon--air
            </td>

            <td><i class="icon--hourglass"></i><br/>
                icon--hourglass
            </td>

            <td><i class="icon--gauge"></i><br/>
                icon--gauge
            </td>

            <td><i class="icon--language"></i><br/>
                icon--language
            </td>
        </tr>

        <tr>
            <td><i class="icon--network"></i><br/>
                icon--network
            </td>

            <td><i class="icon--key"></i><br/>
                icon--key
            </td>

            <td><i class="icon--battery"></i><br/>
                icon--battery
            </td>

            <td><i class="icon--bucket"></i><br/>
                icon--bucket
            </td>

            <td><i class="icon--magnet"></i><br/>
                icon--magnet
            </td>

            <td><i class="icon--drive"></i><br/>
                icon--drive
            </td>

            <td><i class="icon--cup"></i><br/>
                icon--cup
            </td>
        </tr>

        <tr>
            <td><i class="icon--rocket"></i><br/>
                icon--rocket
            </td>

            <td><i class="icon--brush"></i><br/>
                icon--brush
            </td>

            <td><i class="icon--suitcase"></i><br/>
                icon--suitcase
            </td>

            <td><i class="icon--cone"></i><br/>
                icon--cone
            </td>

            <td><i class="icon--earth"></i><br/>
                icon--earth
            </td>

            <td><i class="icon--keyboard"></i><br/>
                icon--keyboard
            </td>

            <td><i class="icon--browser"></i><br/>
                icon--browser
            </td>
        </tr>

        <tr>
            <td><i class="icon--publish"></i><br/>
                icon--publish
            </td>

            <td><i class="icon--progress-3"></i><br/>
                icon--progress-3
            </td>

            <td><i class="icon--progress-2"></i><br/>
                icon--progress-2
            </td>

            <td><i class="icon--progress-1"></i><br/>
                icon--progress-1
            </td>

            <td><i class="icon--progress-0"></i><br/>
                icon--progress-0
            </td>

            <td><i class="icon--sun"></i><br/>
                icon--sun
            </td>

            <td><i class="icon--sun2"></i><br/>
                icon--sun2
            </td>
        </tr>

        <tr>
            <td><i class="icon--adjust"></i><br/>
                icon--adjust
            </td>

            <td><i class="icon--code"></i><br/>
                icon--code
            </td>

            <td><i class="icon--screen"></i><br/>
                icon--screen
            </td>

            <td><i class="icon--infinity"></i><br/>
                icon--infinity
            </td>

            <td><i class="icon--light-bulb"></i><br/>
                icon--light-bulb
            </td>

            <td><i class="icon--creditcard"></i><br/>
                icon--creditcard
            </td>

            <td><i class="icon--database"></i><br/>
                icon--database
            </td>
        </tr>

        <tr>
            <td><i class="icon--voicemail"></i><br/>
                icon--voicemail
            </td>

            <td><i class="icon--clipboard"></i><br/>
                icon--clipboard
            </td>

            <td><i class="icon--box"></i><br/>
                icon--box
            </td>

            <td><i class="icon--ticket"></i><br/>
                icon--ticket
            </td>

            <td><i class="icon--rss"></i><br/>
                icon--rss
            </td>

            <td><i class="icon--signal"></i><br/>
                icon--signal
            </td>

            <td><i class="icon--thermometer"></i><br/>
                icon--thermometer
            </td>
        </tr>

        <tr>
            <td><i class="icon--droplets"></i><br/>
                icon--droplets
            </td>

            <td><i class="icon--uniE680"></i><br/>
                icon--uniE680
            </td>

            <td><i class="icon--statistics"></i><br/>
                icon--statistics
            </td>

            <td><i class="icon--pie"></i><br/>
                icon--pie
            </td>

            <td><i class="icon--bars"></i><br/>
                icon--bars
            </td>

            <td><i class="icon--graph"></i><br/>
                icon--graph
            </td>

            <td><i class="icon--lock"></i><br/>
                icon--lock
            </td>
        </tr>

        <tr>
            <td><i class="icon--lock-open"></i><br/>
                icon--lock-open
            </td>

            <td><i class="icon--login"></i><br/>
                icon--login
            </td>

            <td><i class="icon--minus"></i><br/>
                icon--minus
            </td>

            <td><i class="icon--plus"></i><br/>
                icon--plus
            </td>

            <td><i class="icon--cross2"></i><br/>
                icon--cross2
            </td>

            <td><i class="icon--minus2"></i><br/>
                icon--minus2
            </td>

            <td><i class="icon--cross3"></i><br/>
                icon--cross3
            </td>
        </tr>

        <tr>
            <td><i class="icon--minus3"></i><br/>
                icon--minus3
            </td>

            <td><i class="icon--plus3"></i><br/>
                icon--plus3
            </td>

            <td><i class="icon--erase"></i><br/>
                icon--erase
            </td>

            <td><i class="icon--blocked"></i><br/>
                icon--blocked
            </td>

            <td><i class="icon--info"></i><br/>
                icon--info
            </td>

            <td><i class="icon--info2"></i><br/>
                icon--info2
            </td>

            <td><i class="icon--question"></i><br/>
                icon--question
            </td>
        </tr>

        <tr>
            <td><i class="icon--help"></i><br/>
                icon--help
            </td>

            <td><i class="icon--warning"></i><br/>
                icon--warning
            </td>

            <td><i class="icon--cycle"></i><br/>
                icon--cycle
            </td>

            <td><i class="icon--cw"></i><br/>
                icon--cw
            </td>

            <td><i class="icon--ccw"></i><br/>
                icon--ccw
            </td>

            <td><i class="icon--shuffle"></i><br/>
                icon--shuffle
            </td>

            <td><i class="icon--arrow"></i><br/>
                icon--arrow
            </td>
        </tr>

        <tr>
            <td><i class="icon--arrow2"></i><br/>
                icon--arrow2
            </td>

            <td><i class="icon--retweet"></i><br/>
                icon--retweet
            </td>

            <td><i class="icon--loop"></i><br/>
                icon--loop
            </td>

            <td><i class="icon--history"></i><br/>
                icon--history
            </td>

            <td><i class="icon--back"></i><br/>
                icon--back
            </td>

            <td><i class="icon--list2"></i><br/>
                icon--list2
            </td>

            <td><i class="icon--add-to-list"></i><br/>
                icon--add-to-list
            </td>
        </tr>

        <tr>
            <td><i class="icon--layout2"></i><br/>
                icon--layout2
            </td>

            <td><i class="icon--list3"></i><br/>
                icon--list3
            </td>

            <td><i class="icon--text"></i><br/>
                icon--text
            </td>

            <td><i class="icon--text2"></i><br/>
                icon--text2
            </td>

            <td><i class="icon--document"></i><br/>
                icon--document
            </td>

            <td><i class="icon--docs"></i><br/>
                icon--docs
            </td>

            <td><i class="icon--landscape"></i><br/>
                icon--landscape
            </td>
        </tr>

        <tr>
            <td><i class="icon--pictures"></i><br/>
                icon--pictures
            </td>

            <td><i class="icon--video"></i><br/>
                icon--video
            </td>

            <td><i class="icon--music3"></i><br/>
                icon--music3
            </td>

            <td><i class="icon--folder"></i><br/>
                icon--folder
            </td>

            <td><i class="icon--archive"></i><br/>
                icon--archive
            </td>

            <td><i class="icon--trash"></i><br/>
                icon--trash
            </td>

            <td><i class="icon--upload"></i><br/>
                icon--upload
            </td>
        </tr>

        <tr>
            <td><i class="icon--download"></i><br/>
                icon--download
            </td>

            <td><i class="icon--disk"></i><br/>
                icon--disk
            </td>

            <td><i class="icon--install"></i><br/>
                icon--install
            </td>

            <td><i class="icon--cloud"></i><br/>
                icon--cloud
            </td>

            <td><i class="icon--upload2"></i><br/>
                icon--upload2
            </td>

            <td><i class="icon--bookmark"></i><br/>
                icon--bookmark
            </td>

            <td><i class="icon--bookmarks"></i><br/>
                icon--bookmarks
            </td>
        </tr>

        <tr>
            <td><i class="icon--book2"></i><br/>
                icon--book2
            </td>

            <td><i class="icon--play"></i><br/>
                icon--play
            </td>

            <td><i class="icon--pause"></i><br/>
                icon--pause
            </td>

            <td><i class="icon--record"></i><br/>
                icon--record
            </td>

            <td><i class="icon--stop"></i><br/>
                icon--stop
            </td>

            <td><i class="icon--next"></i><br/>
                icon--next
            </td>

            <td><i class="icon--previous"></i><br/>
                icon--previous
            </td>
        </tr>

        <tr>
            <td><i class="icon--first"></i><br/>
                icon--first
            </td>

            <td><i class="icon--last"></i><br/>
                icon--last
            </td>

            <td><i class="icon--resize-enlarge"></i><br/>
                icon--resize-enlarge
            </td>

            <td><i class="icon--resize-shrink"></i><br/>
                icon--resize-shrink
            </td>

            <td><i class="icon--volume"></i><br/>
                icon--volume
            </td>

            <td><i class="icon--sound"></i><br/>
                icon--sound
            </td>

            <td><i class="icon--mute"></i><br/>
                icon--mute
            </td>
        </tr>


        <tr>
            <td><i class="icon--flow-cascade"></i><br/>
                icon--flow-cascade
            </td>

            <td><i class="icon--flow-branch"></i><br/>
                icon--flow-branch
            </td>

            <td><i class="icon--flow-tree"></i><br/>
                icon--flow-tree
            </td>

            <td><i class="icon--flow-line"></i><br/>
                icon--flow-line
            </td>

            <td><i class="icon--flow-parallel"></i><br/>
                icon--flow-parallel
            </td>

            <td><i class="icon--arrow-left2"></i><br/>
                icon--arrow-left2
            </td>

            <td><i class="icon--arrow-down2"></i><br/>
                icon--arrow-down2
            </td>
        </tr>

        <tr>
            <td><i class="icon--arrow-up-upload"></i><br/>
                icon--arrow-up-upload
            </td>

            <td><i class="icon--arrow-right2"></i><br/>
                icon--arrow-right2
            </td>

            <td><i class="icon--arrow-left3"></i><br/>
                icon--arrow-left3
            </td>

            <td><i class="icon--arrow-down3"></i><br/>
                icon--arrow-down3
            </td>

            <td><i class="icon--arrow-up2"></i><br/>
                icon--arrow-up2
            </td>

            <td><i class="icon--arrow-right3"></i><br/>
                icon--arrow-right3
            </td>

            <td><i class="icon--arrow-left4"></i><br/>
                icon--arrow-left4
            </td>
        </tr>

        <tr>
            <td><i class="icon--arrow-down4"></i><br/>
                icon--arrow-down4
            </td>

            <td><i class="icon--arrow-up3"></i><br/>
                icon--arrow-up3
            </td>

            <td><i class="icon--arrow-right4"></i><br/>
                icon--arrow-right4
            </td>

            <td><i class="icon--arrow-left5"></i><br/>
                icon--arrow-left5
            </td>

            <td><i class="icon--arrow-down5"></i><br/>
                icon--arrow-down5
            </td>

            <td><i class="icon--arrow-up4"></i><br/>
                icon--arrow-up4
            </td>

            <td><i class="icon--arrow-right5"></i><br/>
                icon--arrow-right5
            </td>
        </tr>

        <tr>
            <td><i class="icon--arrow-left6"></i><br/>
                icon--arrow-left6
            </td>

            <td><i class="icon--arrow-down6"></i><br/>
                icon--arrow-down6
            </td>

            <td><i class="icon--arrow-up5"></i><br/>
                icon--arrow-up5
            </td>

            <td><i class="icon--arrow-right6"></i><br/>
                icon--arrow-right6
            </td>

            <td><i class="icon--menu2"></i><br/>
                icon--menu2
            </td>

            <td><i class="icon--ellipsis"></i><br/>
                icon--ellipsis
            </td>

            <td><i class="icon--dots"></i><br/>
                icon--dots
            </td>
        </tr>

        <tr>
            <td><i class="icon--dot"></i><br/>
                icon--dot
            </td>

            <td><i class="icon--cc"></i><br/>
                icon--cc
            </td>

            <td><i class="icon--cc-by"></i><br/>
                icon--cc-by
            </td>

            <td><i class="icon--cc-nc"></i><br/>
                icon--cc-nc
            </td>

            <td><i class="icon--cc-sa"></i><br/>
                icon--cc-sa
            </td>

            <td><i class="icon--cc-nd"></i><br/>
                icon--cc-nd
            </td>

            <td><i class="icon--cc-pd"></i><br/>
                icon--cc-pd
            </td>
        </tr>

        <tr>
            <td><i class="icon--cc-zero"></i><br/>
                icon--cc-zero
            </td>

            <td><i class="icon--cc-share"></i><br/>
                icon--cc-share
            </td>

            <td><i class="icon--cc-share2"></i><br/>
                icon--cc-share2
            </td>

            <td><i class="icon--danielbruce"></i><br/>
                icon--danielbruce
            </td>

            <td><i class="icon--danielbruce2"></i><br/>
                icon--danielbruce2
            </td>

            <td><i class="icon--github"></i><br/>
                icon--github
            </td>

            <td><i class="icon--github2"></i><br/>
                icon--github2
            </td>
        </tr>

        <tr>
            <td><i class="icon--flickr"></i><br/>
                icon--flickr
            </td>

            <td><i class="icon--flickr2"></i><br/>
                icon--flickr2
            </td>

            <td><i class="icon--vimeo"></i><br/>
                icon--vimeo
            </td>

            <td><i class="icon--vimeo2"></i><br/>
                icon--vimeo2
            </td>

            <td><i class="icon--twitter"></i><br/>
                icon--twitter
            </td>

            <td><i class="icon--twitter2"></i><br/>
                icon--twitter2
            </td>

            <td><i class="icon--facebook"></i><br/>
                icon--facebook
            </td>
        </tr>

        <tr>
            <td><i class="icon--facebook2"></i><br/>
                icon--facebook2
            </td>

            <td><i class="icon--facebook3"></i><br/>
                icon--facebook3
            </td>

            <td><i class="icon--googleplus"></i><br/>
                icon--googleplus
            </td>

            <td><i class="icon--googleplus2"></i><br/>
                icon--googleplus2
            </td>

            <td><i class="icon--pinterest"></i><br/>
                icon--pinterest
            </td>

            <td><i class="icon--pinterest2"></i><br/>
                icon--pinterest2
            </td>

            <td><i class="icon--tumblr"></i><br/>
                icon--tumblr
            </td>
        </tr>

        <tr>
            <td><i class="icon--tumblr2"></i><br/>
                icon--tumblr2
            </td>

            <td><i class="icon--linkedin"></i><br/>
                icon--linkedin
            </td>

            <td><i class="icon--linkedin2"></i><br/>
                icon--linkedin2
            </td>

            <td><i class="icon--dribbble"></i><br/>
                icon--dribbble
            </td>

            <td><i class="icon--dribbble2"></i><br/>
                icon--dribbble2
            </td>

            <td><i class="icon--stumbleupon"></i><br/>
                icon--stumbleupon
            </td>

            <td><i class="icon--stumbleupon2"></i><br/>
                icon--stumbleupon2
            </td>
        </tr>

        <tr>
            <td><i class="icon--lastfm"></i><br/>
                icon--lastfm
            </td>

            <td><i class="icon--lastfm2"></i><br/>
                icon--lastfm2
            </td>

            <td><i class="icon--rdio"></i><br/>
                icon--rdio
            </td>

            <td><i class="icon--rdio2"></i><br/>
                icon--rdio2
            </td>

            <td><i class="icon--spotify"></i><br/>
                icon--spotify
            </td>

            <td><i class="icon--spotify2"></i><br/>
                icon--spotify2
            </td>

            <td><i class="icon--qq"></i><br/>
                icon--qq
            </td>
        </tr>

        <tr>
            <td><i class="icon--instagram"></i><br/>
                icon--instagram
            </td>

            <td><i class="icon--dropbox"></i><br/>
                icon--dropbox
            </td>

            <td><i class="icon--evernote"></i><br/>
                icon--evernote
            </td>

            <td><i class="icon--flattr"></i><br/>
                icon--flattr
            </td>

            <td><i class="icon--skype"></i><br/>
                icon--skype
            </td>

            <td><i class="icon--skype2"></i><br/>
                icon--skype2
            </td>

            <td><i class="icon--renren"></i><br/>
                icon--renren
            </td>
        </tr>

        <tr>
            <td><i class="icon--sina-weibo"></i><br/>
                icon--sina-weibo
            </td>

            <td><i class="icon--paypal"></i><br/>
                icon--paypal
            </td>

            <td><i class="icon--picasa"></i><br/>
                icon--picasa
            </td>

            <td><i class="icon--soundcloud"></i><br/>
                icon--soundcloud
            </td>

            <td><i class="icon--mixi"></i><br/>
                icon--mixi
            </td>

            <td><i class="icon--behance"></i><br/>
                icon--behance
            </td>

            <td><i class="icon--circles"></i><br/>
                icon--circles
            </td>
        </tr>

        <tr>
            <td><i class="icon--vk"></i><br/>
                icon--vk
            </td>

            <td><i class="icon--smashing"></i><br/>
                icon--smashing
            </td>

            <td><i class="icon--feed"></i><br/>
                icon--feed
            </td>

            <td><i class="icon--feed2"></i><br/>
                icon--feed2
            </td>
        </tr>
    </tbody>
</table>
```
*/
@font-face {
  font-family: 'shopware';
  src: url('../fonts/shopware.eot?201610171619');
  src: url('../fonts/shopware.eot?#201610171619') format('embedded-opentype'), url('../fonts/shopware.woff?201610171619') format('woff'), url('../fonts/shopware.ttf?201610171619') format('truetype'), url('../fonts/shopware.svg?201610171619') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon--"],
[class*=" icon--"] {
  font-family: 'shopware';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon--percent2:before {
  content: "\e723";
}
.icon--percent:before {
  content: "\e722";
}
.icon--coupon:before {
  content: "\e71c";
}
.icon--truck:before {
  content: "\e71d";
}
.icon--logout:before {
  content: "\e614";
}
.icon--grid:before {
  content: "\e615";
}
.icon--filter:before {
  content: "\e616";
}
.icon--clock:before {
  content: "\e617";
}
.icon--arrow-up:before {
  content: "\e610";
}
.icon--arrow-right:before {
  content: "\e60f";
}
.icon--arrow-left:before {
  content: "\e611";
}
.icon--arrow-down:before {
  content: "\e612";
}
.icon--star:before {
  content: "\e600";
}
.icon--star-half:before {
  content: "\e71e";
}
.icon--star-empty:before {
  content: "\e601";
}
.icon--shopware:before {
  content: "\e602";
}
.icon--service:before {
  content: "\e603";
}
.icon--search:before {
  content: "\e604";
}
.icon--numbered-list:before {
  content: "\e605";
}
.icon--menu:before {
  content: "\e606";
}
.icon--mail:before {
  content: "\e607";
}
.icon--list:before {
  content: "\e608";
}
.icon--layout:before {
  content: "\e609";
}
.icon--heart:before {
  content: "\e60a";
}
.icon--cross:before {
  content: "\e60d";
}
.icon--compare:before {
  content: "\e60b";
}
.icon--check:before {
  content: "\e60c";
}
.icon--basket:before {
  content: "\e60e";
}
.icon--account:before {
  content: "\e613";
}
.icon--chain:before {
  content: "\f0c1";
}
.icon--delicious:before {
  content: "\f1a5";
}
.icon--delicious2:before {
  content: "\e721";
}
.icon--digg:before {
  content: "\f1a6";
}
.icon--phone:before {
  content: "\e619";
}
.icon--mobile:before {
  content: "\e61d";
}
.icon--mouse:before {
  content: "\e61e";
}
.icon--directions:before {
  content: "\e61f";
}
.icon--paperplane:before {
  content: "\e620";
}
.icon--pencil:before {
  content: "\e618";
}
.icon--feather:before {
  content: "\e621";
}
.icon--paperclip:before {
  content: "\e622";
}
.icon--drawer:before {
  content: "\e623";
}
.icon--reply:before {
  content: "\e624";
}
.icon--reply-all:before {
  content: "\e625";
}
.icon--forward:before {
  content: "\e626";
}
.icon--users:before {
  content: "\e627";
}
.icon--user-add:before {
  content: "\e628";
}
.icon--vcard:before {
  content: "\e629";
}
.icon--export:before {
  content: "\e62a";
}
.icon--location:before {
  content: "\e62b";
}
.icon--map:before {
  content: "\e62c";
}
.icon--compass:before {
  content: "\e62d";
}
.icon--location2:before {
  content: "\e62e";
}
.icon--target:before {
  content: "\e62f";
}
.icon--share:before {
  content: "\e630";
}
.icon--sharable:before {
  content: "\e631";
}
.icon--thumbsup:before {
  content: "\e632";
}
.icon--thumbsdown:before {
  content: "\e633";
}
.icon--chat:before {
  content: "\e634";
}
.icon--comment:before {
  content: "\e61a";
}
.icon--quote:before {
  content: "\e635";
}
.icon--house:before {
  content: "\e636";
}
.icon--popup:before {
  content: "\e637";
}
.icon--flashlight:before {
  content: "\e638";
}
.icon--printer:before {
  content: "\e639";
}
.icon--bell:before {
  content: "\e63a";
}
.icon--link:before {
  content: "\e63b";
}
.icon--flag:before {
  content: "\e63c";
}
.icon--cog:before {
  content: "\e63d";
}
.icon--tools:before {
  content: "\e63e";
}
.icon--trophy:before {
  content: "\e63f";
}
.icon--tag:before {
  content: "\e640";
}
.icon--camera:before {
  content: "\e641";
}
.icon--megaphone:before {
  content: "\e642";
}
.icon--moon:before {
  content: "\e643";
}
.icon--palette:before {
  content: "\e644";
}
.icon--leaf:before {
  content: "\e645";
}
.icon--music:before {
  content: "\e646";
}
.icon--music2:before {
  content: "\e647";
}
.icon--new:before {
  content: "\e648";
}
.icon--graduation:before {
  content: "\e649";
}
.icon--book:before {
  content: "\e64a";
}
.icon--newspaper:before {
  content: "\e64b";
}
.icon--bag:before {
  content: "\e64c";
}
.icon--airplane:before {
  content: "\e64d";
}
.icon--lifebuoy:before {
  content: "\e64e";
}
.icon--eye:before {
  content: "\e64f";
}
.icon--clock2:before {
  content: "\e650";
}
.icon--microphone:before {
  content: "\e651";
}
.icon--calendar:before {
  content: "\e652";
}
.icon--bolt:before {
  content: "\e653";
}
.icon--thunder:before {
  content: "\e654";
}
.icon--droplet:before {
  content: "\e655";
}
.icon--cd:before {
  content: "\e656";
}
.icon--briefcase:before {
  content: "\e657";
}
.icon--air:before {
  content: "\e658";
}
.icon--hourglass:before {
  content: "\e659";
}
.icon--gauge:before {
  content: "\e65a";
}
.icon--language:before {
  content: "\e65b";
}
.icon--network:before {
  content: "\e65c";
}
.icon--key:before {
  content: "\e65d";
}
.icon--battery:before {
  content: "\e65e";
}
.icon--bucket:before {
  content: "\e65f";
}
.icon--magnet:before {
  content: "\e660";
}
.icon--drive:before {
  content: "\e661";
}
.icon--cup:before {
  content: "\e662";
}
.icon--rocket:before {
  content: "\e663";
}
.icon--brush:before {
  content: "\e664";
}
.icon--suitcase:before {
  content: "\e665";
}
.icon--cone:before {
  content: "\e666";
}
.icon--earth:before {
  content: "\e667";
}
.icon--keyboard:before {
  content: "\e668";
}
.icon--browser:before {
  content: "\e669";
}
.icon--publish:before {
  content: "\e66a";
}
.icon--progress-3:before {
  content: "\e66b";
}
.icon--progress-2:before {
  content: "\e66c";
}
.icon--progress-1:before {
  content: "\e66d";
}
/*
    for backwards-compatibility
    @deprecated
*/
.icon--brogress-1:before {
  content: "\e66d";
}
.icon--progress-0:before {
  content: "\e66e";
}
.icon--sun:before {
  content: "\e66f";
}
.icon--sun2:before {
  content: "\e670";
}
.icon--adjust:before {
  content: "\e671";
}
.icon--code:before {
  content: "\e672";
}
.icon--screen:before {
  content: "\e673";
}
.icon--infinity:before {
  content: "\e674";
}
.icon--light-bulb:before {
  content: "\e675";
}
.icon--creditcard:before {
  content: "\e676";
}
.icon--database:before {
  content: "\e677";
}
.icon--voicemail:before {
  content: "\e678";
}
.icon--clipboard:before {
  content: "\e679";
}
.icon--box:before {
  content: "\e67a";
}
.icon--ticket:before {
  content: "\e67b";
}
.icon--rss:before {
  content: "\e67c";
}
.icon--signal:before {
  content: "\e67d";
}
.icon--thermometer:before {
  content: "\e67e";
}
.icon--droplets:before {
  content: "\e67f";
}
.icon--uniE680:before {
  content: "\e680";
}
.icon--statistics:before {
  content: "\e681";
}
.icon--pie:before {
  content: "\e682";
}
.icon--bars:before {
  content: "\e683";
}
.icon--graph:before {
  content: "\e684";
}
.icon--lock:before {
  content: "\e685";
}
.icon--lock-open:before {
  content: "\e686";
}
.icon--login:before {
  content: "\e687";
}
.icon--minus:before {
  content: "\e688";
}
.icon--plus:before {
  content: "\e689";
}
.icon--cross2:before {
  content: "\e68a";
}
.icon--minus2:before {
  content: "\e68b";
}
.icon--plus2:before {
  content: "\e68c";
}
.icon--cross3:before {
  content: "\e68d";
}
.icon--minus3:before {
  content: "\e68e";
}
.icon--plus3:before {
  content: "\e68f";
}
.icon--erase:before {
  content: "\e690";
}
.icon--blocked:before {
  content: "\e691";
}
.icon--info:before {
  content: "\e61b";
}
.icon--info2:before {
  content: "\e692";
}
.icon--question:before {
  content: "\e693";
}
.icon--help:before {
  content: "\e694";
}
.icon--warning:before {
  content: "\e695";
}
.icon--cycle:before {
  content: "\e696";
}
.icon--cw:before {
  content: "\e697";
}
.icon--ccw:before {
  content: "\e698";
}
.icon--shuffle:before {
  content: "\e699";
}
.icon--arrow:before {
  content: "\e69a";
}
.icon--arrow2:before {
  content: "\e69b";
}
.icon--retweet:before {
  content: "\e69c";
}
.icon--loop:before {
  content: "\e69d";
}
.icon--history:before {
  content: "\e69e";
}
.icon--back:before {
  content: "\e69f";
}
.icon--list2:before {
  content: "\e6a0";
}
.icon--add-to-list:before {
  content: "\e6a1";
}
.icon--layout2:before {
  content: "\e6a2";
}
.icon--list3:before {
  content: "\e6a3";
}
.icon--text:before {
  content: "\e6a4";
}
.icon--text2:before {
  content: "\e6a5";
}
.icon--document:before {
  content: "\e6a6";
}
.icon--docs:before {
  content: "\e6a7";
}
.icon--landscape:before {
  content: "\e6a8";
}
.icon--pictures:before {
  content: "\e6a9";
}
.icon--video:before {
  content: "\e6aa";
}
.icon--music3:before {
  content: "\e6ab";
}
.icon--folder:before {
  content: "\e6ac";
}
.icon--archive:before {
  content: "\e6ad";
}
.icon--trash:before {
  content: "\e6ae";
}
.icon--upload:before {
  content: "\e6af";
}
.icon--download:before {
  content: "\e6b0";
}
.icon--disk:before {
  content: "\e6b1";
}
.icon--install:before {
  content: "\e61c";
}
.icon--cloud:before {
  content: "\e6b2";
}
.icon--upload2:before {
  content: "\e6b3";
}
.icon--bookmark:before {
  content: "\e6b4";
}
.icon--bookmarks:before {
  content: "\e6b5";
}
.icon--book2:before {
  content: "\e6b6";
}
.icon--play:before {
  content: "\e6b7";
}
.icon--pause:before {
  content: "\e6b8";
}
.icon--record:before {
  content: "\e6b9";
}
.icon--stop:before {
  content: "\e6ba";
}
.icon--next:before {
  content: "\e6bb";
}
.icon--previous:before {
  content: "\e6bc";
}
.icon--first:before {
  content: "\e6bd";
}
.icon--last:before {
  content: "\e6be";
}
.icon--resize-enlarge:before {
  content: "\e6bf";
}
.icon--resize-shrink:before {
  content: "\e6c0";
}
.icon--volume:before {
  content: "\e6c1";
}
.icon--sound:before {
  content: "\e6c2";
}
.icon--mute:before {
  content: "\e6c3";
}
.icon--flow-cascade:before {
  content: "\e6c4";
}
.icon--flow-branch:before {
  content: "\e6c5";
}
.icon--flow-tree:before {
  content: "\e6c6";
}
.icon--flow-line:before {
  content: "\e6c7";
}
.icon--flow-parallel:before {
  content: "\e6c8";
}
.icon--arrow-left2:before {
  content: "\e6c9";
}
.icon--arrow-down2:before {
  content: "\e6ca";
}
.icon--arrow-up-upload:before {
  content: "\e6cb";
}
.icon--arrow-right2:before {
  content: "\e6cc";
}
.icon--arrow-left3:before {
  content: "\e6cd";
}
.icon--arrow-down3:before {
  content: "\e6ce";
}
.icon--arrow-up2:before {
  content: "\e6cf";
}
.icon--arrow-right3:before {
  content: "\e6d0";
}
.icon--arrow-left4:before {
  content: "\e6d1";
}
.icon--arrow-down4:before {
  content: "\e6d2";
}
.icon--arrow-up3:before {
  content: "\e6d3";
}
.icon--arrow-right4:before {
  content: "\e6d4";
}
.icon--arrow-left5:before {
  content: "\e6d5";
}
.icon--arrow-down5:before {
  content: "\e6d6";
}
.icon--arrow-up4:before {
  content: "\e6d7";
}
.icon--arrow-right5:before {
  content: "\e6d8";
}
.icon--arrow-left6:before {
  content: "\e6d9";
}
.icon--arrow-down6:before {
  content: "\e6da";
}
.icon--arrow-up5:before {
  content: "\e6db";
}
.icon--arrow-right6:before {
  content: "\e6dc";
}
.icon--menu2:before {
  content: "\e6dd";
}
.icon--ellipsis:before {
  content: "\e6de";
}
.icon--dots:before {
  content: "\e6df";
}
.icon--dot:before {
  content: "\e6e0";
}
.icon--cc:before {
  content: "\e6e1";
}
.icon--cc-by:before {
  content: "\e6e2";
}
.icon--cc-nc:before {
  content: "\e6e3";
}
.icon--cc-nc-eu:before {
  content: "\e6e4";
}
.icon--cc-nc-jp:before {
  content: "\e6e5";
}
.icon--cc-sa:before {
  content: "\e6e6";
}
.icon--cc-nd:before {
  content: "\e6e7";
}
.icon--cc-pd:before {
  content: "\e6e8";
}
.icon--cc-zero:before {
  content: "\e6e9";
}
.icon--cc-share:before {
  content: "\e6ea";
}
.icon--cc-share2:before {
  content: "\e6eb";
}
.icon--danielbruce:before {
  content: "\e6ec";
}
.icon--danielbruce2:before {
  content: "\e6ed";
}
.icon--github:before {
  content: "\e6ee";
}
.icon--github2:before {
  content: "\e6ef";
}
.icon--flickr:before {
  content: "\e6f0";
}
.icon--flickr2:before {
  content: "\e6f1";
}
.icon--vimeo:before {
  content: "\e6f2";
}
.icon--vimeo2:before {
  content: "\e6f3";
}
.icon--twitter:before {
  content: "\e6f4";
}
.icon--twitter2:before {
  content: "\e6f5";
}
.icon--facebook:before {
  content: "\e6f6";
}
.icon--facebook2:before {
  content: "\e6f7";
}
.icon--facebook3:before {
  content: "\e6f8";
}
.icon--googleplus:before {
  content: "\e6f9";
}
.icon--googleplus2:before {
  content: "\e6fa";
}
.icon--pinterest:before {
  content: "\e6fb";
}
.icon--pinterest2:before {
  content: "\e6fc";
}
.icon--tumblr:before {
  content: "\e6fd";
}
.icon--tumblr2:before {
  content: "\e6fe";
}
.icon--linkedin:before {
  content: "\e6ff";
}
.icon--linkedin2:before {
  content: "\e700";
}
.icon--dribbble:before {
  content: "\e701";
}
.icon--dribbble2:before {
  content: "\e702";
}
.icon--stumbleupon:before {
  content: "\e703";
}
.icon--stumbleupon2:before {
  content: "\e704";
}
.icon--lastfm:before {
  content: "\e705";
}
.icon--lastfm2:before {
  content: "\e706";
}
.icon--rdio:before {
  content: "\e707";
}
.icon--rdio2:before {
  content: "\e708";
}
.icon--spotify:before {
  content: "\e709";
}
.icon--spotify2:before {
  content: "\e70a";
}
.icon--qq:before {
  content: "\e70b";
}
.icon--instagram:before {
  content: "\e70c";
}
.icon--dropbox:before {
  content: "\e70d";
}
.icon--evernote:before {
  content: "\e70e";
}
.icon--flattr:before {
  content: "\e70f";
}
.icon--skype:before {
  content: "\e710";
}
.icon--skype2:before {
  content: "\e711";
}
.icon--renren:before {
  content: "\e712";
}
.icon--sina-weibo:before {
  content: "\e713";
}
.icon--paypal:before {
  content: "\e714";
}
.icon--picasa:before {
  content: "\e715";
}
.icon--soundcloud:before {
  content: "\e716";
}
.icon--mixi:before {
  content: "\e717";
}
.icon--behance:before {
  content: "\e718";
}
.icon--circles:before {
  content: "\e719";
}
.icon--vk:before {
  content: "\e71a";
}
.icon--smashing:before {
  content: "\e71b";
}
.icon--feed:before {
  content: "\e71f";
}
.icon--feed2:before {
  content: "\e720";
}
/*
######A paging navigation for pagination content.
```
<div class="panel--paging">
    <a href=""><i class="icon--arrow-left"></i></a>
    <a href="">1</a>
    <a href="">2</a>
    <a href="">...</a>
    <a href=""><i class="icon--arrow-right"></i></a>
</div>
```
*/
.panel--paging {
    display: table;
    margin: 0 auto 1.25rem;
    margin: 0 auto 20px;
}
.panel--paging .paging--link {
  padding: 0px 10px 0px 10px;
  padding: 0rem 0.625rem 0rem 0.625rem;
  margin: 0px 1px 0px 1px;
  margin: 0rem 0.0625rem 0rem 0.0625rem;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 30px;
  line-height: 1.875rem;
  border-radius: 3px;
  background-clip: padding-box;
  display: inline-block;
  font-weight: normal;
  text-align: center;
  border: 1px solid #dadae5;
  color: #5f7285;
}
.panel--paging .paging--link [class^="icon--"] {
  font-size: 10px;
  font-size: 0.625rem;
}
.panel--paging .paging--link.is--active,
.panel--paging .paging--link.is--active:hover {
  line-height: 32px;
  line-height: 2rem;
  background-color: #846140;
  color: #ffffff;
  border: 0 none;
  font-weight: bold;
  cursor: default;
}
.panel--paging .paging--link:hover {
  background: #ffffff;
  color: #846140;
  border-color: #846140;
}



.product--details .product--base-info {
  margin: 10px 0px 10px 0px;
  margin: 0.625rem 0rem 0.625rem 0rem;
  font-size: 14px;
  font-size: 0.875rem;
}
.product--details .product--base-info .entry--label {
  margin: 0px 8px 0px 0px;
  margin: 0rem 0.5rem 0rem 0rem;
  width: 35%;
  display: inline-block;
}
.product--details .content--description,
.product--details .content--product-reviews,
.product--details .content--related-products,
.product--details .content--similar-products {
  padding: 10px 10px 10px 10px;
  padding: 0.625rem 0.625rem 0.625rem 0.625rem;
}
.product--details .product--properties {
  margin: 0px 0px 10px 0px;
  margin: 0rem 0rem 0.625rem 0rem;
}