.container .warenkorb{
	background-color: #fbfaf9;
    width: 100%;
}
.warenkorb-border, .warenkorb-border-top, .warenkorb-border-bottom{
	width: 99%;
    position: relative;
    display: inline-block;
    margin-left: 0px;
}
.warenkorb-border, .warenkorb-border-top{
	border-bottom: 1px solid #cccccc;
}
.warenkorb-border-bottom{
	border-bottom: 1px solid #999999;
}
.warenkorb-border-top{
	top:-15px;
}
.warenkorb-left, .warenkorb-right{
	margin: 0px 0px 0px 0px;
}

.warenkorb-right span{
	margin-left: 10px;
}
.warenkorb-right {
    text-align: right;
	padding: 0px 10px;
}

.nopadding {
   padding: 0 !important;
}
.nopadding-left {
   padding-left: 0 !important;
}
.nopadding-right {
   padding-right: 0 !important;
}
/* .warenkorb-article-body ul , .total-price ul {
    list-style: none;
} */
.warenkorb-article-body ul , .total-price ul , .warenkorb-right ul{
	/* display: inline-flex; */
    position: relative;
	list-style: none;
}
.warenkorb-article-total{
	top: -5px;
}
.main-button, .paypal-button {
    left: 0px;
	margin-top: 15px;
}
.paypal-button{
	margin: 20px 0px 30px 0px;
}
.paypal-button img{
	cursor: pointer;
}
a.total-price-button{
    padding: 10px 50px 10px 66px;
    background-color: #846341;
    border: 0px;
    border-radius: 0px;
    color: #ffffff;
    cursor: pointer;
    font-weight: normal;
    position: relative;
    float: left;
    width: 100%;
}
input.warenkor-checkbox{
	float: left;
    top: 3px;
    position: relative;
}

 a.head-button,
 button.head-button,
 button.bottom-button-left,
 button.bottom-button-right,
 button.bottom-button{
	background: #846140;
    color: #FFF;
    margin-bottom: 10px;
    line-height: 32px;
    line-height: 2.2rem;
    border: none;
    display: inline-block;
    cursor: pointer;
	height: 36px;
	text-align: center;
    border-radius: 0;
    background-clip: padding-box;
}
button.bottom-button-white{
	margin-bottom: 10px;
    line-height: 32px;
    line-height: 3.5rem;
    border: none;
    display: inline-block;
    cursor: pointer;
	height: 36px;
	text-align: center;
    border-radius: 0;
    background-clip: padding-box;
	color: #846341;
	background-color:#ffffff;
}
button.bottom-button-transparent{
	margin-bottom: 10px;
    line-height: 32px;
    line-height: 3.5rem;
    border: none;
    display: inline-block;
    cursor: pointer;
	height: 36px;
	text-align: center;
    border-radius: 0;
    background-clip: padding-box;
	color: #846341;
	background-color:transparent;
}
a.head-button{
	width: 225px;
 }
button.head-button
{
	width: 295px;
}
button.bottom-button-left,
button.bottom-button-right{
	width: 270px;
}
a.head-button-white{
	background: #FFFFFF;
    color: #846140;
    margin-bottom: 10px;
    line-height: 32px;
    line-height: 2.2rem;
    border: none;
    display: inline-block;
    cursor: pointer;
	text-align: center;
    width: 225px;
    height: 36px;
    border-radius: 0;
    background-clip: padding-box;
}

a.total-price-button::after{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -20px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 14px solid;
    right: -14px;
}
a.head-button::after,
a.head-button::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -23px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 1em solid;
    right: -35px;
}
button.head-button::after,
button.head-button::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -23px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 1em solid;
    right:0px;
}

button.bottom-button-right::after,
button.bottom-button-right::before{
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -23px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-left: 1em solid;
    right:-14px;
}

button.bottom-button-left::after,
button.bottom-button-left::before{
	content: "";
    position: absolute;
    top: 50%;
    margin-top: -23px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 1em solid;
    left: 1px;
}
button.bottom-button-white::after,
button.bottom-button-white::before{
	content: "";
    position: absolute;
    top: 50%;
    margin-top: -18px;
    border-top: 18px solid transparent;
    border-bottom: 18px solid transparent;
    border-right: 1em solid;
    left: -14px;
}

a.total-price-button:hover:after,
a.total-price-button:hover:before,
a.head-button:hover:after,
a.head-button:hover:before,
button.head-button:hover:after,
button.head-button:hover:before,
button.bottom-button-left:hover:after,
button.bottom-button-left:hover:before,
button.bottom-button-right:hover:after,
button.bottom-button-right:hover:before,
button.bottom-button-white:hover:after,
button.bottom-button-white:hover:before{
	border-left-color: #ff6600;
	border-right-color: #ff6600;
}
button.bottom-button-white:before {
	border-left-color: transparent;
	border-right-color: transparent;
}
a.total-price-button::after,
a.head-button::after ,
button.head-button::after,
button.bottom-button-left::after ,
button.bottom-button-right::after
 {
	z-index: 2;
	border-left-color: #846341;
	border-right-color: #846341;
}
button.bottom-button-white::after{
	z-index: 2;
	border-left-color: transparent;
	border-right-color: transparent;
}

.warenkorb-article-total .total-price {
    font-weight: bold;
	color: #666666;
}
.line-height-0{
	line-height: 0px !important;
}
.warenkorb-article-summe{
	padding-top: 20px;
	/* padding-bottom: 10px; */
}
.float-right {
    float: right !important;
}.float-left {
    float: left !important;
}
/* .warenkorb-article-body ul li p, .warenkorb-article-body ul li span, .warenkorb-article-body ul li a {
	top: 15px;
	position: relative;
} */
.warenkorb-article-body ul li a {
	text-decoration: underline;
	color: #846140;
}

.text-align-center{
	text-align: center !important;
}
.warenkorb-article-body ul li span, .warenkorb-article-body ul li a{
	text-align:right;
}
input.form-warenkorb {
	border-radius: 4px;
    background-color: #ffffff;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    text-align: left;
    outline-style: none;
}
form.warenkorb-forma {
    position: relative;
    display: inline-flex;
}
form.warenkorb-forma input[type="submit"],
form.warenkorb-forma button[type="submit"]{
	width: 119px;
    height: 40px;
    padding: 0px 25px 0px 25px;
    border-radius: 0px;
	margin-left:10px;
	border: 0px;
	background-color: #f2f2f2;
	color: #83603f;
}
form.warenkorb-forma input[type="submit"]:hover,
form.warenkorb-forma button[type="submit"]:hover,
a.total-price-button:hover,
a.head-button:hover,
button.head-button:hover,
button.bottom-button-left:hover,
button.bottom-button-right:hover,
button.bottom-button-white:hover,
button.bottom-button:hover{
	background-color: #ff6600;
	color: #ffffff;
}
button.bottom-button-transparent:hover{
	background-color: #846140;
	color: #ffffff;
}
.warenkorb-article-body ul li span, .warenkorb-article-body ul li p.navbar-text {
    text-align: right;
}
/******************************* popup_thumbnail-1 ***********************************/

.button-head {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.noleft{
	left: 0px !important;
}
.warenkorb-article-head{
	/* line-height: 80px; */
}
.button-active{
	background-color: #b7a38f !important;
}
a.head-button.button-active::after{
	border-left-color: #b7a38f !important;
}
.article-1 {
    margin-top: 10px;
}
a.andern {
    font-size: 12px;
    text-decoration: underline;
    margin-left: 10px;
    position: relative;
    float: left;
    color:#856242;
    top: 2px;
}
.element-center{
	float:none;
	margin:0 auto
}
.top-0{
	top: 0px !important;
}
.margin-bottom-0{
	margin-bottom: 0px !important;
}
.margin-top-15{
	margin-top: 15px !important;
}
.lieferadresse h4, .warenkorb-container h4, .warenkorb-article-head span{
	/* float: left; */
}
.margin-r50{
	margin-right: 45px;
}
.border-right{
	border-right:1px solid #999999;
	height: 100%;
}
.lieferadresse{
    bottom: 0px;
    padding-left: 0px;
}
.border-right-small{
	border-right:1px solid #999999;
	height: 460px;
}
.border-right-smaller{
	border-right:1px solid #999999;
}
.border-right-white{
	border-right:1px solid #ffffff;
	height: 560px;
}
.border-right-white-small{
	border-right:1px solid #ffffff;
	height: 460px;
}
.border-right-white-smaller{
	border-right:1px solid #ffffff;
	height: 200px;
}
.padding-top-bottom-30{
	padding: 40px 15px;
}
.padding-top-bottom-20{
	padding: 20px 15px;
}

.rechnungsadresse p {
    color: #999999;
    text-align: left;
    line-height: 15px;
}
.padding-top-15{
	padding:15px 0px 0px 0px;
}
.paddint-t-b-15{
	padding:15px 0px 15px 0px;
}
.warenkorb-container {
    padding: 0px 25px;
}

form.zahlung-forma input, form.zahlung-forma select {
    margin: 0px 10px 12px 0px;
	border-radius: 0px;
    width: 100%;
}
.warenkorb-container .zahlung-forma input {
    width: auto;
}
.warenkorb-container span.registrierung{
	text-align: center;
    margin: 15px 0px;
	color: #846140;
}
.warenkorb-container span.passwort{
	text-align: right;
	top:-12px;
    margin: 0px 0px 0px 0px;
	color: #846140;
}
.warenkorb-container a {
    margin: 0px 0px 0px 10px;
}
form.zahlung-forma input:focus {
    outline-color: transparent;
	border-radius: 0px;
}
form.zahlung-forma label {
    visibility: visible;
    top: 0px;
    left: 0px;
    position: relative;
}
form.zahlung-forma label {
	display: none;
    font-size: 11px;
    color: #999999;
    display: none;
	font-weight:normal;
}
.payment--method .jcf-radio.jcf-checked span {
    background: grey;
}
/******************************* popup_thumbnail-2 ***********************************/

/* form.zahlung-forma select{
	width: 100%;
    height: 40px;
    border: 1px solid #CCCCCC;
    padding: 0 15px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    color: #666;
} */
.margin-top-30{
	margin-top: 30px;
}
.margin-bottom-30{
	margin-bottom: 30px;
}
.margin-bottom-20{
	margin-bottom: 20px;
}
.margin-bottom-15{
	margin-bottom: 15px;
}
.margin-r{
	margin-right: 10px;
}
.bottom-0{
	position: absolute;
    bottom: 0px;
}
.article-1 ul li a.content--title{
	font-size: 14px;
    text-decoration: none;
    font-weight: normal;
}
.article-1 ul li form button.btn{
	border: 0px;
    background-color: transparent;
    text-decoration: underline;
    color: #846140;
}
.account--welcome,
.account-info--container,
.account-address--container,
.account--newsletter {
    margin-bottom: 15px;
}
.account--box,
.account--success {
    background-color: #fbfaf9;
}
.account--box .panel--actions .btn {
    margin: 0;
    padding: 0;
}
#registration textarea,
#registration .zahlung-forma,
#registration input[type="text"],
#registration input[type="search"],
#registration input[type="password"],
#registration input[type="number"],
#registration input[type="email"],
#registration input[type="tel"],
.zahlung-forma textarea,
.zahlung-forma .zahlung-forma,
.zahlung-forma input[type="text"],
.zahlung-forma input[type="search"],
.zahlung-forma input[type="password"],
.zahlung-forma input[type="number"],
.zahlung-forma input[type="email"],
.zahlung-forma input[type="tel"] {
	width: 100%;
}
#confirm--form .warenkor-checkbox {
	width: auto;
}
/* <!--------------------------- RESPONSIVE -------------------------------------> */




@media (min-width: 768px){
	.button-head {
		width: 750px;
	}
}
@media (min-width: 992px){
	.button-head {
		width: 970px;
	}
}
@media (min-width: 1200px){
	.button-head {
		width: 1170px;
	}
}



@media(max-width: 1200px){
	a.total-price-button{
		padding: 10px 40px 10px 41px;
	}
	.warenkorb-article-body ul li span, .warenkorb-article-body ul li a{
		margin: 15px 0px 15px 0px;
		font-size: 13px;
	}
	.warenkorb-article-body ul li.price{
		padding: 0px;
	}
	.warenkorb-article-body ul li span, .warenkorb-article-body ul li p.navbar-text {
		width: 100%;
	}

	/*********************************** popup_thumbnail-1 *******************************/

	a.head-button {
		width: 188px;
	}

	button.head-button,
	button.bottom-button-left,
	button.bottom-button-right {
		width: 238px;
	}
}
@media(max-width: 991px){
	.warenkorb-article-body ul li span, .warenkorb-article-body ul li a{
		font-size: 12px;
	}
	.warenkorb-article-body ul li span, .warenkorb-article-body ul li p.navbar-text {
		width: auto;
	}
	.warenkorb-article-body ul li span{
		float: right;
	}
	.mobile-float-right{
		float: right;
	}
	.warenkorb-article-head, .warenkorb-article-body ul, .total-price ul, .warenkorb-right ul{
		padding-right: 0px;
	}
	.warenkorb-article-summe ul li, .warenkorb-article-total ul li{
		padding: 0px;

	}
	.warenkorb-article-total .total-price{
		padding-right: 0px;
	}
	a.total-price-button::after, a.total-price-button::before{
		right: -14px;
	}
	.main-button, .paypal-button{
		left: 0px;
	}
	a.head-button::after, a.head-button::before{
		right: -26px;
	}
	button.head-button,
	button.bottom-button-left,
	button.bottom-button-right{
		width: 165px;
	}

}
@media(max-width: 767px){
	a.total-price-button::after, a.total-price-button::before {
		right: 16px;
	}
	.navbar-text{
		float: left;
		margin-left: 15px;
		margin-right: 15px;
	}
	.product--table .warenkorb-article-summe .total-price {
		float: left !important;
		width: 100%;
	}
	.product--table .warenkorb-article-summe .total-price ul{
		padding-right: 15px;		
	}
	.warenkorb-article-total {
		 top: 0; 
	}
	.warenkorb-article-total .main-button {
		padding: 0;
		width: 100%;
	}
	.warenkorb-article-total .main-button a {
		width: 96%;
	}
	.warenkorb-article-total .main-button a::after {
		right: -14px;
	}
	.warenkorb-article-total .total-price {
		padding: 0;
		width: 100%;
		text-align: center;
	}
	.warenkorb-article-total .total-price-button{
		width: 100%;
	}
	.warenkorb .paypal-express--container > .paypal-express {
		float: right;
		padding: 20px;
	}
	.warenkorb .product--table .paypal-express{
		margin-bottom: 0
	}
	button.head-button,
	button.bottom-button-left,
	button.bottom-button-right{
		width: 100%;
	}
	#payment_steps .border-right {
		border-right: 0;
	}
	#payment_steps .jcf-select {
		min-width: none;
		width: 100%;
	}
	a.head-button {
		width: 100%;
	}
	a.head-button::after, 
	a.head-button::before {
		right: 0;
	}
}
